<template>
<v-app class="bg-transparent mb-2" dark>
    <div>
        <b-card>
            <label for="pilih">Jabatan <span v-if="jabatan">{{jabatan.jenis_jabatan}}</span></label>
            <v-autocomplete v-model="jabatan" :items="posTupoksi" item-text="jabatan" return-object
                outlined dense hide-details="auto" placeholder="silahkan pilih jabatan" clearable
                @change="tupoksiJabatan()" :disabled="loading" >
                <template slot="append" v-if="loading">
                    <v-progress-circular indeterminate color="primary" :size="23"></v-progress-circular>
                </template>
            </v-autocomplete>
        </b-card>
        <transition name="success">
        <b-card no-body class="mb-0" v-if="jabatan">
            <div class="m-2">
                <b-row>
                    <b-col class="d-flex align-items-center justify-content-start mb-1 mb-md-0 order-2 order-md-1" >
                        <b-row>
                            <b-col v-if="sTable.filters.nama.active">
                                <b-input-group prepend="Butir Kegiatan">
                                <b-form-input  v-model="sTable.filters.nama.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nama.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col cols="12" lg="auto" md="12" class="d-flex order-1 order-md-2 justify-content-between">
                        <v-btn color="primary" @click.prevent="$refs.tupoksiModal.addModal()">
                            <v-icon left>mdi-plus</v-icon>
                            <span class="text-capitalize"> Tupoksi</span>
                        </v-btn>
                    </b-col>
                </b-row>
            </div>

            <div class="card-body table-responsive table-invoice p-0 mb-0" id="table">
                <!-- style="height: 450px" -->
                <v-table class="wrap table table-hover text-nowrap" id="table"
                :data="tupoksi"
                :currentPage.sync="sTable.currentPage"
                :pageSize="sTable.pagination"
                :filters="sTable.filters"
                @totalItemsChanged="sTable.totalItem = $event"
                @totalPagesChanged="sTable.totalPages = $event">
                <thead slot="head">
                    <tr>
                        <v-th sortKey="butir_kegiatan">Butir Kegiatan</v-th>
                        <v-th sortKey="angka_kredit" v-if="jabatan.jenis_jabatan == 'JFT'">Angka Kredit</v-th>
                        <v-th sortKey="satuan_hasil">Satuan Hasil</v-th>
                        <v-th sortKey="qty">Kuantiti</v-th>
                    </tr>
                </thead>
                <tbody slot="body" slot-scope="{displayData}">
                    <tr role="row" class="b-table-busy-slot" v-if="loading">
                        <td colspan="4" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <span aria-hidden="true" class="align-middle spinner-border"></span>
                                <strong>Loading...</strong>
                            </div>
                        </td>
                    </tr>
                    <tr role="row" class="b-table-busy-slot" v-if="sTable.totalItem === 0 && !loading">
                        <td colspan="4" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <strong v-if="sTable.filters.nama.value == ''">Tupoksi belum ditentukan</strong>
                                <strong v-else>Tupoksi tidak ditemukan</strong>
                            </div>
                        </td>
                    </tr>
                    <template v-if="sTable.totalItem !== 0 && !loading">
                    <tr v-for="(row) in displayData" :key="row.id" class="" :id="'row'+row.id">
                        <v-menu transition="slide-y-transition" absolute offset-y >
                        <template v-slot:activator="{ on, attrs }">
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.butir_kegiatan}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.qty}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.satuan_hasil}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on" v-if="jabatan.jenis_jabatan == 'JFT'">{{row.angka_kredit}}</td>
                        </template>
                        <v-list>
                            <v-list-item @click.prevent="$refs.tupoksiModal.editModal(row)">
                                <v-icon small left>mdi-pencil</v-icon>
                                <v-list-item-title>edit</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click.prevent="deleteTupoksi(row.id)">
                                <v-icon small left>mdi-delete</v-icon>
                                <v-list-item-title>Hapus</v-list-item-title>
                            </v-list-item>
                        </v-list>
                        </v-menu>
                    </tr>
                    </template>
                </tbody>
                </v-table>
            </div>
            <b-card-footer class="py-4">
                <b-row class="row d-flex justify-content-between">
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-left text-center">
                        <label for="pagination">Show</label>
                        <v-select small v-model="sTable.pagination" :items="[5, 25, 100]"
                            outlined dense class="per-page-selector d-inline-block mx-2" hide-details
                            style="width: 90px"/>
                        <label> from {{ sTable.totalItem }}</label>
                    </b-col>
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-right text-center">
                        <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
                    </b-col>
                </b-row>
            </b-card-footer>
        </b-card>
        </transition>
        <transition name="success">
        <div class="text-center" v-if="!jabatan">
          <b-img fluid :src="imgUrl" alt="Register V2" class="w-50"/>
        </div>
        </transition>
        <tupoksi-modal ref="tupoksiModal" :jabatan="jabatan"
            v-on:createSuccess="unshiftTupoksi" v-on:updateSuccess="updateTupoksi"
        />
    </div>
</v-app>
</template>

<script>
import TupoksiModal from './TupoksiModal.vue'
import Api from '@axios'

export default {
    components: {
        TupoksiModal
    },
    data() {
        return {
            tupoksi: [],
            jabatan: null,
            sideImg: require('@/assets/images/pages/register-v2.svg'),
            lastId: '',
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['butir_kegiatan'], active:true },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
                selectedRows: []
            },
            loading: true,
        }
    },
    computed:{
        positions(){
            return this.$store.state.position.positions;
        },
        posTupoksi(){
            return this.positions.filter(x => x.jenis_jabatan !== "Internal")
        },
        imgUrl() {
            if (this.$store.state.appConfig.layout.skin === 'dark') {
                // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
                return this.sideImg
            }else{
                this.sideImg = require('@/assets/images/pages/register-v2.svg')
                return this.sideImg
            }
        },
    },
    mounted() {
        this.fetchPosition();
    },
    created() {

    },
    methods: {
        selected(id){
            if (this.lastId !== id) {
                var element = document.getElementById('row'+id);
                element.classList.add("table-active");
                if (this.lastId != '') {
                    var element2 = document.getElementById('row'+this.lastId);
                    if (element2) { element2.classList.remove("table-active"); }
                }
                this.lastId = id;
            } else{
                var element3 = document.getElementById('row'+this.lastId);
                if (element3) {
                    element3.classList.remove("table-active");
                    this.lastId = '';
                }
            }
        },
        reset(item){
            if(item.name !== 'TMT'){
                item.value = ''
            }else{
                item.value.start = null;
                item.value.end = null;
            }
        },
        fetchPosition(){
            if(this.positions.length == 0){
                this.$store.dispatch("position/getPosition")
                .then( () => this.loading = false )
                .catch(error => {
                    this.loading = false;
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }else{
                this.loading = false
            }
        },
        deleteTupoksi(id){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Tupoksi yang dihapus tidak dapat dikembalikan!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    Api.delete("tupoksi/"+id)
                    .then(()=>{
                        this.remove(id);
                        this.$swal({
                            icon: 'success',
                            title: 'Dihapus!',
                            text: 'Tupoksi berhasil dihapus',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch((error)=>{
                        this.$swal({
                            icon: 'error',
                            title: 'Gagal!',
                            text: error.response.data.errors,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    });
                }
            })
        },
        tupoksiJabatan(){
            this.loading = true
            Api.post('tupoksi-jabatan', this.jabatan)
            .then( response => {
                this.tupoksi = response.data
                this.loading = false
            })
            .catch()
        },
        unshiftTupoksi(value){
            this.tupoksi.unshift(value)
        },
        updateTupoksi(value){
            let index = this.tupoksi.map(e => { return e.id; }).indexOf(value.id);
            this.tupoksi.splice(index, 1, value);
        },
        remove(id){
            let index = this.tupoksi.map(e => { return e.id; }).indexOf(id);
            this.tupoksi.splice(index, 1);
        },
    },
    watch:{

    }
}
</script>
