<template>
    <b-modal ref="tupoksiModal" centered no-close-on-backdrop modal-class="modal-primary" @ok="handleOk">
        <template #modal-title>
            <span v-show="!editmode" id="exampleModalCenterTitle">Tambah Tupoksi : {{jabatan.jabatan}}</span>
            <span v-show="editmode" id="exampleModalCenterTitle">Update Tupoksi : {{jabatan.jabatan}}</span>
        </template>
        <template #default>
        <validation-observer ref="tupoksiValidation">
        <b-form @submit.prevent="submitForm()">
        <v-app class="bg-transparent" dark>
            <b-row class="mb-2">
                <b-col cols="12">
                    <validation-provider #default="{ errors }" name="Butir Kegiatan" rules="required" >
                    <label for="Butir Kegiatan">Butir Kegiatan</label>
                    <v-textarea v-model="form.butir_kegiatan" outlined dense type="text" hide-details="auto" auto-grow rows="3"
                        :error-messages="'butir_kegiatan' in errorData ? errorData.butir_kegiatan : errors">
                    </v-textarea>
                    </validation-provider>
                </b-col>
                <b-col cols="6" v-if="jabatan.jenis_jabatan == 'JFT'">
                    <validation-provider #default="{ errors }" name="Angka Kredit" rules="required" >
                    <label for="Angka Kredit">Angka Kredit</label>
                    <v-text-field v-model="form.angka_kredit" outlined dense hide-details="auto"
                    type="number" step=".0001"
                    :error-messages="errors"
                    ></v-text-field>
                    </validation-provider>
                </b-col>
                <b-col>
                    <label for="Kuantiti">Kuantiti</label>
                    <v-text-field v-model="form.qty" outlined dense menu-props="auto" hide-details="auto" type="number" step=".0001" />
                </b-col>
                <b-col cols="12">
                    <validation-provider #default="{ errors }" name="Satuan Hasil" rules="required" >
                    <label for="Satuan Hasil">Satuan Hasil</label>
                    <v-text-field v-model="form.satuan_hasil" outlined dense menu-props="auto" hide-details="auto"
                    :error-messages="errors"
                    ></v-text-field>
                    </validation-provider>
                </b-col>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Batal </b-button>
            <b-button size="sm" variant="danger" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Simpan</b-button>
        </template>
    </b-modal>
</template>

<script>
import Api from '@axios'
export default {
    props:{
        jabatan : {
            type: Object,
        }
    },
    data() {
        return {
            errorData: {},
            pelayanan: [{ value: '1', text:'Ya'}, {value: '0', text:'Tidak'}],
            btnload: false,
            date3: false,
            form: new Form ({
                id:'',
                id_jabatan : '',
                butir_kegiatan : '',
                angka_kredit : '',
                qty : '',
                satuan_hasil : '',
            }),
            editmode: false,
        }
    },
    methods: {
        editModal(row){
            this.editmode = true;
            this.errorData = {},
            this.form.reset();
            this.form.fill(row);
            this.$refs['tupoksiModal'].show()
        },
        addModal(){
            this.editmode = false;
            this.errorData = {},
            this.form.reset();
            this.$refs['tupoksiModal'].show()
        },
        handleOk(event) {
            event.preventDefault()
            this.submitForm()
        },
        submitForm(){
            this.$refs.tupoksiValidation.validate().then(success => {
                if (success && this.editmode) {
                    this.updateTupoksi();
                }else if( success && !this.editmode){
                    this.createTupoksi();
                }
            })
        },
        createTupoksi(){
            this.errorData = {}
            this.form.id_jabatan = this.jabatan.id
            Api.post("tupoksi", this.form)
            .then( response => {
                this.createParent(response.data.created);
                this.$refs['tupoksiModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Tupoksi baru berhasil dibuat',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        updateTupoksi(){
            Api.put("tupoksi/"+this.form.id, this.form)
            .then( response => {
                this.updateParent(response.data.updated)
                this.$refs['tupoksiModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Data tupoksi berhasil diperbarui',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        createParent(data){
            this.$emit('createSuccess', data)
        },
        updateParent(data){
            this.$emit('updateSuccess', data)
        },
    },
}
</script>
