<template>
    <b-modal ref="disable-pegawai" centered no-close-on-backdrop modal-class="modal-primary" @ok="handleOk">
        <template #modal-title>
            Non Aktifkan Pegawai : {{ form.fullname}}
        </template>
        <template #default>
        <validation-observer ref="disableValidation">
        <b-form @submit.prevent="disableUser()">
        <v-app class="bg-transparent mt-2" dark>
            <b-row>
                <b-col class="pb-0 pt-2">
                    <validation-provider #default="{ errors }" name="Alasan Keluar" rules="required" >
                    <v-select :items="['Mengundurkan Diri', 'Pensiun', 'Meninggal Dunia', 'Habis Kontrak', 'Dipindahtugaskan', 'Melanjutkan Pendidikan', 'CPNS', 'Lainnya']" v-model="form.alasan_keluar" label="Alasan Keluar" outlined required type="text" menu-props="auto"
                        :error-messages="errors[0]">
                    </v-select>
                    </validation-provider>
                </b-col>
                <b-col sm="12" md="12" lg="5" cols="12" class="pb-0 pt-2">
                    <v-menu ref="date1" v-model="date3" :close-on-content-click="false" left
                        transition="slide-y-transition" offset-y min-width="290px">
                        <template v-slot:activator="{ on, attrs }">
                            <validation-provider #default="{ errors }" name="TMT Keluar" rules="required" >
                            <v-text-field v-model="form.tmt_keluar" label="TMT Keluar" outlined readonly v-bind="attrs" v-on="on"
                                :error-messages="errors[0]">
                            </v-text-field>
                            </validation-provider>
                        </template>
                        <v-date-picker ref="picker" v-model="form.tmt_keluar" locale="id" @input="date3 = false"></v-date-picker>
                    </v-menu>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" v-if="form.alasan_keluar === 'Lainnya'" class="pb-0 pt-2">
                    <validation-provider #default="{ errors }" name="TMT Keluar" rules="required" >
                    <v-text-field v-model="form.alasanlainnya" label="Alasan Lainnya" outlined required type="text"
                        :error-messages="errors[0]" :class="{ 'v-input--has-state error--text': form.errors.has('alasanlainnya')}">
                    </v-text-field>
                    </validation-provider>
                </b-col>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Cancel </b-button>
            <b-button size="sm" variant="danger" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Nonaktifkan</b-button>
        </template>
    </b-modal>
</template>

<script>
import Swal from 'sweetalert2';
    export default {
        data() {
            return {
                btnload: false,
                date3: false,
                form: new Form ({
                    id:'',
                    fullname: '',
                    alasan_keluar : '',
                    alasanlainnya : '',
                    tmt_keluar : '',
                }),
            }
        },
        methods: {
            disableModal(row){
                // this.$refs.sp.remove();
                this.form.errors.errors = {};
                this.form.reset();
                this.form.fill(row);
                this.$refs['disable-pegawai'].show()
            },
            handleOk(event) {
                event.preventDefault()
                this.disableUser()
            },
            disableUser(){
                this.$refs.disableValidation.validate().then(success => {
                    if (success) {
                        Swal.fire({
                            title: 'Anda Yakin?',
                            text: "Pegawai yang dinonaktifkan tidak dapat dikembalikan!",
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Ya, saya yakin!',
                            customClass: {
                                confirmButton: 'btn btn-danger',
                                cancelButton: 'btn btn-outline-secondary ml-1',
                            },
                            buttonsStyling: false,
                        }).then((result) => {
                            if (result.value) {
                                this.btnload = true;
                                if (this.form.alasan_keluar === 'Lainnya') {
                                    this.form.alasan_keluar = this.form.alasanlainnya;
                                }
                                this.$store.dispatch("user/disablePegawai", this.form)
                                .then(() => {
                                    this.$refs['disable-pegawai'].hide();
                                    this.btnload = false;
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Berhasil!',
                                        text: 'Pegawai berhasil dinonaktifkan',
                                        showConfirmButton: false,
                                        timer: 1500,
                                    })
                                })
                                .catch(error => {
                                    this.btnload = false;
                                    Swal.fire({
                                        icon: 'warning',
                                        title: 'Gagal!',
                                        text: error.response.data.message,
                                        showConfirmButton: false,
                                        timer: 1500,
                                    })
                                })
                            }
                        })
                    }
                })
            },
        },
    }
</script>
