<template>
<v-app class="bg-transparent mb-2" dark>
    <div>
        <b-card no-body class="mb-0">
            <div class="m-2">
                <b-row>
                    <b-col class="d-flex align-items-center justify-content-start mb-1 mb-md-0 order-2 order-lg-1" >
                        <b-row>
                            <b-col v-if="sTable.filters.nama.active">
                                <b-input-group prepend="Nama">
                                <b-form-input v-model="sTable.filters.nama.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nama.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" lg="6" md="12" v-if="sTable.filters.nip.active">
                                <b-input-group prepend="NIP">
                                <b-form-input v-model="sTable.filters.nip.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nip.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" lg="6" md="12" v-if="sTable.filters.alasan_keluar.active">
                                <b-input-group prepend="Alasan Keluar">
                                <b-form-input v-model="sTable.filters.alasan_keluar.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.alasan_keluar.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" lg="6" md="12" v-show="sTable.filters.tmt.active">
                                <b-input-group prepend="TMT">
                                <b-form-input v-model="sTable.filters.tmt.value.start" type="date" class="d-inline-block" v-b-tooltip.hover.bottom title="Dari tanggal" />
                                <b-form-input v-model="sTable.filters.tmt.value.end" type="date" class="d-inline-block mr-1" v-b-tooltip.hover.bottom title="Hingga tanggal"/>
                                </b-input-group>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col cols="12" lg="auto" md="12"  class="d-flex order-1 order-lg-2">
                        <v-menu transition="slide-y-transition" :close-on-content-click="false" bottom right>
                                <template v-slot:activator="{ on, attrs }">
                                <v-btn color="primary text-capitalize" class="mr-3" v-bind="attrs" v-on="on">
                                <v-icon small left>mdi-filter</v-icon> Filter
                                </v-btn>
                            </template>
                            <v-list small>
                                <v-list-item v-for="(item, i) in sTable.filters" :key="i">
                                <v-switch inset :label="item.name" v-model="item.active" color="primary" hide-details
                                @change="reset(item)" class="mt-0"></v-switch>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </b-col>
                </b-row>
            </div>

            <div class="card-body table-responsive table-invoice p-0 mb-0" id="table">
                <!-- style="height: 450px" -->
                <v-table class="wrap table table-hover text-nowrap" id="table"
                :data="pegawai"
                :currentPage.sync="sTable.currentPage"
                :pageSize="sTable.pagination"
                :filters="sTable.filters"
                :hideSortIcons="false"
                @totalItemsChanged="sTable.totalItem = $event"
                @totalPagesChanged="sTable.totalPages = $event">
                <thead slot="head">
                    <tr>
                        <v-th sortKey="fullname" class="">Nama Lengkap</v-th>
                        <v-th sortKey="disable.alasan_keluar">Alasan Keluar</v-th>
                        <v-th sortKey="disable.tmt_keluar">TMT Keluar</v-th>
                        <v-th sortKey="nip">NIP</v-th>
                    </tr>
                </thead>
                <tbody slot="body" slot-scope="{displayData}">
                    <tr role="row" class="b-table-busy-slot" v-if="loading">
                        <td colspan="9" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <span aria-hidden="true" class="align-middle spinner-border"></span>
                                <strong>Loading...</strong>
                            </div>
                        </td>
                    </tr>
                    <tr role="row" class="b-table-busy-slot" v-if="sTable.totalItem === 0 && !loading">
                        <td colspan="9" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <strong>Pegawai tidak ditemukan</strong>
                            </div>
                        </td>
                    </tr>
                    <template v-if="sTable.totalItem !== 0 && !loading">
                    <tr v-for="(row) in displayData" :key="row.id" :id="'row'+row.id">
                        <v-menu transition="slide-y-transition" absolute offset-y >
                            <template v-slot:activator="{ on, attrs }">
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">
                                <b-media vertical-align="center">
                                    <template #aside>
                                    <b-avatar
                                        variant="primary" size="32"
                                        :src="asset('images/avatar/'+row.photo)"
                                    />
                                    </template>
                                    <div class="mt-2"></div>
                                    {{ row.fullname }}
                                </b-media>
                            </td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.disable.alasan_keluar}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.disable.tmt_keluar | tanggal}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.nip}}</td>
                            </template>
                            <v-list>
                                <v-list-item style="text-decoration: none;" @click.prevent="$refs.profil.profilModal(row.disable.id)">
                                        <v-icon small left class="far fa-address-book"></v-icon>
                                        <v-list-item-title>Profil</v-list-item-title>
                                </v-list-item>
                                <v-list-item @click.prevent="deleteUser(row.id)" v-if="$can('disable', 'pegawai')">
                                    <v-icon small left>mdi-delete</v-icon>
                                    <v-list-item-title>Hapus Data</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </tr>
                    </template>
                </tbody>
                </v-table>
            </div>
            <b-card-footer class="py-4">
                <b-row class="row d-flex justify-content-between">
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-left text-center">
                        <label for="pagination">Show</label>
                        <v-select small v-model="sTable.pagination" :items="[5, 25, 100]"
                            outlined dense class="per-page-selector d-inline-block mx-2" hide-details
                            style="width: 90px"/>
                        <label> from {{ sTable.totalItem }}</label>
                    </b-col>
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-right text-center">
                    <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
                    </b-col>
                </b-row>
            </b-card-footer>
        </b-card>
        <profil-pegawai-non-aktif ref="profil"></profil-pegawai-non-aktif>
    </div>
</v-app>
</template>

<script>
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import StatisticCardHorizontal from '@core/components/statistics-cards/StatisticCardHorizontal.vue'
import ProfilPegawaiNonAktif from './ProfilPegawaiNonAktif.vue'
import Api from "@axios"

export default {
    components: {
        StatisticCardHorizontal,
        ToastificationContent,
        ProfilPegawaiNonAktif,
    },
    data() {
        return {
            lastId: '',
            pegawai: [],
            totalPerempuan: 0,
            totalLakilaki: 0,
            totalPNS: 0,
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['fullname'], name: 'Nama', active:true },
                    nip :{ value: '', keys: ['nip'], name: 'NIP', active:false },
                    alasan_keluar :{ value: '', keys: ['disable.alasan_keluar'], name: 'Alasan Keluar', active:false },
                    tmt: { value: { start: null,  end: null }, custom: this.dateFilter, name: 'TMT', active:false },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
            },
            masabakti : false,
            loading: Boolean,
            refresh: true,
        }
    },
    // computed:{
    //     countPNS(){
    //         var result = this.pegawai.filter(p => p.jenis_peg == 'PNS').length;
    //         return result
    //     },
    //     countLaki(){
    //         var result = this.pegawai.filter(p => p.gender == 'Laki-laki').length;
    //         return result
    //     },
    //     countPerempuan(){
    //         var result = this.pegawai.filter(p => p.gender == 'Perempuan').length;
    //         return result
    //     },
    // },
    mounted() {
        this.fetchUser();
    },
    created() {

    },
    methods: {
        selected(id){
            if (this.lastId !== id) {
                var element = document.getElementById('row'+id);
                element.classList.add("table-active");
                if (this.lastId !== '') {
                    var element2 = document.getElementById('row'+this.lastId);
                    if (element2) { element2.classList.remove("table-active"); }
                }
                this.lastId = id;
            } else{
                var element3 = document.getElementById('row'+this.lastId);
                if (element3) {
                    element3.classList.remove("table-active");
                    this.lastId = '';
                }
            }
        },
        reset(item){
            if(item.name !== 'TMT'){
                item.value = ''
            }else{
                item.value.start = null;
                item.value.end = null;
            }
        },
        dateFilter (filterValue, row) {
            if(this.sTable.filters.tmt.value.start !== null){
                    return row.disable.tmt_keluar >= filterValue.start && row.disable.tmt_keluar <= filterValue.end
            } else{
                return row;
            }
        },
        fetchUser(){
            Api.get("/disable-user")
            .then( response => {
                this.pegawai = response.data
                this.loading = false
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        deleteUser(id){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Anda akan menghapus seluruh data pegawai yang terkait, data yang terhapus tidak dapat dikembalikan!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
            }).then((result) => {
                if (result.value) {
                    Api.delete('user/'+id).then(()=>{
                        this.removeData(id);
                        this.$swal({
                            icon: 'success',
                            title: 'Dihapus!',
                            text: 'Data Pegawai berhasil dihapus',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch(()=>{
                        this.$swal({
                            icon: 'warning',
                            title: 'Gagal!',
                            text: 'Anda tidak memiliki akses',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    });
                }
            })
        },
        removeData(id){
            let index = this.pegawai.map(e => { return e.id; }).indexOf(id);
            this.pegawai.splice(index, 1);
        },
    },
    watch:{

    }
}
</script>
