<template>
<div>
    <b-card class="">
        <template #header >
                <div class="d-flex w-100 align-items-center mb-1">
                    <h4 class="text-primary mb-0 text-nowrap mr-4"> Kegiatan Terakhir</h4>
                    <!-- <v-progress-linear :size="100" :width="70" :indeterminate="loading" :color="loading ? 'primary' : 'secondary'" rounded /> -->
                </div>
        </template>
        <app-timeline>
            <transition-group name="success" tag="span">
                <template v-if="activities.length">
                    <app-timeline-item v-for="(act, index) in activities"
                        :key="index + 0" :icon="checkIcon(act.status)" :status="act.status" :variant="checkVariant(act.status)">
                        <b-row>
                            <b-col class="p-0 pr-3 order-2 order-md-1">
                                <p><span class="text-secondary">Butir Kegiatan : </span> {{ act.skp.tupoksi.butir_kegiatan}}</p>
                                <b-media v-if="act.nama_pasien">
                                    <template #aside>
                                        <b-avatar size="30" variant="primary" class="mt-1" icon="emoji-dizzy-fill"
                                        v-b-tooltip.hover.bottom title="pasien"/>
                                    </template>
                                    <span class="font-weight-bold">{{ act.nama_pasien}}</span>
                                    <p class="text-secondary">{{act.mr}}</p>
                                </b-media>
                                <span class="text-secondary">Deskripsi : </span>{{ act.deskripsi}}
                                <p class="text-secondary mb-0" v-if="act.biaya">Biaya : {{ act.biaya | currency}}</p>
                            </b-col>
                            <b-col cols=12 lg="auto" class="p-0 pr-3 order-1 order-md-2 text-left text-md-right mb-2">
                                <v-chip color="primary">
                                    <span v-b-tooltip.hover.bottom :title="act.tanggal | formatDate">{{ act.jam | jamAct}}</span>
                                    <template v-if="act.lampiran">
                                        <v-divider vertical class="mx-2"></v-divider>
                                        <v-btn icon small color="white" @click.prevent="$refs.attachmentModal.show(act.lampiran)"
                                            v-b-tooltip.hover.bottom title="Lampiran">
                                            <v-icon>mdi-paperclip</v-icon>
                                        </v-btn>
                                    </template>
                                    <v-divider v-if="act.mutu" vertical class="mx-2"></v-divider>
                                    <v-icon v-if="act.mutu" v-b-tooltip.hover.bottom title="Nilai Mutu" class="mx-1">{{act.mutu}}</v-icon>
                                </v-chip>
                            </b-col>
                        </b-row>
                        <br>
                    </app-timeline-item>
                </template>
            </transition-group>
            <transition name="empty" mode="in-out">
                <template v-if="!activities.length">
                    <div class="text-center mt-2">
                        <h3><b>Belum ada kegiatan</b></h3>
                        <br>
                        <img :src="asset('images/pages/Activity.svg')" alt="empty" style="width: 70%; height: auto;">
                        <br>
                    </div>
                </template>
            </transition>
            <br>
        </app-timeline>
    </b-card>
    <attachment-modal ref="attachmentModal"/>
</div>
</template>

<script>
import AppTimeline from '@core/components/app-timeline/AppTimeline.vue'
import AppTimelineItem from '@core/components/app-timeline/AppTimelineItem.vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import AttachmentModal from '../assesment/AttachmentModal.vue'
import Api from '@axios'

export default {
    props:{
        activities: {
            type : Array,
        },
        loading : {
            type : Boolean,
        }
    },
    components: {
        AppTimeline,
        AppTimelineItem,
        AttachmentModal,
    },
    computed: {


    },
    data() {
        return {

        }
    },
    methods: {
        checkIcon(status){
            if(status === "Ditolak"){
                return 'AlertCircleIcon'
            }else if(status === "Disetujui"){
                return 'CheckCircleIcon'
            }else{
                return 'ClockIcon'
            }
        },
        checkVariant(status){
            if(status === "Ditolak"){
                return 'danger'
            }else if(status === "Disetujui"){
                return 'primary'
            }else{
                return 'secondary'
            }
        }
    },
    watch: {

    }
}
</script>
