<template>
<v-app class="bg-transparent mb-2" dark>
    <div>
        <b-row class="mb-3" v-if="$can('manage', 'all')">
            <b-col lg="3" sm="6" >
                <statistic-card-horizontal class="mb-0"
                icon="mdi-account-multiple"
                color="primary"
                :statistic="pegawai.length"
                statistic-title="Total Pegawai"
                />
            </b-col>
            <b-col lg="3" sm="6" >
                <statistic-card-horizontal class="mb-0"
                icon="mdi-gender-male"
                color="success"
                :statistic="countLaki"
                statistic-title="Laki-laki"
                />
            </b-col>
            <b-col lg="3" sm="6" >
                <statistic-card-horizontal class="mb-0"
                icon="mdi-gender-female"
                color="danger"
                :statistic="countPerempuan"
                statistic-title="Perempuan"
                />
            </b-col>
            <b-col lg="3" sm="6" >
                <statistic-card-horizontal class="mb-0"
                icon="mdi-shield-star-outline"
                color="warning"
                :statistic="countPNS"
                statistic-title="Total PNS"
                />
            </b-col>
        </b-row>

        <b-card no-body class="mb-0">
            <div class="m-2">
                <b-row>
                    <b-col class="d-flex align-items-center justify-content-start mb-1 mb-md-0 order-2 order-md-1" >
                        <b-row>
                            <b-col v-if="sTable.filters.nama.active">
                                <b-input-group prepend="Nama">
                                <b-form-input  v-model="sTable.filters.nama.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nama.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" md="12" lg="6" v-if="sTable.filters.nip.active">
                                <b-input-group prepend="NIP">
                                <b-form-input  v-model="sTable.filters.nip.value" type="number" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nip.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" md="12" lg="6" v-if="sTable.filters.jabatan.active">
                                <b-input-group prepend="Jabatan">
                                <b-form-input  v-model="sTable.filters.jabatan.value" class="d-inline-block" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.jabatan.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" md="12" lg="6" v-if="sTable.filters.unit.active">
                                <b-input-group prepend="Unit">
                                <b-form-input  v-model="sTable.filters.unit.value" class="d-inline-block" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.unit.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" v-show="sTable.filters.tmt.active">
                                <b-input-group prepend="TMT">
                                <b-form-input v-model="sTable.filters.tmt.value.start" type="date" class="d-inline-block" v-b-tooltip.hover.bottom title="Dari tanggal" />
                                <b-form-input v-model="sTable.filters.tmt.value.end" type="date" class="d-inline-block mr-1" v-b-tooltip.hover.bottom title="Hingga tanggal"/>
                                </b-input-group>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col cols="12" lg="auto" md="12" class="d-flex order-1 order-md-2 justify-content-between">
                        <v-menu transition="slide-y-transition" :close-on-content-click="false" left>
                                <template v-slot:activator="{ on, attrs }">
                                <v-btn color="primary" class="mr-3" v-bind="attrs" v-on="on" v-b-tooltip.hover.bottom title="Filter" :icon="$vuetify.breakpoint.mdAndUp">
                                <v-icon small>mdi-filter</v-icon>
                                <span v-if="!$vuetify.breakpoint.mdAndUp">Filter</span>
                                </v-btn>
                            </template>
                            <v-list small>
                                <v-list-item v-for="(item, i) in sTable.filters" :key="i">
                                <v-switch inset :label="item.name" v-model="item.active" color="primary" hide-details
                                @change="reset(item)" class="mt-0"></v-switch>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                        <v-btn color="primary" :to="{ name: 'pegawai-add' }" v-if="$can('create', 'pegawai')">
                            <v-icon left>mdi-plus</v-icon>
                            <span class="text-capitalize"> Pegawai</span>
                        </v-btn>
                    </b-col>
                </b-row>
            </div>

            <div class="card-body table-responsive table-invoice p-0 mb-0" id="table">
                <!-- style="height: 450px" -->
                <v-table class="wrap table table-hover text-nowrap" id="table"
                defaultSort="fullname"
                :data="pegawai"
                :currentPage.sync="sTable.currentPage"
                :pageSize="sTable.pagination"
                :filters="sTable.filters"
                :hideSortIcons="false"
                @totalItemsChanged="sTable.totalItem = $event"
                @totalPagesChanged="sTable.totalPages = $event">
                <thead slot="head">
                    <tr>
                        <v-th sortKey="fullname" defaultSort="asc" class="">Nama Lengkap</v-th>
                        <v-th sortKey="nip">NIP</v-th>
                        <v-th v-if="masabakti === true" sortKey="tmt">Masa Bakti</v-th>
                        <v-th sortKey="penempatan[0].jabatan">Jabatan</v-th>
                        <v-th sortKey="penempatan[0].nama_unit">Unit</v-th>
                        <v-th v-if="masabakti === false" sortKey="tmt">TMT</v-th>
                    </tr>
                </thead>
                <tbody slot="body" slot-scope="{displayData}">
                    <tr role="row" class="b-table-busy-slot" v-if="loading">
                        <td colspan="9" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <span aria-hidden="true" class="align-middle spinner-border"></span>
                                <strong>Loading...</strong>
                            </div>
                        </td>
                    </tr>
                    <tr role="row" class="b-table-busy-slot" v-if="sTable.totalItem === 0 && !loading">
                        <td colspan="9" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <strong>Pegawai tidak ditemukan</strong>
                            </div>
                        </td>
                    </tr>
                    <template v-if="sTable.totalItem !== 0 && !loading">
                        <tr v-for="(row) in displayData" :key="row.id" :id="'row'+row.id">
                            <v-menu transition="slide-y-transition" absolute offset-y >
                                <template v-slot:activator="{ on, attrs }">
                                    <td @click="selected(row.id)" v-bind="attrs" v-on="on">
                                        <b-media vertical-align="center">
                                            <template #aside>
                                            <b-avatar
                                                variant="primary" size="32"
                                                :src="asset('images/avatar/'+row.photo)"
                                            />
                                            </template>
                                            <div class="mt-2"></div>
                                            <!-- <b-link :to="{ name: 'pegawai-view', params: { id: row.id } }" class="text-nowrap" > -->
                                            {{ row.fullname }}
                                            <!-- </b-link> -->
                                        </b-media>
                                    </td>
                                    <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.tmt | tanggal}}</td>
                                    <td @click="selected(row.id)" v-bind="attrs" v-on="on" class="text-nowrap py-2"><v-chip small class="mr-1 mb-1" v-for="u in row.penempatan" :key="u.id">{{u.nama_unit}}</v-chip></td>
                                    <td @click="selected(row.id)" v-bind="attrs" v-on="on" class="text-nowrap py-2"><v-chip small class="mr-1 mb-1" v-for="j in row.penempatan" :key="j.id">{{j.jabatan}}</v-chip></td>
                                    <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.nip}} </td>
                                </template>
                                <v-list>
                                    <v-list-item :to="{ name: 'pegawai-edit', params: { id: row.id } }" :disabled="!$can('manage', 'pegawai')">
                                        <v-icon small left>mdi-pencil</v-icon>
                                        <v-list-item-title>edit</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item style="text-decoration: none;" :to="{ name: 'pegawai-view', params: { id: row.id } }">
                                            <v-icon small left class="far fa-address-book"></v-icon>
                                            <v-list-item-title>Profil</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click.prevent="$refs.disable.disableModal(row)" v-if="$can('disable', 'pegawai')">
                                        <v-icon small left>mdi-power</v-icon>
                                        <v-list-item-title>Nonaktifkan</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </tr>
                    </template>
                </tbody>
                </v-table>
            </div>
            <b-card-footer class="py-4">
                <b-row class="row d-flex justify-content-between">
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-left text-center">
                        <label for="pagination">Show</label>
                        <v-select small v-model="sTable.pagination" :items="[5, 25, 100]"
                            outlined dense class="per-page-selector d-inline-block mx-2" hide-details
                            style="width: 90px"/>
                        <label> from {{ sTable.totalItem }}</label>
                    </b-col>
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-right text-center v-middle">
                        <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
                    </b-col>
                </b-row>
            </b-card-footer>
        </b-card>
        <disable-pegawai ref="disable"></disable-pegawai>
    </div>
</v-app>
</template>

<script>
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import StatisticCardHorizontal from '@core/components/statistics-cards/StatisticCardHorizontal.vue'
import Api from "@axios"
import DisablePegawai from './DisablePegawai.vue'

export default {
    components: {
        StatisticCardHorizontal,
        ToastificationContent,
        DisablePegawai
    },
    data() {
        return {
            showMenu: false,
            lastId: '',
            totalPerempuan: 0,
            totalLakilaki: 0,
            totalPNS: 0,
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['fullname'], name: 'Nama', active:true },
                    nip :{ value: '', keys: ['nip'], name: 'NIP', active:false },
                    jabatan: { value: '', name: 'Jabatan', active:false, custom: this.jabFilter},
                    unit: { value: '', name: 'Unit', active:false, custom: this.unitFilter},
                    tmt: { value: { start: null,  end: null }, custom: this.dateFilter, name: 'TMT', active:false },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
            },
            masabakti : false,
            loading: Boolean,
            refresh: true,
        }
    },
    computed:{
        pegawai(){
            return this.$store.state.user.pegawai;
        },
        countPNS(){
            var result = this.pegawai.filter(p => p.jenis_peg == 'PNS').length;
            return result
        },
        countLaki(){
            var result = this.pegawai.filter(p => p.gender == 'Laki-laki').length;
            return result
        },
        countPerempuan(){
            var result = this.pegawai.filter(p => p.gender == 'Perempuan').length;
            return result
        },
    },
    mounted() {
        this.fetchUser();
    },
    created() {
        this.addSuccess();
    },
    methods: {
        selected(id){
            if (this.lastId !== id) {
                var element = document.getElementById('row'+id);
                element.classList.add("table-active");
                if (this.lastId != '') {
                    var element2 = document.getElementById('row'+this.lastId);
                    if (element2) { element2.classList.remove("table-active"); }
                }
                this.lastId = id;
            } else{
                var element3 = document.getElementById('row'+this.lastId);
                if (element3) {
                    element3.classList.remove("table-active");
                    this.lastId = '';
                }
            }
        },
        menu (e) {
            e.preventDefault()
            this.showMenu = false
            this.x = e.clientX
            this.y = e.clientY
            this.$nextTick(() => {
            this.showMenu = true
            })
        },
        reset(item){
            if(item.name !== 'TMT'){
                item.value = ''
            }else{
                item.value.start = null;
                item.value.end = null;
            }
        },
        jabFilter (filterValue, row) {
            if(this.sTable.filters.jabatan.value !== ''){
                return row.penempatan.some(e => e.jabatan.toLowerCase().includes(filterValue.toLowerCase()));
            }else{
                return row;
            }
        },
        unitFilter (filterValue, row) {
            if(this.sTable.filters.unit.value !== ''){
                return row.penempatan.some(e => e.nama_unit.toLowerCase().includes(filterValue.toLowerCase()));
            }else{
                return row;
            }
        },
        dateFilter (filterValue, row) {
            if(this.sTable.filters.tmt.value.start !== null){
                    return row.tmt >= filterValue.start && row.tmt <= filterValue.end
            } else{
                return row;
            }
        },
        fetchUser(){
            if(this.pegawai.length == 0){
                var link = this.$can('manage', 'all') ? "user/getPegawaiAll" : "user/getPegawai"
                this.$store.dispatch(link)
                .then( () => this.loading = false )
                .catch(error => {
                    this.loading = false;
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }else{
                this.loading = false
            }
        },
        onFiltered(filteredItems) {
            this.bTable.totalRows = filteredItems.length
            this.bTable.currentPage = 1
        },
        addSuccess(){
            if(this.$route.params.success){
                this.$toast({
                    component: ToastificationContent,
                    props: {
                        title: 'Berhasil',
                        icon: 'CheckCircleIcon',
                        variant: 'success',
                        text: 'pegawai telah ditambahkan',
                    },
                },{ position: 'bottom-right'})
            }
        }
    },
    watch:{

    }
}
</script>
