<template>
    <b-modal ref="disable-pegawai" centered modal-class="modal-primary" @ok="handleOk" size="xl"
        :body-bg-variant="$root.isDark ? 'dark' : null" hide-footer>
        <template #modal-title>
            <h5 class="text-bold mb-0">Profil Pegawai Non-Aktif</h5>
        </template>
        <template #default>
            <b-row>
                <b-col cols="12">
                <pegawai-info-card-disable  :userData="disableProfil.user" :info="disableProfil.alasan_keluar"/>
                </b-col>
                <b-col cols="12" lg="4" >
                    <b-card no-body >
                        <b-card-body class="d-flex justify-content-between align-items-center h-100">
                        <div class="">
                            <h6>Masa Bakti</h6>
                            <div class="mb-25 display-4 font-weight-bolder d-inline text-primary">
                                <ICountUp :endVal="toDays" @ready="onReady" />
                            </div>
                            <sub><small>hari</small></sub>
                            <div>atau <b class="text-primary">{{ toYear }}</b></div>
                            <div>sejak <b>{{ disableProfil.user.tmt | tanggal }}</b></div>
                            <div>hingga <b>{{ disableProfil.tmt_keluar | tanggal }}</b></div>
                        </div>
                        <b-avatar :variant="`light-primary`" size="45" >
                            <b-icon icon="calendar2-check" scale="2" variant="success"></b-icon>
                        </b-avatar>
                        </b-card-body>
                    </b-card>
                </b-col>
                <b-col cols="12" lg="4">
                    <b-card no-body >
                        <b-card-body class="">
                        <div class="">
                            <v-icon left>mdi-text-account</v-icon><span class="h5 text-bold text-primary">Biodata</span>
                            <hr>
                            <table class="table table-sm borderless">
                                <tr>
                                    <td style="width: 8px" class="text-center"><v-icon left small>mdi-cake-variant</v-icon></td>
                                    <td>{{disableProfil.user.biodata.gender}}</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><v-icon left small>mdi-gender-male</v-icon> </td>
                                    <td>{{disableProfil.user.biodata.tpt_lahir}}, {{disableProfil.user.biodata.tgl_lahir}}</td>
                                </tr>
                                <tr v-if="disableProfil.user.biodata.agama">
                                    <td class="text-center"><v-icon left small>mdi-weather-night</v-icon></td>
                                    <td>{{disableProfil.user.biodata.agama}}</td>
                                </tr>
                                <tr v-if="disableProfil.user.biodata.nik">
                                    <td class="text-center"><v-icon left small>mdi-card-account-details-star</v-icon></td>
                                    <td>{{disableProfil.user.biodata.nik}}</td>
                                </tr>
                                <tr v-if="disableProfil.user.biodata.hp">
                                    <td class="text-center"><v-icon left small>mdi-cellphone</v-icon></td>
                                    <td>{{disableProfil.user.biodata.hp}}</td>
                                </tr>
                            </table>
                        </div>
                        </b-card-body>
                    </b-card>
                </b-col>
                <b-col cols="12" lg="4">
                    <b-card no-body >
                        <b-card-body class="d-flex justify-content-between align-items-center h-100">
                        <div class="">
                            <v-icon left>mdi-home</v-icon><span class="h6 text-primary">Alamat</span>
                            <hr>
                            <div class="text-left" style="white-space: pre-line;" v-if="disableProfil.user.address">
                                <span v-if="disableProfil.user.address.kp !== null">Kp. </span>{{disableProfil.user.address.kp}}<span v-if="disableProfil.user.address.kp !== null">,</span>
                                <span v-if="disableProfil.user.address.jl !== null">Jl. </span>{{disableProfil.user.address.jl}}<span v-if="disableProfil.user.address.jl !== null">,</span>
                                <span v-if="disableProfil.user.address.rt !== null">RT. </span>{{disableProfil.user.address.rt}}<span v-if="disableProfil.user.address.rt !== null">,</span>
                                <span v-if="disableProfil.user.address.rw !== null">RW. </span>{{disableProfil.user.address.rw}}<span v-if="disableProfil.user.address.rw !== null">,</span>
                                <span v-if="disableProfil.user.address.no !== null">No. </span>{{disableProfil.user.address.no}}<span v-if="disableProfil.user.address.no !== null">,</span>
                                <span v-if="disableProfil.user.address.kel !== null">Kel. </span>{{disableProfil.user.address.kel}}<span v-if="disableProfil.user.address.kel !== null">,</span>
                                <span v-if="disableProfil.user.address.kec !== null">Kec. </span>{{disableProfil.user.address.kec}}<span v-if="disableProfil.user.address.kec !== null">,</span>
                                <span v-if="disableProfil.user.address.kota !== null">Kota </span>{{disableProfil.user.address.kota}}<span v-if="disableProfil.user.address.kota !== null">,</span>
                                <span v-if="disableProfil.user.address.kab !== null">Kab. </span>{{disableProfil.user.address.kab}}<span v-if="disableProfil.user.address.kab !== null">,</span>
                                <span v-if="disableProfil.user.address.pos !== null">Kode Pos. </span>{{disableProfil.user.address.pos}}<span v-if="disableProfil.user.address.pos !== null"></span>
                            </div>
                            <div class="text-left" v-else>
                                data alamat tidak tersedia.
                            </div>
                        </div>
                        </b-card-body>
                    </b-card>
                </b-col>
            </b-row>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Cancel </b-button>
            <b-button size="sm" variant="danger" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Nonaktifkan</b-button>
        </template>
    </b-modal>
</template>

<script>
import moment, { months } from 'moment'
import ICountUp from 'vue-countup-v2';
import PegawaiInfoCardDisable from './disable-pegawai/PegawaiInfoCardDisable.vue'
import Api from '@axios'

export default {
    components :{
        ICountUp,
        PegawaiInfoCardDisable,
    },
    data() {
        return {
            btnload: false,
            date3: false,
            disableProfil: {},
            form: new Form ({
                id:'',
                fullname: '',
                alasan_keluar : '',
                alasanlainnya : '',
                tmt_keluar : '',
            }),
        }
    },
    computed: {
        toDays(){
            var a = moment(this.disableProfil.tmt_keluar);
            var b = moment(this.disableProfil.user.tmt);
            return a.diff(b, 'days');
        },
        toYear(){
            // return moment(this.userData.tmt).fromNow(true)
            var a = moment(this.disableProfil.tmt_keluar);
            var b = moment(this.disableProfil.user.tmt);
            var age = moment.duration(a.diff(b));
            var year = age.years();
            var month = age.months();
            var day = age.days();
            return year + ' tahun ' + month + ' bulan ' + day + ' hari';
        }
    },
    methods: {
        onReady: function(instance, CountUp) {
            instance.update(this.toDays);
        },
        profilModal(id){
            Api.get('disable-user/'+id)
            .then(response => {
                this.disableProfil = response.data
                this.$refs['disable-pegawai'].show()
            })
            .catch()
            // this.$refs.sp.remove();
            // this.form.errors.errors = {};
            // this.form.reset();
            // this.form.fill(row);
        },
        handleOk(event) {
            event.preventDefault()
            this.disableUser()
        },
        disableUser(){
            this.$refs.disableValidation.validate().then(success => {
                if (success) {
                    this.$swal({
                        title: 'Anda Yakin?',
                        text: "Pegawai yang dinonaktifkan tidak dapat dikembalikan!",
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Ya, saya yakin!',
                        customClass: {
                            confirmButton: 'btn btn-danger',
                            cancelButton: 'btn btn-outline-secondary ml-1',
                        },
                        buttonsStyling: false,
                    }).then((result) => {
                        if (result.value) {
                            this.btnload = true;
                            if (this.form.alasan_keluar === 'Lainnya') {
                                this.form.alasan_keluar = this.form.alasanlainnya;
                            }
                            this.$store.dispatch("user/disablePegawai", this.form)
                            .then(() => {
                                this.$refs['disable-pegawai'].hide();
                                this.btnload = false;
                                this.$swal({
                                    icon: 'success',
                                    title: 'Berhasil!',
                                    text: 'Pegawai berhasil dinonaktifkan',
                                    showConfirmButton: false,
                                    timer: 1500,
                                })
                            })
                            .catch(error => {
                                this.btnload = false;
                                this.$swal({
                                    icon: 'warning',
                                    title: 'Gagal!',
                                    text: error.response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500,
                                })
                            })
                        }
                    })
                }
            })
        },
    },
}
</script>
<style>
    .darker{
        background-color: #1250fa;
    }
</style>
