@import '../../frontend/src/@core/scss/core.scss';
// @import '../../frontend/src/views/skp/print.css';
// @import '../../../node_modules/vuetify/dist/vuetify.css';
// @import '../../frontend/node_modules/vuetify/dist/vuetify.css'

@media print {
    html, body {
        /* height: auto; */
        // height:100%;width:100%;margin:0;padding:0;
        transform: scale(.7) !important;
        background-color: transparent !important;
    }


    .prestasi, td {
        padding: 0.3rem 2rem !important;
        font-size: 10pt !important;
    }
    .break {
        page-break-before: always;
    }

    @page {
        size: auto;
    }

    footer.footer {
        display: none;
    }
}
