<template>
<v-app class="bg-transparent" dark>
<b-card class="mb-1 shadow-lg">
    <div class="d-flex">
        <div class="flex-shrink-0 mr-7">
            <b-avatar
                :src="asset('images/avatar/'+userData.photo)"
                :text="avatarText(userData.fullname)"
                :size="size"
                rounded
            />
        </div>
        <div class="flex-grow-1">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="mr-3">
                    <h2 class="mb-0 text-primary"><b>{{ userData.fullname }} </b></h2>
                    <!-- <span class="card-text text-muted">{{ userData.nickname }}</span> -->
                    <div class="d-flex flex-wrap my-2 ml-1">
                        <p class="mr-lg-8 mr-5 mb-lg-0 mb-2" v-b-tooltip.hover.bottom title="NIP">
                            <v-icon :dark="$root.isDark" left small>mdi-badge-account</v-icon> {{ userData.nip }}
                        </p>
                        <p class="mr-lg-8 mr-5 mb-lg-0 mb-2 text-nowrap" v-b-tooltip.hover.bottom title="E-mail">
                            <v-icon :dark="$root.isDark" left small>mdi-email</v-icon> {{ userData.email }}
                        </p>
                    </div>
                    <div class="d-none d-md-block">
                        <hr>
                    <div class="d-flex align-items-start flex-wrap">
                        <div class="d-flex align-items-start flex-lg-fill mr-5 my-1">
                            <b-avatar variant="light-primary" rounded >
                                <b-icon scale="2" variant="primary" class="fas fa-building fa-lg"></b-icon>
                            </b-avatar>
                            <div class="ml-2">
                                <small>Unit</small>
                                <h5 class="mb-0">
                                    <span v-for="unit in userData.placement" :key="unit.id">
                                        <span v-if="userData.placement.length > 1">&bull; </span>{{ unit.nama_unit}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-start flex-lg-fill mr-5 my-1">
                            <b-avatar variant="light-primary" rounded >
                                <b-icon scale="2" variant="primary" class="fas fa-briefcase fa-lg"></b-icon>
                            </b-avatar>
                            <div class="ml-2">
                                <small>Jabatan</small>
                                <h5 class="mb-0">
                                    <span v-for="jab in userData.placement" :key="jab.id">
                                        <span v-if="userData.placement.length > 1">&bull; </span>{{jab.jabatan}}
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1" v-if="userData.academic.length">
                            <b-avatar variant="light-primary" rounded >
                                <b-icon scale="2" variant="primary" class="fas fa-graduation-cap fa-lg"></b-icon>
                            </b-avatar>
                            <div class="ml-2">
                                <small>Pendidikan Terakhir</small>
                                <h5 class="mb-0">
                                    {{ userData.academic[0].tingkat }}
                                    <span v-if="userData.academic[0].jurusan">-</span>
                                    {{ userData.academic[0].jurusan}}
                                </h5>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="d-flex align-items-start">
                    <b-badge variant="primary" v-b-tooltip.hover.bottom title="Jenis Pegawai">
                        <span class="h5 text-white">{{ userData.jenis_peg}}</span>
                    </b-badge>
                </div>
            </div>
        </div>
    </div>
    <hr class="d-md-none">
    <div class="d-flex align-items-center flex-wrap d-md-none mt-2">
        <div class="d-flex align-items-start flex-lg-fill mr-5 my-1">
            <b-avatar variant="light-primary" rounded >
                <b-icon scale="2" variant="primary" class="fas fa-building fa-lg"></b-icon>
            </b-avatar>
            <div class="ml-2">
                <small>Unit</small>
                <h5 class="mb-0">
                    <span v-for="unit in userData.placement" :key="unit.id">
                        <span v-if="userData.placement.length > 1">&bull; </span>{{ unit.nama_unit}}
                    </span>
                </h5>
            </div>
        </div>
        <div class="d-flex align-items-start flex-lg-fill mr-5 my-1">
            <b-avatar variant="light-primary" rounded >
                <b-icon scale="2" variant="primary" class="fas fa-briefcase fa-lg"></b-icon>
            </b-avatar>
            <div class="ml-2">
                <small>Jabatan</small>
                <h5 class="mb-0">
                    <span v-for="jab in userData.placement" :key="jab.id">
                        <span v-if="userData.placement.length > 1">&bull; </span>{{jab.jabatan}}
                    </span>
                </h5>
            </div>
        </div>
        <div class="d-flex align-items-start flex-lg-fill mr-5 my-1" v-if="userData.academic.length">
            <b-avatar variant="light-primary" rounded >
                <b-icon scale="2" variant="primary" class="fas fa-graduation-cap fa-lg"></b-icon>
            </b-avatar>
            <div class="ml-1">
                <small>Pendidikan Terakhir</small>
                <h5 class="mb-0">
                    {{ userData.academic[0].tingkat }}
                    <span v-if="userData.academic[0].jurusan">-</span>
                    {{ userData.academic[0].jurusan}}
                </h5>
            </div>
        </div>
    </div>
</b-card>
</v-app>
</template>

<script>
import { avatarText } from '@core/utils/filter'

export default {
    props: {
        userData: {
            type: Object,
            required: true,
        },
    },
    setup() {
        return {
            avatarText,
        }
    },
    computed : {
        statusAct(){
            if(this.userData.active == 1){
                return 'Aktif'
            }else{
                return 'Non-Aktif'
            }
        },
        size() {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return '85px'
                case 'sm': return '85px'
                case 'md': return '100px'
                case 'lg': return '130px'
                case 'xl': return '130px'
            }
        },
    }
}
</script>

<style>

</style>
