<template>
<v-app class="bg-transparent mb-2" dark>
<div>
    <template v-if="load">
        <b-row>
            <b-col>
                <v-skeleton-loader
                type="list-item-avatar-three-line"
                ></v-skeleton-loader>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" lg="4">
                <v-skeleton-loader
                type="card-heading, list-item"
                ></v-skeleton-loader>
                <br>
                <v-skeleton-loader
                type="card-heading, list-item"
                ></v-skeleton-loader>
            </b-col>
            <b-col cols="12" lg="8" >
                <!-- <b-card> -->
                <v-skeleton-loader
                type="card-heading, list-item-three-line, list-item-three-line, list-item-three-line"
                ></v-skeleton-loader>
                <!-- </b-card> -->

            </b-col>
        </b-row>
    </template>
    <template v-if="!load">
    <b-row>
        <b-col cols="12">
            <pegawai-info-card :userData="userData" class="mb-3"/>
        </b-col>
    </b-row>
    <b-row>
        <b-col cols="12" lg="4" >
            <b-card no-body >
                <b-card-body class="d-flex justify-content-between align-items-center h-100">
                <div class="">
                    <h6>Masa Bakti</h6>
                    <div class="mb-25 display-3 font-weight-bolder d-inline text-primary">
                        <ICountUp :endVal="toDays" @ready="onReady" />
                    </div>
                    <sub><small>hari</small></sub>
                    <div>atau <b class="text-primary">{{ toYear }}</b></div>
                    <div>sejak <b>{{ userData.tmt | tanggal }}</b></div>
                </div>
                <b-avatar :variant="`light-primary`" size="45" >
                    <b-icon icon="calendar2-check" scale="2" variant="success"></b-icon>
                </b-avatar>
                </b-card-body>
            </b-card>
            <b-card no-body >
                <b-card-body class="">
                <div class="">
                    <v-icon left>mdi-text-account</v-icon><span class="h5 font-weight-bold text-primary">Biodata</span>
                    <hr>
                    <b-row>
                        <b-col cols="auto"><v-icon right small>mdi-cake-variant</v-icon></b-col>
                        <b-col>{{userData.biodata.tpt_lahir}}, {{userData.biodata.tgl_lahir}}</b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="auto"><v-icon right small>mdi-gender-male</v-icon></b-col>
                        <b-col>{{userData.biodata.gender}}</b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="auto"><v-icon right small>mdi-weather-night</v-icon></b-col>
                        <b-col>{{userData.biodata.agama}}</b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="auto"><v-icon right small>mdi-card-account-details-star</v-icon></b-col>
                        <b-col>{{userData.biodata.nik}}</b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="auto"><v-icon right small>mdi-cellphone</v-icon></b-col>
                        <b-col>{{userData.biodata.hp ? userData.biodata.hp : '-'}}</b-col>
                    </b-row>
                </div>
                </b-card-body>
            </b-card>
            <b-card no-body class="mb-2">
                <b-card-body class="d-flex justify-content-between align-items-center h-100">
                <div class="">
                    <v-icon left>mdi-home</v-icon><span class="h6 text-primary font-weight-bold">Alamat</span>
                    <hr>
                    <div class="text-left" style="white-space: pre-line;" v-if="userData.address">
                        <span v-if="userData.address.kp !== null">Kp. </span>{{userData.address.kp}}<span v-if="userData.address.kp !== null">,</span>
                        <span v-if="userData.address.jl !== null">Jl. </span>{{userData.address.jl}}<span v-if="userData.address.jl !== null">,</span>
                        <span v-if="userData.address.rt !== null">RT. </span>{{userData.address.rt}}<span v-if="userData.address.rt !== null">,</span>
                        <span v-if="userData.address.rw !== null">RW. </span>{{userData.address.rw}}<span v-if="userData.address.rw !== null">,</span>
                        <span v-if="userData.address.no !== null">No. </span>{{userData.address.no}}<span v-if="userData.address.no !== null">,</span>
                        <span v-if="userData.address.kel !== null">Kel. </span>{{userData.address.kel}}<span v-if="userData.address.kel !== null">,</span>
                        <span v-if="userData.address.kec !== null">Kec. </span>{{userData.address.kec}}<span v-if="userData.address.kec !== null">,</span>
                        <span v-if="userData.address.kota !== null">Kota </span>{{userData.address.kota}}<span v-if="userData.address.kota !== null">,</span>
                        <span v-if="userData.address.kab !== null">Kab. </span>{{userData.address.kab}}<span v-if="userData.address.kab !== null">,</span>
                        <span v-if="userData.address.pos !== null">Kode Pos. </span>{{userData.address.pos}}<span v-if="userData.address.pos !== null"></span>
                    </div>
                    <div class="text-left" v-else>
                        data alamat tidak tersedia.
                    </div>
                </div>
                </b-card-body>
            </b-card>
        </b-col>
        <b-col cols="12" lg="8" >
            <pegawai-timeline
                :activities="activities"
            />
        </b-col>
    </b-row>
    </template>

</div>
</v-app>
</template>

<script>
import moment from 'moment'
import ICountUp from 'vue-countup-v2';
import PegawaiInfoCard from './PegawaiInfoCard.vue'
import PegawaiActivityCard from './PegawaiActivityCard.vue'
import PegawaiTimeline from '../PegawaiTimeline.vue'
// import Api from '../../api/api'
import Api from '@axios'

export default {
    components: {
        ICountUp,
        PegawaiInfoCard,
        PegawaiActivityCard,
        PegawaiTimeline,
    },
    mounted() {
        this.fetchUser();
        this.getLatesActivity();
    },
    data() {
        return {
            userData:{},
            activities: [],
            endVal: 1500,
            load: true,
        }
    },
    computed: {
        toDays(){
            var a = moment(new Date());
            var b = moment(this.userData.tmt);
            return a.diff(b, 'days');
        },
        toYear(){
            // return moment(this.userData.tmt).fromNow(true)
            var a = moment(new Date());
            var b = moment(this.userData.tmt);
            var age = moment.duration(a.diff(b));
            var year = age.years();
            var month = age.months();
            var day = age.days();
            return year + ' tahun ' + month + ' bulan ' + day + ' hari';
        }
    },
    methods: {
        onReady: function(instance, CountUp) {
            instance.update(this.toDays);
        },
        fetchUser(){
            // axios.get('api/user/'+this.id).then((data) => (this.userData = data.data[0]));
            Api.get('user/'+this.$route.params.id)
            .then( response => {
                this.userData = response.data
                this.load = false
            }).catch( error => {
                if(error.response.status == 404){
                    this.$router.push({ name: 'error-404'})
                }
            });
        },
        getLatesActivity(){
            let form = {
                id_user : this.$route.params.id
            }
            Api.post('activity/latest', form)
            .then( response => {
                this.activities = response.data;
            })
        }
    },
}
</script>

<style>
.borderless td, .borderless th {
    border: none;
}
</style>
