<template>
<p class="clearfix mb-0">
    <span class="float-md-left d-block d-md-inline-block mt-25">
    COPYRIGHT  © {{ new Date().getFullYear() }}
    <b-link
        class="ml-25"
        href="https://www.instagram.com/handywepe"
        target="_blank"
    >Handy Wiguna</b-link>
    <span class="d-none d-sm-inline-block">, All rights Reserved</span>
    </span>

    <span class="float-md-right d-none d-md-block">Hand-crafted &amp; Made with
        <feather-icon icon="HeartIcon" size="17" class="text-danger stroke-current ml-0" />
         for
        <b-link class="ml-25" href="https://www.instagram.com/rsudcibinong_bogor" target="_blank" >
        RSUD Cibinong
        </b-link>
    </span>
</p>
</template>

<script>
import { BLink } from 'bootstrap-vue'

export default {
    components: {
        BLink,
    },
}
</script>
