<template>
    <b-card
        v-if="data"
        no-body
        class="card-statistics mb-5 mb-md-5"
    >
        <b-card-header style="padding: 13px 21px 5px 21px" class="d-flex ">
            <b-card-title>Total Kegiatan</b-card-title>
            <div class="d-flex align-items-center mb-0">
            <span>Tahun</span>
            <b-dropdown
                right
                :text="year"
                size="sm"
                class="budget-dropdown ml-1 dd-scroll"
                variant="outline-primary"
                >
                <b-dropdown-item v-for="(value, index) in items" :key="index" @click.prevent="changeYear(value)">
                    {{ value }}
                </b-dropdown-item>
                </b-dropdown>
                <!-- <div style="width : 100px" class="ml-2">
                    <v-select v-model="year" :items="['2020', '2021']" outlined dense hide-details
                        @change="$emit('changeYear', year)"
                    />
                </div> -->
            </div>
        </b-card-header>
        <b-card-body style="padding: 10px 21px 21px 21px">
        <b-row class="my-auto statistic-row ml-0">
            <b-col cols="12" sm="4" class="statistic-col">
            <b-media no-body>
                <b-media-aside class="mr-2" >
                    <b-avatar size="42" variant="light-primary" >
                        <feather-icon size="24" icon="CheckCircleIcon" />
                    </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                    <b-card-text class="font-small-3 mb-0">
                        Disetujui
                    </b-card-text>
                    <h4 class="font-weight-bolder mb-0" >
                        {{ disetujui }}
                    </h4>
                </b-media-body>
            </b-media>
            </b-col>
            <b-col cols="12" sm="4" class="statistic-col">
            <b-media no-body>
                <b-media-aside class="mr-2" >
                    <b-avatar size="42" variant="light-danger" >
                        <feather-icon size="24" icon="AlertCircleIcon" />
                    </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                    <b-card-text class="font-small-3 mb-0">
                        Ditolak
                    </b-card-text>
                    <h4 class="font-weight-bolder mb-0">
                        {{ ditolak }}
                    </h4>
                </b-media-body>
            </b-media>
            </b-col>
            <b-col cols="4" class="statistic-col">
            <b-media no-body>
                <b-media-aside class="mr-2" >
                    <b-avatar size="42" variant="light-secondary" >
                        <feather-icon size="24" icon="ClockIcon" />
                    </b-avatar>
                </b-media-aside>
                <b-media-body class="my-auto">
                    <b-card-text class="font-small-3 mb-0">
                        Menunggu
                    </b-card-text>
                    <h4 class="font-weight-bolder mb-0">
                        {{ menunggu }}
                    </h4>
                </b-media-body>
            </b-media>
            </b-col>
        </b-row>
        </b-card-body>
    </b-card>
</template>

<script>

export default {
    components: {

    },
    props: {
        data: {
            type: Array,
            default: () => [],
        },
        tahun: {
            type: String,
        },
        statistic : {
            type: Object,
        },
        wait : {
            type: Boolean,
        }
    },
    computed: {
        disetujui(){
            if(!this.wait){
                let result = this.statistic.accept;
                return result.reduce((a, b) => a + b, 0);
            }
        },
        ditolak(){
            if(!this.wait){
                let result = this.statistic.reject;
                return -result.reduce((a, b) => a + b, 0);
            }
        },
        menunggu(){
            if(!this.wait){
                return this.statistic.wait
            }
        },
    },
    data() {
        return {
            year : this.tahun,
            items : [],
        }
    },
    methods: {
        countYear(){
            var from = 2020
            var to = new Date().getFullYear()
            var count = to - from
            for (let i = 0; i < count+1; i++) {
                this.items.push(from++)
            }
        },
        updateYear(){
            this.year = this.tahun
        },
        changeYear(year){
            this.year = year.toString();
            this.$emit('changeYear', year.toString())
        }
    },
    created() {
        this.countYear();
    },
    watch: {
        tahun : 'updateYear'
    }
}
</script>
<style>
  .dd-scroll .dropdown-menu {
    max-height: 100px;
    overflow-y: auto;
  }
  .statistic-row .statistic-col {
      padding: 5px;
  }
</style>
