<template>
  <b-card class="earnings-card mb-5">
    <b-row>
      <b-col cols="7">
        <b-card-title class="mb-3"> Penilaian {{ title }} </b-card-title>
        <div class="mt-5" v-if="loadingUser">
          <v-skeleton-loader type="sentences" class="mb-3" />
          <v-skeleton-loader type="text" />
        </div>
        <template v-else>
          <template v-if="totalWait != 0">
            <div
              class="d-flex align-items-center justify-content-start flex-wrap"
            >
              <div class="mb-0 text-primary font-weight-800 display-2 mr-2">
                {{ totalWait }}
              </div>
              <span class="text-wrap"> kegiatan </span>
            </div>
            <span class="text-wrap"> menunggu untuk dinilai</span>
          </template>
          <template v-else>
            <div class="d-flex align-items-center justify-content-start mb-2">
              <feather-icon class="text-primary mr-2" icon="CheckCircleIcon" size="70" />
              <span class="text-wrap"> seluruh kegiatan telah dinilai </span>
            </div>
          </template>
          <span class="text-wrap" >dari total
            <span class="text-primary font-weight-bolder">{{ totalAll }}</span>
            kegiatan.
          </span>
        </template>
      </b-col>
      <b-col cols="5" class="px-0 my-auto">
        <vue-apex-charts
          v-if="wait"
          height="110"
          :options="chartOptionsNan"
          :series="series"
        />
        <vue-apex-charts
          v-if="!wait"
          height="110"
          :options="chartOptions"
          :series="Cseries"
        />
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import ApexLoading from "../ApexLoading.vue";
import { $themeColors } from "@themeConfig";

const $earningsStrokeColor2 = "#28c76f66";
const $earningsStrokeColor3 = "#28c76f33";
export default {
  components: {
    VueApexCharts,
    ApexLoading,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
    },
    totalWait: {
      type: Number,
    },
    totalAccept: {
      type: Number,
    },
    totalDenied: {
      type: Number,
    },
    totalAll: {
      type: Number,
    },
    percentAccept: {
      type: Number,
    },
    percentDenied: {
      type: Number,
    },
    loadingUser: {
      type: Boolean,
    },
  },
  computed: {
    // series(){
    //    return [ this.percent ]
    // },
    wait() {
      return this.totalAll ? false : true;
    },
    Cseries() {
      return [
        this.percentAccept,
        this.percentDenied,
        100 - this.percentAccept - this.percentDenied,
      ];
    },
  },
  data() {
    return {
      series: [100],
      chartOptions: {
        chart: {
          type: "donut",
          toolbar: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        legend: { show: false },
        // comparedResult: [2, -3, 8],
        labels: ["Disetujui", "Ditolak", "Menunggu"],
        stroke: { width: 0 },
        colors: ["#39af21", "#007bff", "#28c76f", "#ff9f43", "#ea5455"],
        grid: {
          padding: {
            right: -20,
            bottom: -8,
            left: -20,
          },
        },
        plotOptions: {
          pie: {
            startAngle: 0,
            donut: {
              labels: {
                show: true,
                name: {
                  offsetY: 15,
                },
                value: {
                  offsetY: -15,
                  formatter(val) {
                    // eslint-disable-next-line radix
                    return `${parseInt(val)}%`;
                  },
                },
                total: {
                  show: false,
                },
              },
            },
          },
        },
      },
      chartOptionsNan: {
        chart: {
          type: "donut",
          toolbar: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        legend: { show: false },
        stroke: { width: 0 },
        colors: ["#9191912a"],
        tooltip: {
          enabled: false,
        },
        grid: {
          padding: {
            right: -20,
            bottom: -8,
            left: -20,
          },
        },
        plotOptions: {
          pie: {
            startAngle: 0,
            donut: {
              labels: {
                show: false,
                name: {
                  offsetY: 15,
                },
                value: {
                  offsetY: -15,
                  formatter(val) {
                    // eslint-disable-next-line radix
                    return `${parseInt(val)}%`;
                  },
                },
                total: {
                  show: false,
                },
              },
            },
          },
        },
      },
    };
  },
};
</script>
