<template>
  <b-card class="earnings-card mb-5">
    <b-row>
      <b-col cols="7" class="pr-0">
        <b-card-title class="mb-3"> Penilaian {{ title }} </b-card-title>
        <div class="mt-5" v-if="loadingUser">
            <v-skeleton-loader type="sentences" class="mb-3" />
            <v-skeleton-loader type="text" />
        </div>
        <template v-else>
            <template v-if="totalWaitBehavior != 0">
                <div class="d-flex align-items-center justify-content-start flex-wrap mb-2" >
                    <div class="mb-0 text-primary font-weight-800 display-2 mr-2">
                    {{ totalWaitBehavior }}
                    </div>
                    <span>
                    <small> pegawai </small>
                    </span>
                </div>
                <span class="text-wrap"> menunggu untuk dinilai</span>
            </template>
            <template v-else>
            <div class="d-flex align-items-center justify-content-start">
                <feather-icon
                class="text-primary mr-2"
                icon="CheckCircleIcon"
                size="70"
                />
                <span class="text-wrap"> seluruh pegawai telah dinilai </span>
            </div>
            </template>
            <span class="text-wrap">dari total </span>
            <span class="text-primary font-weight-bolder">{{ totalPegawai }}</span>
            pegawai.
        </template>
      </b-col>
      <b-col cols="5" class="px-0 my-auto">
        <vue-apex-charts
          v-if="!wait"
          height="110"
          :options="chartOptions"
          :series="Cseries"
        />
        <vue-apex-charts
          v-if="wait"
          height="110"
          :options="chartOptionsNan"
          :series="series"
        />
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import { $themeColors } from "@themeConfig";

const $earningsStrokeColor2 = "#28c76f66";
const $earningsStrokeColor3 = "#28c76f33";
export default {
  components: {
    VueApexCharts,
  },
  props: {
    title: {
      type: String,
    },
    totalPegawai: {
      type: Number,
    },
    totalWaitBehavior: {
      type: Number,
    },
    persenBaik: {
      type: Number,
    },
    persenBuruk: {
      type: Number,
    },
    persenCukup: {
      type: Number,
    },
    persenSangatBaik: {
      type: Number,
    },
    persenSedang: {
      type: Number,
    },
    loadingUser: {
      type: Boolean,
    },
  },
  computed: {
    Cseries() {
      return [
        this.persenSangatBaik,
        this.persenBaik,
        this.persenCukup,
        this.persenSedang,
        this.persenBuruk,
      ];
    },
    wait() {
      return this.totalWaitBehavior == this.totalPegawai ? true : false;
    },
  },
  data() {
    return {
      series: [100],
      chartOptions: {
        chart: {
          type: "donut",
          toolbar: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        legend: { show: false },
        // comparedResult: [2, -3, 8],
        labels: ["Sangat Baik", "Baik", "Cukup", "Sedang", "Buruk"],
        stroke: { width: 0 },
        colors: ["#39af21", "#007bff", "#28c76f", "#ff9f43", "#ea5455"],
        grid: {
          padding: {
            right: -20,
            bottom: -8,
            left: -20,
          },
        },
        plotOptions: {
          pie: {
            startAngle: 0,
            donut: {
              labels: {
                show: true,
                name: {
                  offsetY: 15,
                },
                value: {
                  offsetY: -15,
                  formatter(val) {
                    // eslint-disable-next-line radix
                    return `${parseInt(val)}%`;
                  },
                },
                total: {
                  show: false,
                },
              },
            },
          },
        },
      },
      chartOptionsNan: {
        chart: {
          type: "donut",
          toolbar: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        legend: { show: false },
        stroke: { width: 0 },
        colors: ["#9191912a"],
        tooltip: {
          enabled: false,
        },
        grid: {
          padding: {
            right: -20,
            bottom: -8,
            left: -20,
          },
        },
        plotOptions: {
          pie: {
            startAngle: 0,
            donut: {
              labels: {
                show: false,
                name: {
                  offsetY: 15,
                },
                value: {
                  offsetY: -15,
                  formatter(val) {
                    // eslint-disable-next-line radix
                    return `${parseInt(val)}%`;
                  },
                },
                total: {
                  show: false,
                },
              },
            },
          },
        },
      },
    };
  },
};
</script>
