<template>
  <b-card
    no-body
    class="card-developer-meetup mb-1 mb-md-5"
  >
    <div class="bg-light-primary rounded-top text-center">
      <b-img
        :src="require('@/assets/images/illustration/happy-birthday.jpeg')"
        alt="Meeting Pic" rounded="top" fluid height="70"
      />
    </div>
    <b-card-body>
        <div class="meetup-header d-flex align-items-center mb-0">
            <div class="my-auto">
            <b-card-text class="mb-0">
                {{ new Date | tanggal }}
            </b-card-text>
            <b-card-title class="text-primary mb-3" v-if="birthday">
                Selamat Ulang Tahun ! 🎉
            </b-card-title>
            </div>
        </div>
        <template v-if="!loading">
            <div v-if="birthday" style="max-height: 100px; overflow: auto;" class="scroll">
                <div
                    v-for="(b,index) in birthday"
                    :key="index"
                    class=" d-flex justify-content-between align-items-center user-list"
                >
                    <b-media no-body>
                        <b-media-aside class="mr-75">
                            <b-avatar
                            rounded
                            size="42"
                            :src="asset('images/avatar/'+b.user.photo)"
                            />
                        </b-media-aside>
                        <b-media-body class="my-auto">
                            <h6 class="mb-0">
                            {{ b.user.fullname }}
                            </h6>
                            <small class="text-muted" v-if="b.user.penempatan.length">
                                {{ b.user.penempatan[0].nama_unit }}
                            </small>
                        </b-media-body>
                    </b-media>
                </div>
            </div>
            <div v-if="!birthday" >
                <p class="text-center text-muted mt-2">
                    Ooops.. Tidak ada yang berulang tahun hari ini
                </p>
            </div>
        </template>
        <template v-if="loading">
            <v-skeleton-loader
            type="list-item-avatar-two-line"
            ></v-skeleton-loader>
        </template>
    </b-card-body>
  </b-card>
</template>

<script>
import {
  BCard, BImg, BCardBody, BCardText, BCardTitle, BMedia, BMediaAside, BAvatar, BAvatarGroup, VBTooltip, BMediaBody,
} from 'bootstrap-vue'

export default {
  components: {
    BCard,
    BImg,
    BCardBody,
    BCardText,
    BCardTitle,
    BMedia,
    BMediaAside,
    BAvatar,
    BAvatarGroup,
    BMediaBody,
  },
  directives: {
    'b-tooltip': VBTooltip,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    birthday: {
        type: Array,
    }
  },
  computed:{
      loading(){
          return this.birthday ? false : true
      }
  }
}
</script>
