<template>
  <b-card
    v-if="data"
    class="mb-1 mb-md-5"
    no-body

  >
    <b-card-body class="font-small-3 p-2 py-0 flex-wrap min-h">
        <div class="mt-5">
            <h5>Halo, {{ greeting }}</h5>
            <h2 class="text-primary">{{ data.fullname }}</h2>
            <h5>{{ cheers }}</h5>
            <clock class="bottom" />
        </div>

        <!-- <b-img
        :src="require('@/assets/images/illustration/badge.svg')"
        class="medal"
        alt="Medal Pic"
        /> -->
        <!-- <div class="w-30"> </div>
        <b-img
            fluid
            style="position: absolute;
                width: 110px;
                right: 0;
                bottom: 0;"
            :src="require('@/assets/images/illustration/pricing-Illustration.svg')"
            class=""
            alt="svg img"
        /> -->
    </b-card-body>


    <!-- <b-button
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      variant="primary"
    >
      View Sales
    </b-button> -->

  </b-card>
</template>

<script>
import Ripple from 'vue-ripple-directive'
import { kFormatter } from '@core/utils/filter'
import Clock from './Clock.vue'

export default {
    components: {
        Clock,
    },
    directives: {
        Ripple,
    },
    props: {
        data: {
        type: Object,
        default: () => {},
        },
    },
    data() {
        return {
            swiperOptions: {
                speed: 600,
                parallax: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            },
        }
    },
    methods: {
        kFormatter,
    },
    computed: {
        greeting(){
            var ndate = new Date();
            var hr = ndate.getHours();
            if(hr < 11){
                return 'Selamat pagi';
            }else if( hr >= 11 && hr <=14 ){
                return 'Selamat siang';
            }else if( hr >= 14 && hr <=18 ){
                return 'Selamat sore';
            }else{
                return 'Selamat malam'
            }
        },
        cheers(){
            var ndate = new Date();
            var hr = ndate.getHours();
            if(hr < 11){
                return 'Semangat bekerja';
            }else if( hr >= 11 && hr <=14 ){
                return 'Tetap semangat!';
            }else if( hr >= 14 && hr <=18 ){
                return 'Terima kasih untuk tetap semangat!';
            }else{
                return 'Selamat istirahat'
            }
        }
    }

}
</script>
<style>
.medal{
    height: 8rem;
    /* position: absolute; */
    top: 0px
}
.bottom {
    position: absolute;
    bottom: 10px;
}

.min-h {
    min-height: 150px;
}

</style>
