<template>
<b-card class="card-revenue-budget mb-5 mb-md-5" no-body >
    <b-row class="mx-0">
    <b-col >
        <div class="d-sm-flex justify-content-between align-items-center mb-3 pt-5 px-2" >
        <h4 class="card-title mb-50 mb-sm-0 d-flex align-items-center">
            <div>Statistik Kegiatan Perbulan {{ year }}</div>
        </h4>
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center mr-2">
                <span class="bullet bullet-primary svg-font-small-3 mr-50 cursor-pointer" />
                <span>Disetujui</span>
            </div>
            <div class="d-flex align-items-center">
                <span class="bullet bullet-warning svg-font-small-3 mr-50 cursor-pointer" />
                <span>Ditolak</span>
            </div>
        </div>
        </div>

        <!-- chart -->
        <!-- <div class="d-flex align-items-center"> -->
            <div v-if="wait" class="text-center" style="min-height: 245px">
                <v-progress-circular indeterminate color="primary" style="margin-top: 120px" ></v-progress-circular>
            </div>
            <vue-apex-charts class="mt-5"
                v-if="!wait"
                id="revenue-report-chart"
                type="bar"
                height="230"
                :options="revenueReport.chartOptions"
                :series="revenueReport.series"
            />
        <!-- </div> -->
    </b-col>
    </b-row>
</b-card>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'
import Ripple from 'vue-ripple-directive'

export default {
    components: {
        VueApexCharts,
    },
    directives: {
        Ripple,
    },
    props :{
        tahun: {
            type : String,
        },
        statistic : {
            type: Object,
        },
        wait : {
            type: Boolean,
        },
    },
    computed: {
        theme(){
            return 'dark'
        }
    },
    data() {
        return {
            revenue_report: {},
            revenueReport: {
                series: [
                    {
                        name: 'Disetujui',
                        data: [],
                    },
                    {
                        name: 'Ditolak',
                        data: [],
                    },
                ],
                chartOptions: {
                    tooltip: {
                        theme: 'dark',
                    },
                    chart: {
                        stacked: true,
                        type: 'bar',
                        toolbar: { show: false },
                    },
                    grid: {
                        padding: {
                            top: -20,
                            bottom: -10,
                        },
                        yaxis: {
                            lines: { show: false },
                        },
                    },
                    xaxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Des'],
                        labels: {
                            style: {
                                colors: '#b9b9c3',
                                fontSize: '0.86rem',
                            },
                        },
                        axisTicks: {
                            show: false,
                        },
                        axisBorder: {
                            show: false,
                        },
                    },
                    legend: {
                        show: false,
                    },
                    dataLabels: {
                        enabled: false,
                    },
                    colors: [$themeColors.primary, $themeColors.warning],
                    plotOptions: {
                        bar: {
                            columnWidth: '17%',
                            endingShape: 'rounded',
                        },
                        distributed: true,
                    },
                    yaxis: {
                        labels: {
                            style: {
                                colors: '#b9b9c3',
                                fontSize: '0.86rem',
                            },
                        },
                    },
                },
            },

            year: this.tahun
        }
    },
    methods: {
        updateReport(){
            this.revenueReport.series[0].data = this.statistic.accept
            this.revenueReport.series[1].data = this.statistic.reject
        },
        updateYear(){
            this.year = this.tahun
        }
    },
    created() {
        // this.$http.get('/card/card-analytics/revenue-report').then(res => { this.revenue_report = res.data })
    },
    watch : {
        statistic : 'updateReport',
        tahun : 'updateYear'
    }
}
</script>
