<template>
    <div>
        <h2 class="" v-text="currentTime"></h2>
    </div>
</template>
<script>
import moment from 'moment';
const getCurrentTime = () => moment(new Date()).format("HH:mm:ss");
export default {
    data() {
        return {
            currentTime: getCurrentTime(),
        }
    },
    methods: {
        updateCurrentTime() {
            this.currentTime = getCurrentTime();
        }
    },
    created() {
        setInterval(() => this.updateCurrentTime(), 1000);
    },
}
</script>
