<template>
<b-card no-body class="card-employee-task mb-1 mb-md-5">
    <b-card-header>
    <b-row>
        <b-col lg="6" class="pb-0 d-flex align-items-center"
        ><h4>Nilai Prestasi Pegawai</h4></b-col
        >
        <b-col lg="6" class="pb-0">
        <b-input-group>
            <b-form-input
            v-model="search"
            type="text"
            placeholder="Ketik untuk mencari"
            />
            <b-input-group-append is-text>
            <feather-icon
                icon="XIcon"
                class="cursor-pointer"
                @click="search = ''"
            />
            </b-input-group-append>
        </b-input-group>
        </b-col>
    </b-row>
    <!-- <b-card-title>Nilai Prestasi Pegawai</b-card-title> -->
    <!-- <feather-icon
            icon="MoreVerticalIcon"
            size="18"
            class="cursor-pointer"
        /> -->
    </b-card-header>

    <!-- body -->
    <!-- style="max-height: 270px; overflow: auto; margin-bottom: 10px; padding-bottom: 0px" -->
    <b-card-body class="px-0 pb-0">
        <v-data-table
            :headers="headers"
            :items="data"
            :sort-by="['prestasi']"
            :sort-desc="[true]"
            :search="search"
            :loading="loadingUser"
            :items-per-page="5"
            mobile-breakpoint="0"
            loading-text="Memuat data"
            hide-default-header
            class=""
        >
        <template v-slot:item.fullname="{ item }">
        <b-media no-body >
            <b-media-aside class="mr-75">
            <b-avatar
                rounded
                size="35"
                :src="asset('images/avatar/' + item.photo)"
            />
            </b-media-aside>
            <b-media-body class="my-auto text-nowrap">
            <h6 class="mb-0">
                {{ item.fullname }}
            </h6>
            <small class="text-muted">{{ item.unit.nama_unit }}</small>
            </b-media-body>
        </b-media>
        </template>
        <template v-slot:item.prestasi="{ item }">
        <div class="d-flex justify-content-between">
            <span class="mr-2">{{ item.prestasi }}</span>
            <b-badge :variant="color(item.prestasi)">
            {{ kriteria(item.prestasi) }}
            </b-badge>
        </div>
        </template>
        <tfoot></tfoot>
    </v-data-table>
    </b-card-body>
</b-card>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import { $themeColors } from "@themeConfig";
/* eslint-disable global-require */
const $trackBgColor = "#e9ecef";
export default {
components: {
    VueApexCharts,
},
props: {
    data: {
    type: Array,
    },
    loadingUser: {
    type: Boolean,
    },
},
computed: {
    // ready(){
    //     return 'total' in this.data ? true : false ;
    // }
},
data() {
    return {
    sTable: {
        filters: {
        nama: { value: "", keys: ["fullname"], name: "Nama", active: true },
        },
        totalPages: 0,
        totalItem: 0,
        pagination: 5,
        currentPage: 1,
        totalRows: 1,
    },
    headers: [
        { text: "Nama", value: "fullname" },
        { text: "Preatasi", value: "prestasi" },
    ],
    search: "",
    };
},
methods: {
    kriteria(value) {
        if (value == 0) {
            return "Belum";
        } else if (value >= 1 && value <= 50) {
            return "Buruk";
        } else if (value > 50 && value <= 60) {
            return "Sedang";
        } else if (value > 60 && value <= 75) {
            return "Cukup";
        } else if (value > 75 && value <= 90) {
            return "Baik";
        } else if (value > 90) {
            return "Sangat Baik";
        }
    },
    color(value) {
        if (value == 0) {
            return "secondary";
        } else if (value >= 1 && value <= 50) {
            return "danger";
        } else if (value > 50 && value <= 60) {
            return "warning";
        } else if (value > 60 && value <= 75) {
            return "success";
        } else if (value > 75 && value <= 90) {
            return "info";
        } else if (value > 90) {
            return "primary";
        }
    },
    countPrestasi(item) {
        if (item.capaian && item.avgBehavior) {
            let persenCapaian = item.capaian * 0.6;
            let persenBehavior = item.avgBehavior * 0.4;
            return Math.round((persenCapaian + persenCapaian) * 100) / 100;
        } else {
            return "-";
        }
    },
    getColor (calories) {
      if (calories > 400) return 'red'
      else if (calories > 200) return 'orange'
      else return 'green'
    },
},
created() {},
};
/* eslint-disable global-require */
</script>
<style lang="scss">
tbody {
tr:hover {
    background-color: transparent !important;
}
}
.v-data-footer {
padding: 10px;
}

.v-data-footer__pagination {
    margin-left: 7px !important;
    margin-right: 7px !important;
}

.v-data-footer__select {
display: none;
}
</style>
