<template>
<v-app class="bg-transparent mb-2" dark style="min-height: 500px">
<!-- <div> -->
    <form-wizard
        color="#39af21"
        :title="null"
        :subtitle="null"
        finish-button-text="Submit"
        back-button-text="Previous"
        :layout="$vuetify.breakpoint.width <= 760 ? 'vertical' : 'horizontal'"
        class="mb-3"
        @on-complete="createUser"
    >

    <!-- account detail tab -->
    <tab-content title="Data Akun" icon="feather icon-file-text" :before-change="validationForm">
        <validation-observer ref="accountRules" tag="form" >
        <b-row class="mb-2">
            <b-col cols="12" class="mb-2" >
                <h5 class="mb-0"> Data Akun </h5>
                <small class="text-muted">
                Silahkan isi data akun pegawai.
                </small>
            </b-col>
            <b-col md="4">
                <validation-provider #default="{ errors }" name="Nama Panggilan" rules="required" >
                <b-form-group class="mb-0" label="Nama Panggilan" label-for="i-username" >
                    <v-text-field dense outlined v-model="form.nickname" hide-details="auto" type="text"
                        :error-messages="errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col md="5">
                <validation-provider #default="{ errors }" name="Nama Lengkap" rules="required" >
                <b-form-group class="mb-0" label="Nama Lengkap" label-for="i-fullname" >
                    <v-text-field dense outlined v-model="form.fullname" hide-details="auto"
                        :error-messages="errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col md="3">
                <validation-provider #default="{ errors }" name="NIP" rules="required|min:7" >
                <b-form-group class="mb-0" label="NIP" label-for="i-nip">
                    <v-text-field dense outlined v-model="form.nip" hide-details="auto" type="number"
                        :error-messages="'nip' in errorData ? errorData.nip : errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col md="6">
                <validation-provider #default="{ errors }" name="Jenis Pegawai" rules="required" >
                <b-form-group class="mb-0" label="Jenis Pegawai" label-for="i-jenis-pegawai">
                    <v-select :items="['PNS', 'BLUD', 'PTT', 'HONDA', 'APBD', 'PPPK' ]" v-model="form.jenis_peg"
                    dense outlined hide-details="auto" menu-props="auto" @change="form.gol = null, form.tmt_gol = null"
                    :error-messages="errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col md="3" v-if="form.jenis_peg === 'PNS' || form.jenis_peg === 'PPPK'">
                <b-form-group class="mb-0" label="TMT Golongan" label-for="i-tmt-golongan">
                <v-menu ref="date2" v-model="date2" :close-on-content-click="false" left
                    transition="slide-y-transition" min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="form.tmt_gol" outlined dense readonly v-bind="attrs" v-on="on" hide-details="auto"/>
                    </template>
                    <v-date-picker ref="picker" v-model="form.tmt_gol" locale="id" @input="date2 = false" no-title/>
                </v-menu>
                </b-form-group>
            </b-col>
            <b-col :md="(form.jenis_peg === 'PNS' || form.jenis_peg === 'PPPK') ? 3 : 6">
                <v-menu ref="date1" v-model="date1" :close-on-content-click="false" left
                    transition="slide-y-transition" min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <validation-provider #default="{ errors }" name="TMT" rules="required" >
                        <b-form-group class="mb-0" label="TMT" label-for="i-tmt">
                            <v-text-field v-model="form.tmt" outlined v-bind="attrs" v-on="on" readonly dense hide-details="auto"
                                :error-messages="errors[0]"/>
                        </b-form-group>
                        </validation-provider>
                    </template>
                    <v-date-picker ref="picker" v-model="form.tmt" locale="id" @input="date1 = false" no-title/>
                </v-menu>
            </b-col>
            <!-- <b-col :md="(form.academic.last_acad !== 'SD' && form.academic.last_acad !== 'SMP' && form.academic.last_acad !== 'SMF') ? 6 : 12">
                <validation-provider #default="{ errors }" name="Pendidikan Terakhir" rules="required">
                <b-form-group class="mb-0" label="Pendidikan Terakhir" label-for="i-pendidikan-terakhir">
                <v-select :items="['SD', 'SMP', 'SMU', 'SMA', 'SMEA', 'MA', 'SMK', 'STM', 'SMF', 'D3', 'D4', 'S1', 'S2', 'S3']" dense
                    v-model="form.academic.last_acad" outlined menu-props="auto" @change="form.academic.last_jurusan = null" hide-details="auto"
                    :error-messages="errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col md="6" v-if="form.academic.last_acad !== 'SD' && form.academic.last_acad !== 'SMP' && form.academic.last_acad !== 'SMF'">
                <validation-provider #default="{ errors }" name="Jurusan" rules="required">
                <b-form-group class="mb-0" label="Jurusan" label-for="i-pendidikan-terakhir">
                <v-text-field v-model="form.academic.last_jurusan" dense outlined type="text" menu-props="auto" hide-details="auto"
                    :error-messages="errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col> -->
        </b-row>
        </validation-observer>
    </tab-content>

    <tab-content title="Biodata" icon="feather icon-user" :before-change="validationFormBiodata">
        <validation-observer ref="biodataRules" tag="form" >
        <b-row class="mb-3">
            <b-col cols="12" class="mb-2" >
                <h5 class="mb-0"> Biodata Pegawai </h5>
                <small class="text-muted">
                silahkan isi biodata pegawai.
                </small>
            </b-col>
            <b-col md="4">
                <validation-provider #default="{ errors }" name="Tempat Lahir" rules="required" >
                <b-form-group class="mb-0" label="Tempat Lahir" label-for="i-tpt-lahir" >
                    <v-text-field dense outlined v-model="form.biodata.tpt_lahir" hide-details="auto"
                        :error-messages="errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col md="4">
                <v-menu ref="date3" v-model="date3" :close-on-content-click="false" left transition="slide-y-transition" min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <validation-provider #default="{ errors }" name="Tanggal Lahir" rules="required" >
                        <b-form-group class="mb-0" label="Tanggal Lahir" label-for="i-tanggal-lahir">
                            <v-text-field v-model="form.biodata.tgl_lahir" outlined v-bind="attrs" v-on="on" readonly dense hide-details="auto"
                                :error-messages="errors[0]" />
                        </b-form-group>
                        </validation-provider>
                    </template>
                    <v-date-picker :active-picker.sync="activePicker" no-title v-model="form.biodata.tgl_lahir" locale="id" @input="date3 = false"></v-date-picker>
                </v-menu>
            </b-col>
            <b-col md="4">
                <validation-provider #default="{ errors }" name="Jenis Kelamin" rules="required" >
                <b-form-group class="mb-0" label="Jenis Kelamin" label-for="i-agama">
                <v-select :items="['Laki-laki', 'Perempuan']" v-model="form.biodata.gender" outlined dense hide-details="auto"
                        :error-messages="errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col md="4">
                <b-form-group class="mb-0" label="Agama" label-for="i-agama">
                <v-select :items="['Islam', 'Katolik', 'Kristen Protestan', 'Hindu', 'Budha', 'Konghucu']"
                    v-model="form.biodata.agama" outlined dense hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="4">
                <b-form-group class="mb-0" label="NIK" label-for="i-tpt-lahir" >
                    <v-text-field dense outlined v-model="form.biodata.nik" type="number" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="4">
                <b-form-group class="mb-0" label="No Handphone" label-for="i-tpt-lahir" >
                    <v-text-field dense outlined v-model="form.biodata.hp" type="number" hide-details="auto"/>
                </b-form-group>
            </b-col>
        </b-row>
        </validation-observer>
    </tab-content>

    <tab-content title="Pendidikan" icon="feather icon-book" :before-change="validationFormPendidikan">
        <validation-observer ref="pendidikanRules" tag="form" >
        <b-row>
            <b-col cols="12" class="mb-2 d-flex justify-content-between" >
                <div>
                <h5 class="mb-0"> Pendidikan Pegawai </h5>
                <small class="text-muted">
                    silahkan isi pendidikan pegawai, mulai dari paling dasar hingga pendidikan terakhir.
                </small>
                </div>
                <v-btn outlined color="primary" class="text-capitalize" @click="addPendidikan()">
                    <v-icon left>mdi-plus</v-icon>
                    pendidikan
                </v-btn>
            </b-col>
            <b-col class="p-0">
            <transition-group name="success" mode="out-in">
                <b-row v-for="(n, index) in form.academic" :key="index + 0" class="px-3">
                    <b-col cols="12"
                        :md="(
                            form.academic[index].tingkat !== 'SD' &&
                            form.academic[index].tingkat !== 'SMP' &&
                            form.academic[index].tingkat !== 'SMF' &&
                            form.academic[index].tingkat != null)
                            ? 2
                            : 5"
                        >
                        <validation-provider #default="{ errors }" name="Tingkat">
                        <b-form-group class="mb-0" label="Tingkat" label-for="tingkat">
                        <v-select :items="['SD', 'SMP', 'SMU', 'SMA', 'SMEA', 'MA', 'SMK', 'STM', 'SMF', 'D3', 'D4', 'S1', 'S2', 'S3']" dense clearable
                            v-model="form.academic[index].tingkat" outlined menu-props="auto" hide-details="auto"
                            @change="form.academic[index].jurusan = null, form.academic[index].tahun = null"
                            :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                        </b-form-group>
                        </validation-provider>
                    </b-col>
                    <b-col cols="12" md="3"
                        v-if="
                        form.academic[index].tingkat !== 'SD' &&
                        form.academic[index].tingkat !== 'SMP' &&
                        form.academic[index].tingkat !== 'SMF' &&
                        form.academic[index].tingkat != null"
                        >
                        <validation-provider #default="{ errors }" name="Jurusan" rules="required">
                        <b-form-group class="mb-0" label="Jurusan" label-for="i-jurusan">
                        <v-text-field v-model="form.academic[index].jurusan" dense outlined type="text" menu-props="auto" hide-details="auto"
                            :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                        </b-form-group>
                        </validation-provider>
                    </b-col>
                    <b-col cols="12" md="5" >
                        <validation-provider #default="{ errors }" name="Nama Sekolah / Universitas">
                        <b-form-group class="mb-0" label="Nama Sekolah / Universitas" label-for="nama-sekolah">
                        <v-text-field v-model="form.academic[index].nama" dense outlined type="text" menu-props="auto" hide-details="auto"
                            :disabled="form.academic[index].tingkat == null"
                            :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                        </b-form-group>
                        </validation-provider>
                    </b-col>
                    <b-col cols="12" md="2" >
                        <validation-provider #default="{ errors }" name="Tahun" :rules="form.academic[index].tingkat != null ? 'required' : ''">
                        <b-form-group class="mb-0" label="Tahun" label-for="tahun">
                        <v-text-field v-model="form.academic[index].tahun" dense outlined type="number" menu-props="auto" hide-details="auto"
                            :disabled="form.academic[index].tingkat == null"
                            :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                        </b-form-group>
                        </validation-provider>
                    </b-col>
                    <template v-if="form.academic.length !== 1">
                    <b-col>
                        <hr>
                    </b-col>
                    <b-col cols="auto" class="d-flex align-items-end justify-content-center">
                        <v-btn outlined elevation="0" class="text-capitalize" small @click.prevent="deletePendidikan(index)">
                            <v-icon left>mdi-delete</v-icon> Hapus
                        </v-btn>
                    </b-col>
                    </template>
                </b-row>
            </transition-group>
            </b-col>
        </b-row>
        </validation-observer>
        <br>
    </tab-content>

    <tab-content title="Alamat" icon="feather icon-map" >
        <b-row>
            <b-col cols="12" class="mb-2" >
                <h5 class="mb-0"> Alamat Pegawai </h5>
                <small class="text-muted">
                silahkan isi alamat pegawai.
                </small>
            </b-col>
            <b-col md="4">
                <b-form-group class="mb-0" label="Kampung/Komplek" label-for="i-kp-komplek" >
                    <v-text-field dense outlined v-model="form.alamat.kp" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="5">
                <b-form-group class="mb-0" label="Jalan" label-for="i-jalan">
                <v-text-field outlined dense v-model="form.alamat.jl" hide-details="auto" />
                </b-form-group>
            </b-col>
            <b-col md="3">
                <b-form-group class="mb-0" label="nomor" label-for="i-nomor" >
                    <v-text-field dense outlined type="number" v-model="form.alamat.no" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="2">
                <b-form-group class="mb-0" label="RT" label-for="i-rt" >
                    <v-text-field dense outlined type="number" v-model="form.alamat.rt" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="2">
                <b-form-group class="mb-0" label="RW" label-for="i-rw" >
                    <v-text-field dense outlined type="number" v-model="form.alamat.rw" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="4">
                <b-form-group class="mb-0" label="Kelurahan" label-for="i-kel" >
                    <v-text-field dense outlined v-model="form.alamat.kel" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="4">
                <b-form-group class="mb-0" label="Kecamatan" label-for="i-kec" >
                    <v-text-field dense outlined v-model="form.alamat.kec" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="3">
                <b-form-group class="mb-0" label="Kota" label-for="i-kota" >
                    <v-text-field dense outlined v-model="form.alamat.kota" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="3">
                <b-form-group class="mb-0" label="Kabupaten" label-for="i-kab">
                    <v-text-field dense outlined v-model="form.alamat.kab" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="3">
                <b-form-group class="mb-0" label="Provinsi" label-for="i-prov">
                    <v-text-field dense outlined v-model="form.alamat.prov" hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col md="3">
                <b-form-group class="mb-0" label="Kode Pos" label-for="i-pos">
                    <v-text-field dense outlined type="number" v-model="form.alamat.pos" hide-details="auto"/>
                </b-form-group>
            </b-col>
        </b-row>
    </tab-content>

    <tab-content title="Unit & Jabatan" icon="feather icon-briefcase" :before-change="validationFormUnit">
        <validation-observer ref="unitRules" tag="form" >
        <b-row>
            <b-col cols="12" class="mb-2 d-flex justify-content-between">
                <div>
                <h5 class="mb-0"> Unit & Jabatan Pegawai </h5>
                <small class="text-muted">
                    silahkan isi unit & jabatan pegawai.
                </small>
                </div>
                <v-btn outlined color="primary" class="text-capitalize" @click="addPlacement()">
                    <v-icon left>mdi-plus</v-icon>
                    Unit & Jabatan
                </v-btn>
            </b-col>
            <b-col class="p-0">
            <transition-group name="success" mode="out-in">
            <b-row v-for="(n, index) in form.placement" :key="index+0" class="px-3">
            <b-col sm="12" lg="4">
                <validation-provider #default="{ errors }" name="Unit" rules="required" >
                <b-form-group class="mb-0" label="Unit" label-for="i-unit">
                <v-autocomplete v-model="form.placement[index].id_unit" outlined dense menu-props="auto"
                    :items="units" item-text="nama_unit" item-value="id" hide-details="auto" :error-messages="errors[0]"
                />
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col sm="12" lg="4">
                <validation-provider #default="{ errors }" name="Jabatan RSUD" rules="required" >
                <b-form-group class="mb-0" label="Jabatan RSUD" label-for="i-jabatan-rsud">
                <v-autocomplete v-model="form.placement[index].id_position" outlined dense menu-props="auto"
                    :items="positions" item-text="jabatan" item-value="id" hide-details="auto"
                     :error-messages="errors[0]"
                />
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col sm="12" lg="4">
                <b-form-group class="mb-0" label="Jabatan PermenPAN" label-for="i-jabatan-permenpan">
                <v-autocomplete v-model="form.placement[index].id_permenpan" outlined dense
                    :items="positions" item-text="jabatan" item-value="id" hide-details="auto"
                />
                </b-form-group>
            </b-col>
            <!-- <b-col cols="auto" class="d-flex align-items-end" v-if="form.placement.length !== 1">
                <v-btn icon elevation="0" @click.prevent="deletePlacement(index)" v-b-tooltip.hover.bottom title="Hapus">
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </b-col> -->
            <template v-if="form.placement.length !== 1">
            <b-col>
                <hr>
            </b-col>
            <b-col cols="auto" class="d-flex align-items-end justify-content-center">
                <v-btn outlined elevation="0" class="text-capitalize" small @click.prevent="deletePlacement(index)">
                    <v-icon left>mdi-delete</v-icon> hapus
                </v-btn>
            </b-col>
            </template>
            </b-row>
            </transition-group>
            </b-col>
            <br>
        </b-row>
        </validation-observer>
        <br>
    </tab-content>

    </form-wizard>

<!-- </div> -->
</v-app>
</template>

<script>
import Api from "@axios"
import { FormWizard, TabContent } from 'vue-form-wizard'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
    components: {
        FormWizard,
        TabContent,
        ToastificationContent,
    },
    data() {
        return {
            errorData: {},
            date1: false,
            date2: false,
            date3: false,
            activePicker: null,
            form: {
                id: null,
                nickname : '',
                fullname : '',
                email : '',
                password : '',
                role : '',
                gol : '',
                nip : '',
                tmt : '',
                tmt_gol : '',
                jenis_peg : '',
                academic: [{
                    tingkat : null,
                    jurusan : null,
                    nama : null,
                    tahun : null,
                }],
                placement:[{
                    id : null,
                    id_position : null,
                    id_unit : null,
                    id_user : null,
                    id_permenpan : null,
                }],
                biodata: {
                    tpt_lahir : '',
                    tgl_lahir : '',
                    agama : '',
                    gender : '',
                    nik: '',
                    hp : '',
                },
                alamat: {
                    id:'',
                    id_user:'',
                    kp: '',
                    jl: '',
                    no: '',
                    rt: '',
                    rw: '',
                    kel: '',
                    kec: '',
                    kota: '',
                    kab: '',
                    prov: '',
                    pos: '',
                },
            },
        }
    },
    mounted() {
        this.loadPosition();
        this.loadUnit();
    },
    computed:{
        positions(){
            return this.$store.state.position.positions;
        },
        units(){
            return this.$store.state.unit.units;
        },
    },
    methods: {
        deletePendidikan(index){
            this.form.academic.splice(index, 1);
        },
        addPendidikan() {
            this.form.academic.push({
                tingkat : null,
                jurusan : null,
                nama : null,
                tahun : null,
            })
        },
        validationForm() {
            return new Promise((resolve, reject) => {
                this.$refs.accountRules.validate().then(success => {
                    if (success) {
                        resolve(true)
                    } else {
                        reject()
                    }
                })
            })
        },
        validationFormBiodata() {
            return new Promise((resolve, reject) => {
                this.$refs.biodataRules.validate().then(success => {
                    if (success) {
                        resolve(true)
                    } else {
                        reject()
                    }
                })
            })
        },
        validationFormPendidikan() {
            return new Promise((resolve, reject) => {
                this.$refs.pendidikanRules.validate().then(success => {
                    if (success) {
                        resolve(true)
                    } else {
                        reject()
                    }
                })
            })
        },
        validationFormUnit() {
            return new Promise((resolve, reject) => {
                this.$refs.unitRules.validate().then(success => {
                    if (success) {
                        resolve(true)
                    } else {
                        reject()
                    }
                })
            })
        },
        addPlacement() {
            this.form.placement.push({
                id : null,
                id_position : null,
                id_unit : null,
                id_permenpan : null,
                id_user : this.form.id,
            })
        },
        deletePlacement(index){
            this.form.placement.splice(index, 1);
        },
        loadPosition(){
            this.$store.dispatch("position/getPosition").then()
            .catch(()=>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oopps!',
                    text: 'Sepertinya ada masalah dengan koneksimu',
                    confirmButtonText:'<a href="javascript:location.reload(true)" class="text-white"><i class="fa fa-sync-alt"></i> Reload</a>',
                })
            });
        },
        loadUnit(){
            this.$store.dispatch("unit/getUnit").then()
            .catch(()=>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oopps!',
                    text: 'Sepertinya ada masalah dengan koneksimu',
                    confirmButtonText:'<a href="javascript:location.reload(true)" class="text-white"><i class="fa fa-sync-alt"></i> Reload</a>',
                })
            });
        },
        createUser() {
            this.validate = {},
            this.form.password = 'sikap123';
            this.form.role = 'user';
            Api.get('/user/generatemail')
            .then(( data ) => (this.form.email = 'user'+(parseInt(data.data)+1)+'@rsudcibinong.com'))
            .then(() => {
                this.$store.dispatch("user/createPegawai", this.form )
                .then(() => { return this.$router.push({ name: 'pegawai', params: { success: true } }) })
                .catch( error => {
                    let text = [];
                    this.errorData = error.response.data.errors;
                    var err = error.response.data.errors;
                    Object.keys(err).forEach(function(key) {
                        text.push(' '+err[key]);
                    });
                    this.$swal({
                        icon: 'warning',
                        title: 'Oops, ada yang salah!',
                        text: text.toString(),
                    })
                })
            })
        },
    },
    watch: {
        date3(val){
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        },
    }
}
</script>
<style>
.wizard-nav {
    padding-top : 0px !important
}

</style>
