<template>
<b-card no-body>
    <b-card-body class="d-flex justify-content-between align-items-center">
    <div class="truncate">
        <span class="text-capitalize">{{ statisticTitle }}</span>
        <h2 class="mt-25 font-weight-bolder">
            <span :class="`text-${color}`">{{ kriteria(statistic) }}</span>
        </h2>
    </div>
    <b-badge :variant="`light-${color}`" size="45" rounded class="p-1">
        <!-- <feather-icon size="21" :icon="icon" /> -->
        <!-- <v-icon :color="color">{{icon}}</v-icon> -->
        <ICountUp v-if="statisticTitle != 'Rata-rata'" :endVal="statistic" @ready="onReady" class="fs-large"/>
        <span v-else class="fs-large">{{ statistic}}</span>
    </b-badge>
    </b-card-body>
</b-card>
</template>

<script>
import { BCard, BCardBody, BAvatar } from 'bootstrap-vue'
import ICountUp from 'vue-countup-v2'

export default {
    components: {
        ICountUp,
        BCard,
        BCardBody,
        BAvatar,
    },
    props: {
        icon: {
            type: String,
            required: true,
        },
        statistic: {
            type: [Number, String],
            required: true,
        },
        statisticTitle: {
            type: String,
            default: '',
        },
        color: {
            type: String,
            default: 'primary',
        },
    },
    methods: {
        onReady: function(instance, CountUp) {
            instance.update(this.statistic);
        },
        kriteria(value){
            if(value <= 50){
                return 'Buruk'
            }else if (value > 50 && value <= 60){
                return 'Sedang'
            }else if (value > 60 && value <= 75){
                return 'Cukup'
            }else if (value > 75 && value <= 90){
                return 'Baik'
            }else if (value > 90){
                return 'Sangat Baik'
            }
        },
    },
}
</script>
