<template>
<div>
    <b-card class="bg-transparent shadow-none px-0 behavior">
        <template #header >
            <template>
                <div class="d-flex w-100 align-items-center mb-1">
                    <h3 class="text-primary mb-0 text-nowrap mr-4"> {{ name }} </h3>
                    <v-progress-linear :size="100" :width="70" :indeterminate="loading" :color="loading ? 'primary' : 'secondary'" rounded />
                </div>
                <h6 class="mb-0 text-nowrap mr-2"> {{ year }} </h6>
            </template>
        </template>
            <transition name="success">
                <div v-if="behaviors && !loading">
                    <b-card class="p-2" no-body >
                        <div class="d-flex w-100 align-items-center justify-content-between unsur">
                            <h4 class="mb-0 text-nowrap mr-4"> Unsur Yang Dinilai </h4>
                            <v-btn color="primary" small class="text-capitalize"
                            @click.prevent="$refs.behaviorModal.editModal(behaviors), editmode = true">
                            <v-icon small left>mdi-pencil</v-icon>
                            Ubah
                            </v-btn>
                        </div>
                        <!-- <div v-for="(value, name, index) in behaviors" :key="index">
                            <template v-if="value && name != 'id' && name != 'id_user'">
                                <div class="d-flex justify-content-between align-items-center p-1" >
                                    <div>
                                    <b-avatar rounded size="42" variant="light-primary" border >
                                        <feather-icon size="25" icon="DivideIcon" />
                                    </b-avatar>
                                    <span class="text-capitalize ml-2">{{ name }}</span>
                                    </div>
                                    <b-badge variant="primary fs-large" >
                                        {{ value }}
                                    </b-badge>
                                </div>
                                <v-divider class="m-0" v-if="index != behaviors.length - 1"></v-divider>
                            </template>
                        </div> -->
                    </b-card>
                    <b-row class="mb-3">
                        <template v-for="(value, name, index) in behaviors">
                            <template v-if="name != 'id' && name != 'id_user' && value != null">
                            <b-col lg="6">
                                <behavior-card class="mb-0 px-5"
                                icon="mdi-account-multiple"
                                color="primary"
                                :statistic="value"
                                :statistic-title="name == 'average' ? 'Rata-rata' : name"
                                />
                            </b-col>
                            </template>
                        </template>
                    </b-row>
                    </div>
            </transition>
            <transition name="empty" mode="in-out">
                <template v-if="!behaviors">
                    <div class="text-center mt-2">
                        <h3><b>Perilaku pegawai belum dinilai</b></h3>
                        <v-btn color="primary" class="text-capitalize mb-5 mt-2"
                        @click.prevent="$refs.behaviorModal.addModal(id_user, year), editmode = false">Beri Penilaian</v-btn>
                        <br>
                        <img :src="asset('images/pages/Activity.svg')" alt="empty" style="width: 60%; height: auto;">
                        <br>
                    </div>
                </template>
            </transition>
    </b-card>
    <behavior-modal
        ref="behaviorModal"
        :editmode="editmode"
        v-on:createBehaviorSuccess="updateBehavior"
    />
</div>
</template>

<script>
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import BehaviorCard from './BehaviorCard.vue'
import Api from '@axios'
import BehaviorModal from './BehaviorModal.vue'

export default {
    props:{
        id_user: {
            type: Number
        },
        behaviors: {
            // type: Object
        },
        loading: {
            type: Boolean
        },
        name: {
            type: String
        },
        year: {
            type: Number
        },
    },
    components: {
        BehaviorModal,
        BehaviorCard,
    },
    computed: {

    },
    data() {
        return {
            editmode: false,
            check: false,
            close: false,
            mutu: null,
            select: {
                id_user: null,
                date: null,
            },
            form: new Form ({
                id: '',
                id_user: '',
                id_skp:'',
                biaya: null,
                tanggal: null,
                nama_pasien : '',
                mr : '',
                mutu : '',
                status: '',
                lampiran: null ,
                base64: null,
                jam: null,
                deskripsi:'',
                link: null,
            }),
        }
    },
    methods: {
        checkIcon(status){
            if(status === "Ditolak"){
                return 'AlertCircleIcon'
            }else if(status === "Disetujui"){
                return 'CheckCircleIcon'
            }else{
                return 'ClockIcon'
            }
        },
        updateBehavior(value){
            this.$emit('updateSuccess', value);
        },
    },
    watch: {

    }
}
</script>
<style>
.behavior .card-header {
    padding: 0rem 2px 1rem 0px !important;
}
.behavior .card-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
</style>
