<template>
<v-app class="bg-transparent" dark>
    <b-row>
        <!-- sidebar -->
        <b-col cols="12" sm="12" md="12" lg="auto">
            <b-card class="mb-0 text-center">
                <v-select v-model="select.year" :items="year" label="Tahun"
                    outlined dense hide-details="auto"
                    @change="getUserAssesment" :disabled="loadingUser" >
                </v-select>
                <div class="d-flex justify-content-first align-items-center mb-2">
                    <v-switch inset v-model="sTable.filters.behavior.value" @change="showAlert" hide-details class="mt-0 ml-1"/>
                    <v-text-field v-model="sTable.filters.nama.value"
                        class="mb-3 p-0" prepend-inner-icon="mdi-magnify" label="Search"
                        clearable single-line hide-details
                    />
                </div>
                <transition name="success">
                    <v-alert dense type="success" v-if="alert">
                        Filter belum dinilai : {{ message }}
                    </v-alert>
                </transition>
                <div class="text-left scroll" id="pegawai-list" @click="tooltip = false">
                    <v-table class="wrap table table-striped " id="table"
                        :data="userAssesments"
                        :pageSize="sTable.pagination"
                        :currentPage.sync="sTable.currentPage"
                        @totalItemsChanged="sTable.totalItem = $event"
                        @totalPagesChanged="sTable.totalPages = $event"
                        :filters="sTable.filters">
                        <tbody slot="body" slot-scope="{displayData}">
                            <v-row v-if="loadingUser" align="center" justify="center" no-gutters style="height: 100px;" >
                                <v-progress-circular :size="50" :width="5" color="primary" indeterminate ></v-progress-circular>
                            </v-row>
                            <div class="align-center text-center text-primary mb-3" v-if="sTable.totalItem === 0 && !loadingUser">
                                <strong>Pegawai tidak ditemukan</strong>
                            </div>
                            <template v-if="!loadingUser">
                                <tr v-for="(row, index) in displayData" :key="index">
                                    <div class="nav-link">
                                    <a type="button" class="nav-link shadowno d-flex justify-content-between"
                                        :class="{'active-user': select.id_user == row.id_user}"
                                        @click.prevent="selectPegawai(row)">
                                        <div class="mr-2">
                                            <b-media no-body>
                                                <b-media-aside class="mr-75">
                                                    <b-avatar
                                                    rounded
                                                    size="35"
                                                    :src="asset('images/avatar/'+row.photo)"
                                                    />
                                                </b-media-aside>
                                                <b-media-body class="my-auto">
                                                    <h6 class="mb-0">
                                                    {{ row.fullname }}
                                                    </h6>
                                                    <small class="text-muted" v-if="row.unit">{{ row.unit.nama_unit }}</small>
                                                </b-media-body>
                                            </b-media>
                                        </div>
                                        <!-- <div v-if="'wait' in row">
                                            <b-badge v-if="row.wait != 0 && !loadingTotal">
                                                {{ row.wait }}
                                            </b-badge>
                                        </div> -->
                                    </a>
                                    </div>
                                </tr>
                            </template>
                        </tbody>
                    </v-table>
                    <b-tooltip v-if="first" :show="tooltip" :disabled="!tooltip" target="pegawai-list"
                        :placement="$vuetify.breakpoint.width <= 991 ? 'bottom' : 'right'"
                        variant="primary">
                        pilih pegawai terlebih dahulu
                    </b-tooltip>
                </div>
                <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
            </b-card>
        </b-col>
        <!-- list -->
        <b-col>
            <transition name="success" mode="in-out">
                <behavior-list
                    v-if="!first"
                    :behaviors="behaviors"
                    :loading="loading"
                    :name="name"
                    :year="select.year"
                    :id_user="select.id_user"
                    v-on:updateSuccess="changeBehavior"
                />
            </transition>
            <transition name="succes" mode="out-in">
                <template v-if="first">
                    <div class="text-center">
                        <h3>Pilih <code>Pegawai</code> untuk mulai menilai.</h3>
                        <br>
                        <img :src="asset('images/pages/Activity.svg')" alt="empty" style="width: 70%; height: auto;">
                        <br>
                    </div>
                </template>
            </transition>
        </b-col>
    </b-row>
    <!-- <activity-modal ref="activityModal" :date="select.date"
        v-on:createSuccess="fetchActivityBydate"
    /> -->
</v-app>
</template>

<script>
import Api from '@axios'
import moment from 'moment'
import BehaviorList from './BehaviorList.vue'

export default {
    components: {
        BehaviorList
    },
    computed: {
        userAssesments(){
            return this.$store.state.user.userAssesments
        },
        first(){
            return this.select.id_user ? false : true;
        },
    },
    data() {
        return {
            alert: false,
            message: '',
            name: '',
            year: [],
            tooltip: false,
            loadingUser: true,
            units:[
                { id_unit: 0 , nama_unit: 'Pegawai yang dinilai'}
            ],
            users : [],
            arrayEvents: [],
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['fullname'], name: 'Nama', active:true },
                    behavior: { value: false, name: 'behavior', custom: this.behaviorFilter},
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
            },
            datepicker: false,
            loadingTotal: false,
            select: {
                id_user: null,
                year: new Date().getFullYear(),
            },
            request: {
                id_unit: null,
            },
            loading : true,
            behaviors: {},
        }
    },
    methods: {
        showAlert(){
            this.message = this.sTable.filters.behavior.value ? 'Aktif' : 'Non-aktif';
            this.alert = true;
            setTimeout(() => {
                this.alert = false;
            }, 2000);
        },
        selectPegawai(row){
            this.loading = true
            window.scrollTo({
                top: 0,
                behavior: 'smooth',
            })
            this.name = row.fullname;
            this.select.id_user = row.id_user;
            Api.post('user-behavior', this.select)
            .then( response => {
                this.behaviors = response.data;
                this.loading = false;
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        behaviorFilter (filterValue, row) {
            if(filterValue == true){
                return row.behavior == null;
            }else{
                return row;
            }
        },
        countYear(){
            var from = 2020
            var to = new Date().getFullYear()
            var count = to - from
            for (let i = 0; i < count+1; i++) {
                this.year.push(from++)
            }
        },
        getUserAssesment(){
            this.loadingUser = true;
            this.select.id_user = null;
            this.$store.dispatch("user/getUserAssesment", this.select)
            .then( () => {
                this.loadingUser = false
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        changeBehavior(value){
            this.behaviors = value.newPost
            this.loadingTotal = true
            this.$store.commit('user/CHANGE_BEHAVIOR', value)
            this.loadingTotal = false
        },
        changeDateEvent(){
            let wait = this.activities.filter( x => x.status == 'Menunggu')
            if (!wait.length) {
                let index = this.arrayEvents.findIndex((element) => element == this.select.date)
                this.arrayEvents.splice(index, 1)
            }
        },
        getUserByUnit(){
            Api.post('user-by-unit', this.select)
            .then( response => {
                this.users = response.data;
                this.loadingUser = false;
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchActivityBydate(){
            this.loading = true;
            Api.post('activity/by-date', this.select)
            .then( response => {
                this.activities = response.data;
                this.loading = false;
            })
        },
        remove(id){
            let index = this.activities.map(e => { return e.id; }).indexOf(id);
            this.activities.splice(index, 1);
        },
        async tooltipToggle(){
            await this.sleep(1000);
            this.tooltip = true
        },
        sleep(ms){
            return new Promise( (resolve) => {
                setTimeout(resolve, ms)
            })
        },
        loadData(){
            this.countYear();
            this.getUserAssesment();
            this.tooltipToggle();
        }
    },
    created() {
        this.loadData();
    },
    watch: {

    }
}
</script>
<style>
.active-user {
    border-radius: 4px;
    margin: auto;
    font-weight: 600;
    border-left: 7px solid #39af21 !important;
    /* background-color: #39af21 !important; */
    color: white !important;
}

</style>
