<template>
    <b-modal ref="behaviorModal" no-close-on-backdrop centered
        modal-class="modal-primary" @ok="handleOk">
        <template #modal-title>
            <span id="exampleModalCenterTitle" v-if="!editmode">Beri Penilaian </span>
            <span id="exampleModalCenterTitle" v-else>Ubah Penilaian </span>
        </template>
        <template #default>
        <validation-observer ref="activityValidation">
        <b-form @submit.prevent="submitForm()">
        <v-app class="bg-transparent" dark>
            <b-row class="mb-2">
                <b-col cols="6">
                    <validation-provider #default="{ errors }" name="Pelayanan" rules="required|between:0,100" >
                    <label>Pelayanan</label>
                    <v-text-field v-model="form.pelayanan" type="number"
                        hide-details="auto" outlined dense :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="6">
                    <validation-provider #default="{ errors }" name="Integritas" rules="required|between:0,100" >
                    <label>Integritas</label>
                    <v-text-field v-model="form.integritas" type="number"
                        hide-details="auto" outlined dense :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="6">
                    <validation-provider #default="{ errors }" name="Komitmen" rules="required|between:0,100" >
                    <label>Komitmen</label>
                    <v-text-field v-model="form.komitmen" type="number"
                        hide-details="auto" outlined dense :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="6">
                    <validation-provider #default="{ errors }" name="Disiplin" rules="required|between:0,100" >
                    <label>Disiplin</label>
                    <v-text-field v-model="form.disiplin" type="number"
                        hide-details="auto" outlined dense :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="6">
                    <validation-provider #default="{ errors }" name="Kerjasama" rules="required|between:0,100" >
                    <label>Kerjasama</label>
                    <v-text-field v-model="form.kerjasama" type="number"
                        hide-details="auto" outlined dense :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="6">
                    <validation-provider #default="{ errors }" name="Kepemimpinan" rules="between:0,100" >
                    <label>Kepemimpinan</label>
                    <v-text-field v-model="form.kepemimpinan" type="number" placeholder="kosongkan jika tidak ada"
                        hide-details="auto" outlined dense :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Batal </b-button>
            <b-button size="sm" variant="primary" :disabled="btnload" @click="ok()">
                <b-spinner small v-if="btnload" />
                {{ editmode ? 'Perbarui' : 'Simpan' }}
            </b-button>
        </template>
    </b-modal>
</template>

<script>
import moment from 'moment'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Api from '@axios'
import { nextTick } from 'vue-demi'
export default {
    components:{
        VuePerfectScrollbar,
    },
    props:{
        editmode: {
            type: Boolean
        }
    },
    data() {
        return {
            errorData: {},
            btnload: false,
            date3: false,
            form: new Form ({
                id: null,
                id_user: null,
                pelayanan: null,
                integritas : null,
                komitmen : null,
                disiplin: null,
                kerjasama: null,
                kepemimpinan: null,
                average: null,
                tahun: null,
            }),
        }
    },
    computed:{
        skps(){
            return this.$store.state.skp.skps;
        },
        rkks(){
            return this.$store.state.rkk.rkks;
        },
        penilaian() {
            return [
                this.form.pelayanan ? parseInt(this.form.pelayanan) : null,
                this.form.integritas ? parseInt(this.form.integritas) : null,
                this.form.komitmen ? parseInt(this.form.komitmen) : null,
                this.form.disiplin ? parseInt(this.form.disiplin) : null,
                this.form.kerjasama ? parseInt(this.form.kerjasama) : null,
                this.form.kepemimpinan ? parseInt(this.form.kepemimpinan) : null,
            ]
        },
        sum(){
            const penilaian =  this.penilaian;
            return penilaian.reduce((a, b) => a + b, 0)
        },
        countAverage(){
            const penilaian =  this.penilaian;
            const unsur = penilaian.filter( x => x != null)
            return Math.round(this.sum / unsur.length * 100) / 100

        },
    },
    methods: {
        editModal(data){
            this.errorData = {},
            this.form.reset();
            this.form.fill(data)
            this.$refs['behaviorModal'].show()
        },
        addModal(id_user, year){
            this.errorData = {},
            this.form.reset();
            this.form.id_user = id_user
            this.form.tahun = year
            this.$refs['behaviorModal'].show()
        },
        handleOk(event) {
            event.preventDefault()
            this.submitForm()
        },
        submitForm(){
            this.$refs.activityValidation.validate().then(success => {
                if (success && !this.editmode) {
                    this.createBehavior();
                }else{
                    this.updateBehavior();
                }
            })
        },
        createBehavior(){
            this.errorData = {}
            this.form.average = this.countAverage;
            this.btnload = true;
            Api.post("behavior", this.form)
            .then(response => {
                this.btnload = false;
                this.createParent(response.data);
                this.$refs['behaviorModal'].hide();
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Perilaku pegawai berhasil dinilai',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        updateBehavior(){
            this.errorData = {}
            this.form.average = this.countAverage;
            this.btnload = true;
            Api.put("behavior/"+this.form.id, this.form)
            .then(response => {
                this.btnload = false;
                this.createParent(response.data);
                this.$refs['behaviorModal'].hide();
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Nilai Perilaku berhasil diperbarui',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        createParent(value){
            this.$emit('createBehaviorSuccess', value)
        },
    },
    created() {

    },
}
</script>
