<template>
    <b-modal ref="editModal" no-close-on-backdrop centered
        modal-class="modal-primary" @ok="handleOk">
        <template #modal-title>
            <span id="exampleModalCenterTitle">Edit Kegiatan</span>
        </template>
        <template #default>
        <validation-observer ref="activityValidation">
        <b-form @submit.prevent="submitForm()">
        <v-app class="bg-transparent" dark>
            <b-row class="mb-2">
                <b-col cols="5">
                    <validation-provider #default="{ errors }" name="Nomor MR" rules="required|min:8|max:11" >
                    <label for="Butir Kegiatan">Nomor MR</label>
                    <v-text-field v-model="form.mr" type="number"
                        hide-details="auto" outlined dense :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="7">
                    <validation-provider #default="{ errors }" name="Nama Pasien" rules="required" >
                    <label for="Butir Kegiatan">Nama Pasien</label>
                    <v-text-field v-model="form.nama_pasien"
                        hide-details="auto" outlined dense :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="12" class="pt-0">
                    <validation-provider #default="{ errors }" name="Butir Kegiatan" rules="required" >
                    <label for="Butir Kegiatan">Butir Kegiatan</label>
                    <v-autocomplete v-model="form.id_skp" @change="biaya(form.id_skp)"
                        outlined dense hide-details="auto" auto-grow rows="3"
                        :items="skps" item-value="id" item-text="tupoksi.butir_kegiatan"
                        :error-messages="'id_skp' in errorData ? errorData.id_skp : errors">
                        <template v-slot:item="data">
                            <p class="my-auto py-2" style="line-height: normal; width: 400px"> {{ data.item.tupoksi.butir_kegiatan }} </p>
                        </template>
                        <template v-slot:selection="data">
                            <span class="" style="line-height: normal;"> {{ data.item.tupoksi.butir_kegiatan }} </span>
                        </template>
                    </v-autocomplete>
                    </validation-provider>
                </b-col>
                <b-col cols="12" class="pt-0">
                    <validation-provider #default="{ errors }" name="Tindakan" rules="required" >
                    <label for="Butir Kegiatan">Tindakan</label>
                    <v-autocomplete v-model="form.deskripsi"
                        outlined dense hide-details="auto" auto-grow rows="3"
                        :items="rkks" item-text="kompetensi" item-value="kompetensi"
                        :error-messages="'deskripsi' in errorData ? errorData.deskripsi : errors">
                        <template v-slot:item="data">
                            <p class="my-auto py-2" style="line-height: normal; width: 400px"> {{ data.item.kompetensi }} </p>
                        </template>
                        <template v-slot:selection="data">
                            <span class="" style="line-height: normal;"> {{ data.item.kompetensi }} </span>
                        </template>
                    </v-autocomplete>
                    </validation-provider>
                </b-col>
                <b-col cols="4" class="py-0">
                    <validation-provider #default="{ errors }" name="Jam" rules="required">
                    <label for="Jam">Jam</label>
                    <v-text-field v-model="form.jam"
                    outlined dense type="time" hide-details="auto"
                    :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col class="py-0" cols=8>
                    <validation-provider #default="{ errors }" name="Lampiran" rules="image">
                    <label for="Lampiran">Lampiran</label>
                    <v-file-input v-model="form.lampiran" placeholder="klik untuk ubah lampiran"
                        outlined dense prepend-icon="" hide-details="auto" append-icon="mdi-paperclip"
                        accept="image/*" @change="selectPhoto()" :error-messages="errors"
                    />
                    </validation-provider>
                </b-col>
                <b-col class="pb-0" v-if="statusB">
                    <validation-provider #default="{ errors }" name="Biaya" rules="required">
                    <label for="Biaya">Biaya</label>
                    <v-text-field v-model="form.biaya" type="number"
                        outlined dense hide-details="auto" :error-messages="errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Batal </b-button>
            <b-button size="sm" variant="primary" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Simpan</b-button>
        </template>
    </b-modal>
</template>

<script>
import moment from 'moment'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Api from '@axios'
export default {
    components:{
        VuePerfectScrollbar,
    },
    props:{
        jabatan : {
            type: Object,
        },
        date:{
            type: String,
        }
    },
    data() {
        return {
            errorData: {},
            pelayanan: [{ value: '1', text:'Ya'}, {value: '0', text:'Tidak'}],
            btnload: false,
            date3: false,
            file : new FormData,
            statusB : false,
            form: new Form ({
                id: '',
                id_user: '',
                id_skp:'',
                biaya: null,
                tanggal: null,
                nama_pasien : '',
                mr : '',
                status: '',
                lampiran: null ,
                base64: null,
                jam: null,
                deskripsi:'',
                link: null,
            }),
        }
    },
    computed:{
        skps(){
            return this.$store.state.skp.skps;
        },
        rkks(){
            return this.$store.state.rkk.rkks;
        }
    },
    methods: {
        biaya(id){
            var skp = this.skps.filter( x => x.id == id)
            if (skp[0].t_biaya  === null) {
                return this.statusB = false;
            }else{
                return this.statusB = true;
            }
        },
        selectPhoto(){
            let file = this.form.lampiran
            let reader = new FileReader();
            if (file) {
                reader.onloadend = (file) =>{
                    this.form.base64 = reader.result;
                }
                reader.readAsDataURL(file);
            }else{
                this.form.base64 = null;
            }
        },
        fetchRkk() {
            if(this.rkks.length == 0){
                this.$store.dispatch("rkk/getRkk")
                .then()
                .catch(error => {
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }
        },
        editModal(data){
            this.errorData = {},
            this.form.reset();
            this.form.fill(data);
            this.form.lampiran = null;
            this.form.link = data.lampiran;
            this.biaya(data.id_skp)
            this.$refs['editModal'].show()
        },
        handleOk(event) {
            event.preventDefault()
            this.submitForm()
        },
        submitForm(){
            this.$refs.activityValidation.validate().then(success => {
                if (success) {
                    this.updateActivity();
                }
            })
        },
        updateActivity(){
            this.btnload = true;
            Api.put("activity/"+this.form.id, this.form)
            .then( response => {
                this.updateParent(response.data.updated)
                this.$refs['editModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Data kegiatan berhasil diperbarui',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        updateParent(data){
            this.$emit('updateSuccess', data)
        },
    },
    created() {
        this.fetchRkk()
    },
}
</script>
