<template>
<v-app class="bg-transparent" dark>
    <b-row>
        <!-- sidebar -->
        <b-col cols="12" sm="12" md="12" lg="auto">
            <b-card class="mb-0 text-center">
                <transition name="loading">
                <v-autocomplete v-if="units.length > 1" label="Unit" v-model="select.id_unit" hide-details="auto" @change="fetchUser()"
                    outlined dense :items="units" item-text="nama_unit" item-value="id_unit" >
                </v-autocomplete>
                </transition>
                <div class="">
                    <v-text-field v-model="sTable.filters.nama.value" class="mb-3 p-0"
                        prepend-inner-icon="mdi-magnify" label="Search" clearable
                        single-line hide-details />
                </div>
                <div class="text-left pr-1" style="max-height: 180px; overflow: auto;">
                    <v-table class="wrap table table-striped " id="table"
                        :data="this.select.id_unit == 0 ? userAssesments : users"
                        @totalItemsChanged="sTable.totalItem = $event"
                        :filters="sTable.filters">
                        <tbody slot="body" slot-scope="{displayData}">
                            <v-row v-if="loadingUser" align="center" justify="center" no-gutters style="height: 100px;" >
                                <v-progress-circular :size="50" :width="5" color="primary" indeterminate ></v-progress-circular>
                            </v-row>
                            <div class="align-center text-center text-primary mb-3" v-if="sTable.totalItem === 0 && !loadingUser">
                                <strong>Pegawai tidak ditemukan</strong>
                            </div>
                            <template v-if="!loadingUser">
                                <tr v-for="row in displayData" :key="row.id_user">
                                    <v-btn color="primary" :text="select.id_user !== row.id_user"
                                        @click.prevent="fetchActivityUser(row.id_user)"
                                        class="text-capitalize" block>
                                        {{ row.fullname }}
                                    </v-btn>
                                </tr>
                            </template>
                        </tbody>
                    </v-table>
                </div>
                <div v-show="loading && $vuetify.breakpoint.width >= 992" >
                    <v-progress-linear :size="100" :width="70" indeterminate color="primary" rounded />
                </div>
                <v-divider class="my-0"></v-divider>
                <v-menu v-model="datepicker" :close-on-content-click="false" v-if="$vuetify.breakpoint.width <= 991"
                    transition="scroll-y-transition" min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn color="primary" text v-bind="attrs" v-on="on">
                            <v-icon left>mdi-calendar</v-icon> Tanggal
                        </v-btn>
                    </template>
                    <v-date-picker no-title :events="arrayEvents" v-model="select.date" locale="id"
                     @input="datepicker = false" @change="fetchActivityBydate"
                    :picker-date.sync="select.date" />
                </v-menu>
            <br v-if="$vuetify.breakpoint.width >= 992">
            <v-date-picker v-model="select.date" no-title  width="260" v-if="$vuetify.breakpoint.width >= 992" class="act"
            @change="fetchActivityBydate"/>
            </b-card>
            <div v-if="loading && $vuetify.breakpoint.width <= 991" class="" >
                <v-progress-linear :size="80" :width="50" indeterminate color="primary" rounded />
            </div>
        </b-col>
        <!-- kegaitan -->
        <b-col>
            <transition name="success" mode="in-out">
            <div v-if="!loading && activities.length">
                <timeline :date="select.date" :activities="activities" v-on:deleteSuccess="remove" :assesment="assesment" :nilai="nilai"/>
            </div>
            </transition>
            <transition name="success" mode="out-in">
            <template v-if="!loading && !activities.length">
                <div class="text-center mt-2">
                    <h3 v-if="!first"><b>Belum ada kegiatan</b></h3>
                    <h3 v-if="first"><b>Silahkan pilih pegawai</b></h3>
                    <br>
                    <img :src="asset('images/pages/Activity.svg')" alt="empty" style="width: 70%; height: auto;">
                    <br>
                </div>
            </template>
            </transition>
        </b-col>
    </b-row>
    <activity-modal ref="activityModal" :date="select.date"
        v-on:createSuccess="fetchActivityBydate"
    />
</v-app>
</template>

<script>
import Api from '@axios'
import moment from 'moment'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Timeline from './Timeline.vue'
import ActivityModal from './ActivityModal.vue'

export default {
    components: {
        VuePerfectScrollbar,
        Timeline,
        ActivityModal
    },
    data() {
        return {
            assesment: true,
            loadingUser: false,
            units:[
                { id_unit: 0 , nama_unit: 'Pegawai yang dinilai'}
            ],
            userAssesments: [],
            users : [],
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['fullname'], name: 'Nama', active:true },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
            },
            datepicker: false,
            select: {
                id_unit : 0,
                id_user: null,
                date: moment(new Date()).format('YYYY-MM-DD'),
                year: new Date().getFullYear(),
            },
            nilai: false,
            loading : true,
            first : true,
            arrayEvents: [],
            activities: [],
        }
    },
    methods: {
        checkNilai(){
            let value = this.userAssesments.filter( x => x.id_user === this.select.id_user)
            // console.log(value[0].id_user)
            if(value.length){
                this.nilai = true;
            }else{
                this.nilai = false;
            }
        },
        fetchSkps(){
            this.$store.dispatch("skp/getSkp", this.select)
            .catch(error => {
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchUser(){
            this.loadingUser = true;
            if (this.select.id_unit == 0) {
                this.getUserAssesment();
            }else{
                this.getUserByUnit();
            }
        },
        getUserAssesment(){
            Api.get('user-assesment')
            .then( response => {
                this.userAssesments = response.data;
                this.loadingUser = false;
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        getUserByUnit(){
            Api.post('user-by-unit', this.select)
            .then( response => {
                this.users = response.data;
                this.loadingUser = false;
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchActivityUser(user){
            this.loading = true;
            this.first = false;
            this.select.id_user = user;
            Api.post("activity/by-date", this.select)
            .then( response => {
                this.activities = response.data;
                this.loading = false;
            });
            // this.loadEvent();
        },
        fetchActivityBydate(){
            this.loading = true;
            Api.post('activity/by-date', this.select).then( response => {
                this.activities = response.data;
                this.loading = false;
            })
        },
        fetchUnit(){
            if (this.$can('manage', 'all')) {
                Api.get("all-unit")
                .then( response => {
                    this.units = response.data;
                    this.loading = false;
                })
            }else{
                Api.get("unit-by-placement")
                .then( response => {
                    this.units = response.data;
                    this.units.unshift({ id_unit: 0 , nama_unit: 'Pegawai yang dinilai'})
                    this.loading = false;
                })
            }
        },
        remove(id){
            let index = this.activities.map(e => { return e.id; }).indexOf(id);
            this.activities.splice(index, 1);
        },
    },
    created() {
        this.fetchSkps();
        this.fetchUser();
        this.fetchUnit();
    },
    watch: {
        'select.id_user' : 'checkNilai',
    }
}
</script>

