<template>
<v-app class="bg-transparent" dark>
    <b-row v-if="!ready" style="min-height: 300px">
        <b-col class="text-center my-auto">
            <v-progress-circular indeterminate color="primary" ></v-progress-circular>
        </b-col>
    </b-row>
    <b-row v-if="ready">
        <!-- sidebar -->
        <b-col cols="12" sm="12" md="12" lg="auto">
            <b-card class="mb-0 text-center">
                <transition name="success">
                    <v-autocomplete v-if="units.length > 1"
                        label="Unit" v-model="select.id_unit" hide-details="auto"
                        outlined dense :items="units" item-text="nama_unit" item-value="id_unit"
                        @change="fetchUser()">
                    </v-autocomplete>
                </transition>
                <div>
                    <v-text-field v-model="sTable.filters.nama.value"
                        class="mb-3 p-0" prepend-inner-icon="mdi-magnify" label="Search"
                        clearable single-line hide-details
                    />
                </div>
                <div class="text-left scroll" style="max-height: 180px; overflow: auto;" id="pegawai-list" @click="tooltip = false">
                    <v-table class="wrap table table-striped" id="table"
                        :data="this.select.id_unit == 0 ? userAssesments : users"
                        @totalItemsChanged="sTable.totalItem = $event"
                        :filters="sTable.filters">
                        <tbody slot="body" slot-scope="{displayData}">
                            <v-row v-if="loadingUser" align="center" justify="center" no-gutters style="height: 100px;" >
                                <v-progress-circular :size="50" :width="5" color="primary" indeterminate ></v-progress-circular>
                            </v-row>
                            <div class="align-center text-center text-primary mb-3" v-if="sTable.totalItem === 0 && !loadingUser">
                                <strong>Pegawai tidak ditemukan</strong>
                            </div>
                            <template v-if="!loadingUser">
                                <tr v-for="row in displayData" :key="row.id_user">
                                    <div class="nav-link">
                                    <router-link type="button" class="nav-link shadowno d-flex justify-content-between"
                                        :class="{'link-router-link-exact-active router-link-active': $route.params.id == row.id}"
                                        :to="{ name: 'assesmentlist', params: { id_user: row.id_user, date: select.date, name: row.fullname }}">
                                        <div class="mr-2">
                                        {{ row.fullname}}
                                        </div>
                                        <div v-if="'wait' in row">
                                            <b-badge v-if="row.wait != 0 && !loadingTotal">
                                                {{ row.wait }}
                                            </b-badge>
                                        </div>
                                    </router-link>
                                    </div>
                                </tr>
                            </template>
                        </tbody>
                    </v-table>
                    <b-tooltip v-if="first && ready" :show="tooltip" :disabled="!tooltip" target="pegawai-list"
                        :placement="$vuetify.breakpoint.width <= 991 ? 'bottom' : 'right'"
                        variant="primary">
                        pilih pegawai terlebih dahulu
                    </b-tooltip>
                </div>

                <v-divider class="my-0"></v-divider>
                <v-menu v-model="datepicker" :close-on-content-click="false" v-if="$vuetify.breakpoint.width <= 991"
                    transition="scroll-y-transition" min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn color="primary" text v-bind="attrs" v-on="on" :disabled="select.id_user == null">
                            <v-icon left>mdi-calendar</v-icon> Tanggal
                        </v-btn>
                    </template>
                    <v-date-picker no-title :events="arrayEvents" v-model="select.date" locale="id"
                     @input="datepicker = false" @change="changeDate"
                    :picker-date.sync="select.date" />
                </v-menu>
                <br v-if="$vuetify.breakpoint.width >= 992">
                <v-date-picker v-model="select.date" no-title  width="260" :events="arrayEvents"
                    v-if="$vuetify.breakpoint.width >= 992" class="act" :picker-date.sync="select.date"
                    @change="changeDate" :disabled="select.id_user == null"
                />
            </b-card>
        </b-col>
        <!-- kegiatan -->
        <b-col>
            <transition name="success" mode="in-out">
                <router-view
                    v-if="!first"
                    :date="date"
                    :activities="activities"
                    :assesment="assesment"
                    :nilai="nilai"
                    :loading="loading"
                    v-on:deleteSuccess="remove"
                    v-on:updateSuccess="changeTotal"
                />
            </transition>
            <transition name="succes" mode="out-in">
                <template v-if="first">
                    <div class="text-center">
                        <h3>Pilih <code>Pegawai</code> untuk memulai.</h3>
                        <br>
                        <img :src="asset('images/pages/Activity.svg')" alt="empty" style="width: 70%; height: auto;">
                        <br>
                    </div>
                </template>
            </transition>
        </b-col>
    </b-row>
    <activity-modal ref="activityModal" :date="select.date"
        v-on:createSuccess="fetchActivityBydate"
    />
</v-app>
</template>

<script>
import Api from '@axios'
import moment from 'moment'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Timeline from './Timeline.vue'
import ActivityModal from './ActivityModal.vue'

export default {
    components: {
        VuePerfectScrollbar,
        Timeline,
        ActivityModal
    },
    computed: {
        userAssesments(){
            return this.$store.state.user.userAssesments
        },
        idLogin(){
            return this.$store.state.user.userLogin.id;
        },
        canAccess(){
            return this.$store.state.user.access;
        },
        first(){
            return this.select.id_user ? false : true;
        },
        nilai(){
            let value = this.userAssesments.filter( x => x.id_user == this.$route.params.id_user)
            return (value.length && value != this.idLogin) ? true : false;
        },
    },
    data() {
        return {
            lanjut : null,
            assesment: true,
            tooltip: false,
            loadingUser: false,
            units:[
                { id_unit: 0 , nama_unit: 'Pegawai yang dinilai'}
            ],
            users : [],
            arrayEvents: [],
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['fullname'], name: 'Nama', active:true },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
            },
            datepicker: false,
            loadingTotal: false,
            select: {
                id_unit : 0,
                id_user: null,
                date: null,
                year: new Date().getFullYear(),
            },
            date: null,
            loading : true,
            arrayEvents: [],
            activities: [],
            ready: false,
        }
    },
    methods: {
        dateIs(){
            const lastDate = this.date
            var regEx = /^\d{4}-\d{2}-\d{2}$/;
            if(this.select.date.match(regEx)) {
                return this.date = this.select.date
            }else{
                return this.date = lastDate
            };  // Invalid format
        },
        loadEvent() {
            Api.post("activity/get-event", this.select)
            .then( response  => {
                this.arrayEvents = response.data;
            });
        },
        fetchSkps(){
            this.$store.dispatch("skp/getSkp", this.select)
            .catch(error => {
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchUser(){
            this.loadingUser = true;
            if (this.select.id_unit == 0) {
                this.getUserAssesment();
            }else{
                this.getUserByUnit();
            }
        },
        getUserAssesment(){
            if (!this.userAssesments.length) {
                this.$store.dispatch("user/getUserAssesment")
                .then( () => {
                    this.loadingUser = false
                })
                .catch(error => {
                    this.loading = false;
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }else {
                this.loadingUser = false;
            }
        },
        changeTotal(value){
            this.loadingTotal = true
            this.$store.commit('user/CHANGE_WAIT', value)
            this.changeDateEvent();
            this.loadingTotal = false
        },
        changeDateEvent(){
            let wait = this.activities.filter( x => x.status == 'Menunggu')
            if (!wait.length) {
                let index = this.arrayEvents.findIndex((element) => element == this.select.date)
                this.arrayEvents.splice(index, 1)
            }
        },
        getUserByUnit(){
            Api.post('user-by-unit', this.select)
            .then( response => {
                this.users = response.data;
                this.loadingUser = false;
            })
            .catch(error => {
                this.loadingUser = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchActivityBydate(){
            this.loading = true;
            Api.post('activity/by-date', this.select)
            .then( response => {
                this.activities = response.data;
                this.loading = false;
                this.loadEvent();
            })
        },
        fetchUnit(){
            if (this.$can('manage', 'all')) {
                Api.get("all-unit")
                .then( response => {
                    this.units = response.data;
                    this.loading = false;
                })
            }else{
                Api.get("unit-by-placement")
                .then( response => {
                    this.units = response.data;
                    this.units.unshift({ id_unit: 0 , nama_unit: 'Pegawai yang dinilai'})
                    this.loading = false;
                })
            }
        },
        remove(id){
            let index = this.activities.map(e => { return e.id; }).indexOf(id);
            this.activities.splice(index, 1);
        },
        checkRoute(){
            this.select.id_user = 'id_user' in this.$route.params ? this.$route.params.id_user : null;
            this.select.date = 'date' in this.$route.params ? this.$route.params.date : moment(new Date()).format('YYYY-MM-DD') ;
            this.fetchActivityBydate();
            this.dateIs();
        },
        changeDate(){
            this.$router.push({ name: 'assesmentlist', params: { date: this.select.date } })
        },
        async tooltipToggle(){
            await this.sleep(1000);
            this.tooltip = true
        },
        sleep(ms){
            return new Promise( (resolve) => {
                setTimeout(resolve, ms)
            })
        },
        authorize(){
            if ('id_user' in this.$route.params) {
                let id =  this.idLogin
                let value =  this.canAccess.filter( x => x == this.$route.params.id_user)
                this.$nextTick(() => {
                    if (!value.length || value == id) {
                        this.$router.push({ name: 'not-authorized'})
                    }else{
                        this.ready = true;
                    }
                })
            }else{
                this.ready = true;
            }
        },
        loadData(){
            if(this.ready){
                this.fetchSkps();
                this.fetchUser();
                this.fetchUnit();
                this.checkRoute();
                this.tooltipToggle();
            }
        },
        checkUser(){
            if (this.$can('manage', 'all') || this.$can('read', 'direktur')) {
                this.ready = true
            }else{
                this.authorize();
            }
        }
    },
    created() {
        this.checkUser();
    },
    watch: {
        canAccess : 'authorize',
        ready : 'loadData',
        'select.date' : 'loadEvent',
        // 'select.date' : 'dateIs',
        $route(to, from) {
            this.checkRoute();
            this.checkUser();
        }
    }
}
</script>

