<template>
    <b-modal ref="attachmentModal" hide-footer modal-class="modal-primary" :size="size"
        :scrollable="$vuetify.breakpoint.width >= 991" :centered="$vuetify.breakpoint.width <= 990">
        <template #modal-title>
            <span>Lampiran Kegiatan </span>
        </template>
        <template #default>
            <div class="py-1" v-b-hover="hoverHandler">
                <b-img-lazy :src="link" fluid-grow alt="Responsive image"></b-img-lazy>
                <div class="btn-zoom" v-if="zoom && $vuetify.breakpoint.width >= 991">
                    <v-btn icon small @click="zoomIn" v-b-tooltip.hover.bottom title="zoom in">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <v-btn icon small @click="zoomOut" v-b-tooltip.hover.bottom title="zoom out">
                        <v-icon>mdi-minus</v-icon>
                    </v-btn>
                </div>
            </div>
        </template>
    </b-modal>
</template>

<script>
export default {
    data() {
        return {
            link: null,
            size: 'md',
            zoom: false,
        }
    },
    methods: {
        hoverHandler(){
            if (this.zoom) {
                this.zoom = false
            }else{
                this.zoom = true
            }
        },
        show(link){
            this.link = link
            this.$refs['attachmentModal'].show()
        },
        zoomIn(){
            if(this.size == 'md'){
                this.size = 'lg'
            }else if (this.size == 'lg' && this.$vuetify.breakpoint.xl) {
                this.size = 'xl'
            }
        },
        zoomOut(){
            if(this.size == 'xl'){
                this.size = 'lg'
            }else if (this.size == 'lg') {
                this.size = 'md'
            }
        }
    },
}
</script>

<style>
.btn-zoom {
    position: absolute;
    top: 25px;
    background-color: rgba(29, 29, 29, 0.39);
    right: 19px;
    width: 65px;
    height: 30px;
}

</style>
