<template>
<div>
    <b-card class="bg-transparent shadow-none">
        <template #header>
            <h3 class="text-primary text-bold mb-0"> {{ date | tanggal}} </h3>
            <v-divider class="ml-2"></v-divider>
        </template>
        <app-timeline>

            <transition-group name="success" tag="span">

            <app-timeline-item v-for="(act, index) in activities" :key="index + 0" :icon="checkIcon(act.status)" :status="act.status" :variant="checkVariant(act.status)">
                <b-row class="activity-detail">
                    <b-col class="p-0 pr-3 order-2 order-md-1">
                        <p><span class="text-secondary">Butir Kegiatan : </span> {{ act.skp.tupoksi.butir_kegiatan}}</p>
                        <b-media v-if="act.nama_pasien">
                            <template #aside>
                                <b-avatar size="30" variant="primary" class="mt-1" icon="emoji-dizzy-fill"
                                v-b-tooltip.hover.bottom title="pasien"/>
                            </template>
                            <span class="font-weight-bold">{{ act.nama_pasien}}</span>
                            <p class="text-secondary">{{act.mr}}</p>
                        </b-media>
                        <span class="text-secondary">Deskripsi : </span>{{ act.deskripsi}}
                        <p class="text-secondary mb-0" v-if="act.biaya">Biaya : {{ act.biaya | currency}}</p>
                    </b-col>
                    <b-col cols=12 lg="auto" class="p-0 pr-3 order-1 order-md-2 text-left text-md-right mb-2">
                        <v-chip color="primary">
                            <span v-b-tooltip.hover.bottom title="Jam Kegiatan">{{ act.jam | jamAct}}</span>
                            <template v-if="act.lampiran">
                                <v-divider vertical class="mx-2"></v-divider>
                                <v-btn icon small color="white" @click.prevent="$refs.attachmentModal.show(act.lampiran)"
                                    v-b-tooltip.hover.bottom title="Lampiran">
                                    <v-icon>mdi-paperclip</v-icon>
                                </v-btn>
                            </template>
                            <v-divider v-if="nilai" vertical class="mx-2"></v-divider>
                            <v-menu transition="slide-y-transition" left v-if="nilai">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn icon small v-bind="attrs" v-on="on" color="white">
                                        <v-icon v-if="act.mutu" v-b-tooltip.hover.bottom title="Nilai Mutu">{{act.mutu}}</v-icon>
                                        <v-icon v-else>mdi-dots-horizontal</v-icon>
                                    </v-btn>
                                </template>
                                <v-list small>
                                    <template v-if="!assesment">
                                    <v-list-item @click.prevent="$refs.editModal.editModal(act)" :disabled="act.status !== 'Menunggu'">
                                        <v-icon small left>mdi-pencil</v-icon>
                                        <v-list-item-title>edit</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="deleteActivity(act.id)" :disabled="act.status == 'Disetujui'">
                                        <v-icon small left>mdi-delete</v-icon>
                                        <v-list-item-title>Hapus</v-list-item-title>
                                    </v-list-item>
                                    </template>
                                    <template v-else>
                                        <v-menu transition="slide-y-transition" :left="$vuetify.breakpoint.width > 960" offset-x
                                            :close-on-content-click="false" >
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-list-item @click="mutu = act.mutu" v-bind="attrs" v-on="on">
                                                    <v-icon small left color="primary">mdi-check</v-icon>
                                                    <v-list-item-title>Setujui</v-list-item-title>
                                                </v-list-item>
                                            </template>
                                            <v-list small>
                                                <div class="px-2">
                                                    <b-form @submit.prevent="ActivityAssesment(act, index)">
                                                        <label for="Nilai">Nilai: 0-92</label>
                                                        <v-text-field v-model="mutu" outlined dense hide-details="auto" type="number" min="0" max="92" required/>
                                                        <v-btn small color="primary" type="submit" block class="mt-2 text-capitalize">Submit</v-btn>
                                                    </b-form>
                                                </div>
                                            </v-list>
                                        </v-menu>
                                    <v-list-item @click="declineActivity(act)">
                                        <v-icon small left color="red">mdi-close</v-icon>
                                        <v-list-item-title>Tolak</v-list-item-title>
                                    </v-list-item>
                                    </template>
                                </v-list>
                            </v-menu>
                        </v-chip>
                    </b-col>
                </b-row>
            </app-timeline-item>
            </transition-group>
        </app-timeline>
    </b-card>
    <attachment-modal ref="attachmentModal"/>
    <edit-modal ref="editModal" v-on:updateSuccess="updateActivity"/>
</div>
</template>

<script>
import AppTimeline from '@core/components/app-timeline/AppTimeline.vue'
import AppTimelineItem from '@core/components/app-timeline/AppTimelineItem.vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import AttachmentModal from './AttachmentModal.vue'
import editModal from './editModal.vue'
import Api from '@axios'

export default {
    props:{
        date: {
            type: String,
        },
        activities: {
            type : Array,
        },
        assesment: {
            type : Boolean,
        },
        nilai : {
            type : Boolean,
        }
    },
    components: {
        AppTimeline,
        AppTimelineItem,
        AttachmentModal,
        editModal,
    },
    data() {
        return {
            mutu: null,
            form: new Form ({
                id: '',
                id_user: '',
                id_skp:'',
                biaya: null,
                tanggal: null,
                nama_pasien : '',
                mr : '',
                mutu : '',
                status: '',
                lampiran: null ,
                base64: null,
                jam: null,
                deskripsi:'',
                link: null,
            }),
        }
    },
    methods: {
        ActivityAssesment(act, index){
            this.form.fill(act);
            this.form.link = act.lampiran;
            this.form.mutu = this.mutu;
            this.form.status = "Disetujui";
            Api.put("activity/"+this.form.id, this.form)
            .then( response =>{
                this.updateActivity(response.data.updated);
                this.$toast({
                    component: ToastificationContent,
                    props: {
                        title: 'Berhasil',
                        text: 'Kegiatan disetujui',
                        icon: 'CheckCircleIcon',
                        variant: 'primary',
                    },
                }, { position: 'bottom-right'});
            }).catch((error)=>{
                this.$toast({
                    component: ToastificationContent,
                    props: {
                        title: error.response.data.message,
                        icon: 'AlertCircleIcon',
                        variant: 'primary',
                    },
                }, { position: 'bottom-right'});
            });

        },
        checkIcon(status){
            if(status === "Ditolak"){
                return 'AlertCircleIcon'
            }else if(status === "Disetujui"){
                return 'CheckCircleIcon'
            }else{
                return 'ClockIcon'
            }
        },
        checkVariant(status){
            if(status === "Ditolak"){
                return 'danger'
            }else if(status === "Disetujui"){
                return 'primary'
            }else{
                return 'secondary'
            }
        },
        deleteActivity(id){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Kegiatan yang dihapus tidak dapat dikembalikan!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    Api.delete("activity/"+id)
                    .then(()=>{
                        this.deleteParent(id)
                        this.$swal({
                            icon: 'success',
                            title: 'Dihapus!',
                            text: 'Kegiatan berhasil dihapus',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch((error)=>{
                        this.$swal({
                            icon: 'error',
                            title: 'Gagal!',
                            text: error.response.data.errors,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    });
                }
            })
        },
        declineActivity(act){
            this.form.fill(act);
            this.form.link = act.lampiran;
            this.form.mutu = null;
            this.form.status = "Ditolak";
            Api.put("activity/"+this.form.id, this.form)
            .then( response =>{
                this.updateActivity(response.data.updated);
                this.$toast({
                    component: ToastificationContent,
                    props: {
                        title: 'Berhasil',
                        text: 'Kegiatan ditolak',
                        icon: 'CheckCircleIcon',
                        variant: 'primary',
                    },
                }, { position: 'bottom-right'});
            }).catch((error)=>{
                this.$toast({
                    component: ToastificationContent,
                    props: {
                        title: error.response.data.message,
                        icon: 'CheckCircleIcon',
                        variant: 'primary',
                    },
                }, { position: 'bottom-right'});
            });
        },
        deleteParent(id){
            this.$emit('deleteSuccess', id)
        },
        updateActivity(value){
            let index = this.activities.map(e => { return e.id; }).indexOf(value.id);
            this.activities.splice(index, 1, value);
        }
    },
}
</script>
<style>
.bg-transparent .card-header {
    padding: 0rem 0rem 2.5rem 1.5rem !important;
}
</style>
