<template>
<b-card no-body>
    <b-card-body class="d-flex justify-content-between align-items-center">
    <div class="truncate">
        <h2 class="mb-25 font-weight-bolder">
            <ICountUp :endVal="statistic" @ready="onReady" />
        </h2>
        <span>{{ statisticTitle }}</span>
    </div>
    <b-avatar :variant="`light-${color}`" size="45" >
        <!-- <feather-icon size="21" :icon="icon" /> -->
        <v-icon :color="color">{{icon}}</v-icon>
    </b-avatar>
    </b-card-body>
</b-card>
</template>

<script>
import { BCard, BCardBody, BAvatar } from 'bootstrap-vue'
import ICountUp from 'vue-countup-v2'

export default {
    components: {
        ICountUp,
        BCard,
        BCardBody,
        BAvatar,
    },
    props: {
        icon: {
            type: String,
            required: true,
        },
        statistic: {
            type: [Number, String],
            required: true,
        },
        statisticTitle: {
            type: String,
            default: '',
        },
        color: {
            type: String,
            default: 'primary',
        },
    },
    methods: {
        onReady: function(instance, CountUp) {
            instance.update(this.statistic);
        },
    },
}
</script>
