<template>
<v-app class="bg-transparent" dark>
    <b-row>
        <b-col cols="12" sm="12" md="12" lg="auto">
            <b-card class="mb-0">
                <v-btn :block="$vuetify.breakpoint.width >= 992" color="primary" @click.prevent="$refs.activityModal.addModal()"
                :disabled="!plusAct || !skps.length">
                    <v-icon left>mdi-plus</v-icon> Kegiatan
                </v-btn>
                <v-menu v-model="datepicker" :close-on-content-click="false" v-if="$vuetify.breakpoint.width <= 991"
                    transition="scroll-y-transition" min-width="290px" :nudge-left="126">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn color="primary" text v-bind="attrs" v-on="on">
                            <v-icon left>mdi-calendar</v-icon> Tanggal
                        </v-btn>
                    </template>
                    <v-date-picker no-title :events="arrayEvents" v-model="select.date" locale="id"
                     @input="datepicker = false" @change="fetchActivityBydate"
                    :picker-date.sync="select.date" />
                </v-menu>
            <br v-if="$vuetify.breakpoint.width >= 992">
            <v-date-picker v-model="select.date" no-title  width="260" v-if="$vuetify.breakpoint.width >= 992" class="act"
            @change="fetchActivityBydate"/>
            </b-card>
            <div v-if="loading" class="" >
                <v-progress-linear :size="80" :width="50" indeterminate color="primary" rounded />
            </div>
        </b-col>
        <b-col>
            <transition name="success" mode="in-out">
            <div v-if="!loading && activities.length">
                <timeline
                    :date="select.date"
                    :activities="activities"
                    :assesment="assesment"
                    v-on:deleteSuccess="remove"
                />
            </div>
            </transition>
            <transition name="success" mode="out-in">
            <div v-if="!loading && !activities.length && skps.length">
                <div class="text-center">
                    <h3><b>Belum ada kegiatan</b></h3>
                    <div v-if="plusAct">Klik tombol <code>+ Kegiatan</code> untuk menambah kegiatan.</div>
                    <div v-if="!plusAct">Tidak dapat menambah kegiatan pada tanggal ini.</div>
                    <br>
                    <img :src="asset('images/pages/Activity.svg')" alt="empty" style="width: 70%; height: auto;">
                    <br>
                </div>
            </div>
            <div v-if="!loading && !activities.length && !skps.length">
                <div class="text-center">
                    <h3><b>Silahkan buat SKP tahunan terlebih dahulu</b></h3>
                    <v-btn color="primary" class="text-capitalize" :to="{ name: 'skp' }" small>Klik disini</v-btn>
                    <br>
                    <img :src="asset('images/pages/Activity.svg')" alt="empty" style="width: 70%; height: auto;" class="my-5">
                    <br>
                </div>
            </div>
            </transition>
        </b-col>
    </b-row>
    <activity-modal ref="activityModal" :date="select.date"
        v-on:createSuccess="fetchActivityBydate"
    />
</v-app>
</template>

<script>
import Api from '@axios'
import moment from 'moment'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Timeline from '../assesment/Timeline.vue'
import ActivityModal from './ActivityModal.vue'

export default {
    components: {
        VuePerfectScrollbar,
        Timeline,
        ActivityModal
    },
    data() {
        return {
            assesment: false,
            tasks:[],
            datepicker: false,
            select: {
                id_user: null,
                date: moment(new Date()).format('YYYY-MM-DD'),
                year: new Date().getFullYear(),
            },
            loading : true,
            arrayEvents: [],
            activities: [],
            plusAct: true,
        }
    },
    computed:{
        skps(){
            return this.$store.state.skp.skps;
        },
    },
    methods: {
        checkDate(){
            var today = parseInt(moment(new Date()).format('DD'));
            var thismonth = parseInt(moment(new Date()).format('MM'));
            if (!this.$can('manage', 'all')) {
                if((parseInt(this.select.date.substr(-2)) +1) < today){
                    this.plusAct = false;
                }else if((parseInt(this.select.date.substr(-2))) > today){
                    this.plusAct = false;
                }else if(parseInt(this.select.date.substr(-5, 2)) != thismonth){
                    this.plusAct = false;
                }else{
                    this.plusAct = true;
                }
            }
        },
        fetchSkps(){
            this.$store.dispatch("skp/getSkp", this.select)
            .catch(error => {
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchActivity(){
            this.loading = true;
            Api.get('activity').then( response => {
                this.activities = response.data;
                this.loading = false;
            })
        },
        fetchActivityBydate(){
            this.loading = true;
            this.select.id_user = this.$store.state.user.userLogin.id;
            Api.post('activity/by-date', this.select).then( response => {
                this.activities = response.data;
                this.loading = false;
            })
        },
        remove(id){
            let index = this.activities.map(e => { return e.id; }).indexOf(id);
            this.activities.splice(index, 1);
        },
    },
    created() {
        this.fetchSkps();
        this.fetchActivity();
    },
    watch: {
        'select.date' : 'checkDate',
    }
}
</script>

