<template>
    <b-modal ref="activityModal" no-close-on-backdrop scrollable
        modal-class="modal-primary" @ok="handleOk">
        <template #modal-title>
            <span id="exampleModalCenterTitle">Tambah Kegiatan </span>
        </template>
        <template #default>
        <validation-observer ref="activityValidation">
        <b-form @submit.prevent="submitForm()">
        <v-app class="bg-transparent" dark>
            <b-row class="mb-2">
                <template v-if="isNakes">
                    <b-col cols="6">
                        <validation-provider #default="{ errors }" name="Nomor MR" rules="required|min:8|max:11" >
                        <label for="Butir Kegiatan">Nomor MR</label>
                        <v-text-field v-model="form.mr" type="number"
                            hide-details="auto" outlined dense :error-messages="errors">
                        </v-text-field>
                        </validation-provider>
                    </b-col>
                    <b-col cols="6">
                        <validation-provider #default="{ errors }" name="Nama Pasien" rules="required" >
                        <label for="Butir Kegiatan">Nama Pasien</label>
                        <v-text-field v-model="form.nama_pasien"
                            hide-details="auto" outlined dense :error-messages="errors">
                        </v-text-field>
                        </validation-provider>
                    </b-col>
                    <b-col cols="12" class="d-flex py-1">
                        <v-divider class="my-auto"></v-divider>
                        <v-btn icon color="primary" @click="removeFormLoop()" v-if="form.loop.length !== 1"
                            v-b-tooltip.hover.bottom title="Hapus">
                            <v-icon large>mdi-minus</v-icon>
                        </v-btn>
                        <v-btn icon color="primary" @click="addFormLoop()"
                            v-b-tooltip.hover.bottom title="Tambah">
                            <v-icon large>mdi-plus</v-icon>
                        </v-btn>
                    </b-col>
                </template>
                <transition-group name="success" mode="out-in" class="w-100">
                <div v-for="(n, index) in form.loop" :key="index + 0" >
                    <b-col class="pt-0">
                        <validation-provider #default="{ errors }" name="Butir Kegiatan" rules="required" >
                        <label for="Butir Kegiatan">Butir Kegiatan</label>
                        <v-autocomplete v-model="n.id_skp" @change="biaya(n.id_skp, index)"
                            outlined dense hide-details="auto" auto-grow rows="3"
                            :items="skps" item-value="id" item-text="tupoksi.butir_kegiatan"
                            :error-messages="'id_skp' in errorData ? errorData.id_skp : errors">
                            <template v-slot:item="data">
                                <p class="my-auto py-2" style="line-height: normal; width: 400px"> {{ data.item.tupoksi.butir_kegiatan }} </p>
                            </template>
                            <template v-slot:selection="data">
                                <span class="" style="line-height: normal;"> {{ data.item.tupoksi.butir_kegiatan }} </span>
                            </template>
                        </v-autocomplete>
                        </validation-provider>
                    </b-col>
                    <b-col class="pt-0" v-if="isNakes">
                        <validation-provider #default="{ errors }" name="Tindakan" rules="required" >
                        <label for="Butir Kegiatan">Tindakan</label>
                        <v-autocomplete v-model="n.deskripsi"
                            outlined dense hide-details="auto" auto-grow rows="3"
                            :items="rkks" item-text="kompetensi" item-value="kompetensi"
                            :error-messages="'deskripsi' in errorData ? errorData.deskripsi : errors">
                            <template v-slot:item="data">
                                <p class="my-auto py-2" style="line-height: normal; width: 400px"> {{ data.item.kompetensi }} </p>
                            </template>
                            <template v-slot:selection="data">
                                <span class="" style="line-height: normal;"> {{ data.item.kompetensi }} </span>
                            </template>
                        </v-autocomplete>
                        </validation-provider>
                    </b-col>
                    <b-col class="pt-0" v-else>
                        <validation-provider #default="{ errors }" name="Deskripsi" rules="required" >
                        <label>Deskripsi</label>
                        <v-textarea v-model="n.deskripsi"
                            outlined dense hide-details="auto" auto-grow rows="3"
                            :error-messages="'deskripsi' in errorData ? errorData.deskripsi : errors">
                        </v-textarea>
                        </validation-provider>
                    </b-col>
                    <div class="d-flex">
                        <b-col class="py-0" cols="4">
                            <validation-provider #default="{ errors }" name="Jam" rules="required">
                            <label for="Jam">Jam</label>
                            <v-text-field v-model="n.jam"
                            outlined dense type="time" hide-details="auto"
                            :error-messages="errors">
                            </v-text-field>
                            </validation-provider>
                        </b-col>
                        <b-col class="py-0" cols=8>
                            <validation-provider #default="{ errors }" name="Lampiran" rules="image">
                            <label for="Lampiran">Lampiran</label>
                            <v-file-input v-model="n.lampiran"
                                outlined dense prepend-icon="" hide-details="auto" append-icon="mdi-paperclip"
                                accept="image/*" @change="selectPhoto(n, index)" :error-messages="errors"
                            />
                            </validation-provider>
                        </b-col>
                    </div>
                    <b-col class="pb-0" v-if="n.statusB">
                        <validation-provider #default="{ errors }" name="Biaya" rules="required">
                        <label for="Biaya">Biaya</label>
                        <v-text-field v-model="n.biaya" type="number"
                            outlined dense hide-details="auto" :error-messages="errors">
                        </v-text-field>
                        </validation-provider>
                    </b-col>
                    <b-col class="pb-0" v-if="form.loop.length !== 0 && index !== (form.loop.length - 1)">
                        <v-divider ></v-divider>
                    </b-col>
                </div>
                </transition-group>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Batal </b-button>
            <b-button size="sm" variant="primary" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Simpan</b-button>
        </template>
    </b-modal>
</template>

<script>
import moment from 'moment'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Api from '@axios'
import { nextTick } from 'vue-demi'
export default {
    components:{
        VuePerfectScrollbar,
    },
    props:{
        jabatan : {
            type: Object,
        },
        date:{
            type: String,
        }
    },
    data() {
        return {
            errorData: {},
            btnload: false,
            date3: false,
            form: new Form ({
                id_user: '',
                tanggal: null,
                nama_pasien : '',
                mr : '',
                status: 'Menunggu',
                loop: [{
                    id_skp:'',
                    statusB: false,
                    biaya: null,
                    lampiran: null ,
                    base64: null,
                    jam: moment(new Date()).format('HH:mm'),
                    deskripsi:'',
                }]
            }),
        }
    },
    computed:{
        isNakes(){
            const placement = this.$store.state.user.userLogin.placement;
            let x = placement.filter(p => p.katjab === 'Tenaga Kesehatan');
            return x.length ? true : false
        },
        skps(){
            return this.$store.state.skp.skps;
        },
        rkks(){
            return this.$store.state.rkk.rkks;
        },
    },
    methods: {
        biaya(id, index){
            var skp = this.skps.filter( x => x.id == id)
            if (skp[0].t_biaya  === null) {
                return this.form.loop[index].statusB = false;
            }else{
                return this.form.loop[index].statusB = true;
            }
        },
        selectPhoto(n, index){
            let file = this.form.loop[index].lampiran
            let reader = new FileReader();
            if (file) {
                reader.onloadend = (file) =>{
                    this.form.loop[index].base64 = reader.result;
                }
                reader.readAsDataURL(file);
            }else{
                this.form.loop[index].base64 = null;
            }
            // this.file.append('data'+[index], this.form.loop[index].lampiran)
        },
        addFormLoop() {
            this.form.loop.push({
                id_skp: '',
                statusB: false,
                biaya: null,
                eviden: null,
                jam : moment(new Date()).format('HH:mm'),
                deskripsi : '',
            })
        },
        removeFormLoop(){
            this.form.loop.splice(-1, 1);
            this.$nextTick(() => {
                console.clear();
            })
        },
        fetchRkk() {
            if(this.rkks.length == 0){
                this.$store.dispatch("rkk/getRkk")
                .then()
                .catch(error => {
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }
        },
        addModal(){
            this.errorData = {},
            this.form.reset();
            this.$refs['activityModal'].show()
        },
        handleOk(event) {
            event.preventDefault()
            this.submitForm()
        },
        submitForm(){
            this.$refs.activityValidation.validate().then(success => {
                if (success) {
                    this.createActivity();
                }
            })
        },
        createActivity(){
            this.errorData = {}
            this.btnload = true;
            this.form.id_user = this.$store.state.user.userLogin.id;
            this.form.tanggal = this.date;
            Api.post("activity", this.form)
            .then(() => {
                this.btnload = false;
                this.createParent();
                this.$refs['activityModal'].hide();
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Kegiatan baru berhasil dibuat',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        createParent(){
            this.$emit('createSuccess')
        },
    },
    created() {
        this.fetchRkk();
    },
}
</script>
