<template>
<div>
    <b-card class="bg-transparent shadow-none">
        <template #header>
            <h3 class="text-primary text-bold mb-0"> {{ date | tanggal}} </h3>
            <v-divider class="ml-2"></v-divider>
        </template>
        <app-timeline>
            <transition-group name="success" tag="span">

            <app-timeline-item v-for="(act, index) in activities" :key="index + 0"
                :icon="checkIcon(act.status)" :status="act.status"
                :variant="checkVariant(act.status)" >
                <b-row class="activity-detail">
                    <b-col class="p-0 pr-3 order-2 order-md-1">
                        <p><span class="text-secondary">Butir Kegiatan : </span> {{ act.skp.tupoksi.butir_kegiatan}}</p>
                        <b-media v-if="act.nama_pasien">
                            <template #aside>
                                <b-avatar size="30" variant="primary" class="mt-1" icon="emoji-dizzy-fill"
                                v-b-tooltip.hover.bottom title="pasien"/>
                            </template>
                            <span class="font-weight-bold">{{ act.nama_pasien}}</span>
                            <p class="text-secondary">{{act.mr}}</p>
                        </b-media>
                        <span class="text-secondary">Deskripsi : </span>{{ act.deskripsi}}
                        <p class="text-secondary mb-0" v-if="act.biaya">Biaya : {{ act.biaya | currency}}</p>
                    </b-col>
                    <b-col cols=12 lg="auto" class="p-0 pr-3 order-1 order-md-2 text-left text-md-right mb-2">
                        <v-chip color="primary">
                            <span>{{ act.jam | jamAct}}</span>
                            <v-divider vertical class="mx-2"></v-divider>
                            <template v-if="act.lampiran">
                                <v-btn icon small color="white" @click.prevent="$refs.attachmentModal.show(act.lampiran)">
                                    <v-icon>mdi-paperclip</v-icon>
                                </v-btn>
                                <v-divider vertical class="mx-2"></v-divider>
                            </template>
                            <v-menu transition="slide-y-transition" left>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn icon small v-bind="attrs" v-on="on" color="white">
                                        <v-icon>mdi-dots-horizontal</v-icon>
                                    </v-btn>
                                </template>
                                <v-list small>
                                    <v-list-item @click.prevent="$refs.editModal.editModal(act)" :disabled="act.status !== 'Menunggu'">
                                        <v-icon small left>mdi-pencil</v-icon>
                                        <v-list-item-title>edit</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="deleteActivity(act.id)" :disabled="act.status == 'Disetujui'">
                                        <v-icon small left>mdi-delete</v-icon>
                                        <v-list-item-title>Hapus</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </v-chip>
                    </b-col>
                </b-row>

            </app-timeline-item>
            </transition-group>
        </app-timeline>
    </b-card>
    <attachment-modal ref="attachmentModal"/>
    <edit-modal ref="editModal" v-on:updateSuccess="updateActivity"/>
</div>
</template>

<script>
import AppTimeline from '@core/components/app-timeline/AppTimeline.vue'
import AppTimelineItem from '@core/components/app-timeline/AppTimelineItem.vue'
import AttachmentModal from './AttachmentModal.vue'
import editModal from './editModal.vue'
import Api from '@axios'

export default {
    props:{
        date: {
            type: String,
        },
        activities: {
            type : Array,
        }
    },
    components: {
        AppTimeline,
        AppTimelineItem,
        AttachmentModal,
        editModal,
    },
    data() {
        return {

        }
    },
    methods: {
        checkIcon(status){
            if(status === "Ditolak"){
                return 'AlertCircleIcon'
            }else if(status === "Disetujui"){
                return 'CheckCircleIcon'
            }else{
                return 'ClockIcon'
            }
        },
        checkVariant(status){
            if(status === "Ditolak"){
                return 'danger'
            }else if(status === "Disetujui"){
                return 'primary'
            }else{
                return 'secondary'
            }
        },
        deleteActivity(id){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Kegiatan yang dihapus tidak dapat dikembalikan!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    Api.delete("activity/"+id)
                    .then(()=>{
                        this.deleteParent(id)
                        this.$swal({
                            icon: 'success',
                            title: 'Dihapus!',
                            text: 'Kegiatan berhasil dihapus',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch((error)=>{
                        this.$swal({
                            icon: 'error',
                            title: 'Gagal!',
                            text: error.response.data.errors,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    });
                }
            })
        },
        deleteParent(id){
            this.$emit('deleteSuccess', id)
        },
        updateActivity(value){
            let index = this.activities.map(e => { return e.id; }).indexOf(value.id);
            this.activities.splice(index, 1, value);
        }
    },
}
</script>
