<template>
    <div>

        <!-- Media -->
        <validation-observer ref="accountValidation">
        <b-media class="mb-2">
            <template #aside>
                <b-avatar
                ref="previewEl"
                :src="preview ? photoPreview.data : asset('images/avatar/'+userData.photo) "
                :text="avatarText(userData.fullname)"
                variant="light-primary"
                size="90px"
                rounded
                />
            </template>
            <h4 class="mb-1"> {{ userData.fullname }} </h4>
            <br>
            <div class="d-flex flex-wrap">
                <b-button variant="primary" @click="$refs.refInputEl.click()" size="sm" :disabled="!$can('manage', 'pegawai')">
                    <validation-provider rules="image" name="foto" ref="provider" >
                    <input ref="refInputEl" type="file" class="d-none" accept="image/*" @input="inputImageRenderer" @change="previewPhoto" >
                    </validation-provider>
                    <span class="d-none d-sm-inline">Ubah Foto</span>
                    <feather-icon icon="EditIcon" class="d-inline d-sm-none" />
                </b-button>
                <b-button variant="outline-secondary" class="ml-1" @click="removePhoto" size="sm">
                    <span class="d-none d-sm-inline">Batal</span>
                    <feather-icon icon="TrashIcon" class="d-inline d-sm-none" />
                </b-button>
            </div>
        </b-media>

        <b-form @submit.prevent="saveAccount">
        <b-row class="mt-1 mb-2">
            <b-col cols="12" md="4" >
                <validation-provider #default="{ errors }" name="Nama Panggilan" rules="required" >
                    <b-form-group class="mb-0" label="Nama Panggilan" label-for="i-username" >
                        <v-text-field dense outlined v-model="userData.nickname" hide-details="auto" type="text"
                            :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" md="4" >
                <validation-provider #default="{ errors }" name="Nama Lengkap" rules="required" >
                    <b-form-group class="mb-0" label="Nama Lengkap" label-for="i-fullname" >
                        <v-text-field dense outlined v-model="userData.fullname" hide-details="auto"
                            :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" md="4">
                <validation-provider #default="{ errors }" name="NIP" rules="required|min:7" >
                <b-form-group class="mb-0" label="NIP" label-for="i-nip">
                    <v-text-field dense outlined v-model="userData.nip" hide-details="auto" type="number"
                        :error-messages="'nip' in errorData ? errorData.nip : errors[0]"
                        :readonly="!$can('manage', 'all')"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" md="6" >
                <validation-provider #default="{ errors }" name="Jenis Pegawai" rules="required" >
                    <b-form-group class="mb-0" label="Jenis Pegawai" label-for="i-jenis-pegawai">
                        <v-select :items="['PNS', 'BLUD', 'PTT', 'HONDA', 'APBD', 'PPPK' ]" v-model="userData.jenis_peg"
                        dense outlined hide-details="auto" menu-props="auto" @change="userData.gol = null, userData.tmt_gol = null"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" md="3" v-if="userData.jenis_peg === 'PNS' || userData.jenis_peg === 'PPPK'">
                <b-form-group class="mb-0" label="TMT Golongan" label-for="i-tmt-golongan">
                <v-menu ref="date2" v-model="date2" :close-on-content-click="false" left :disabled="!$can('manage', 'pegawai')"
                    transition="slide-y-transition" offset-y min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="userData.tmt_gol" outlined dense readonly v-bind="attrs" v-on="on" hide-details="auto"/>
                    </template>
                    <v-date-picker ref="picker" v-model="userData.tmt_gol" locale="id" @input="date2 = false"></v-date-picker>
                </v-menu>
                </b-form-group>
            </b-col>
            <b-col cols="12" :md="(userData.jenis_peg === 'PNS' || userData.jenis_peg === 'PPPK') ? 3 : 6">
                <v-menu ref="date1" v-model="date1" :close-on-content-click="false" left :disabled="!$can('manage', 'pegawai')"
                    transition="slide-y-transition" offset-y min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <validation-provider #default="{ errors }" name="TMT" rules="required" >
                        <b-form-group class="mb-0" label="TMT" label-for="i-tmt">
                            <v-text-field v-model="userData.tmt" outlined v-bind="attrs" v-on="on" readonly dense hide-details="auto"
                                :error-messages="errors[0]"/>
                        </b-form-group>
                        </validation-provider>
                    </template>
                    <v-date-picker ref="picker" v-model="userData.tmt" locale="id" @input="date1 = false"></v-date-picker>
                </v-menu>
            </b-col>
            <b-col cols="12" :md="$can('manage', 'all') ? 6 : 12">
                <validation-provider #default="{ errors }" name="Email" rules="required|email|max:26" >
                <b-form-group class="mb-0" label="Email" label-for="i-email">
                    <v-text-field dense outlined v-model="userData.email" hide-details="auto"
                        :error-messages="'email' in errorData ? errorData.email : errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" :md="6" v-if="$can('manage', 'all')">
                <validation-provider #default="{ errors }" name="Role" rules="required" >
                <b-form-group class="mb-0" label="Role" label-for="i-role">
                    <v-select :items="['administrator', 'executive', 'user']" dense
                    v-model="userData.role" outlined menu-props="auto" hide-details="auto" :error-messages="errors[0]"/>
                </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12">
                <hr>
            </b-col>
        </b-row>
        <div class="d-flex justify-content-between">
            <div class="d-flex">
            <feather-icon icon="UserIcon" size="19" />
            <h4 class="mb-0 ml-50">
                Unit & Jabatan
            </h4>
            </div>
            <div>
                <v-btn color="primary" class="text-capitalize" outlined small @click="addPlacement()">
                    <v-icon left>mdi-plus</v-icon>Jabatan
                </v-btn>
            </div>
        </div>
        <transition-group name="success" mode="out-in">
            <b-row v-for="(n, index) in userData.placement" :key="index + 0" class="mt-1">
                <b-col cols="12" :lg="userData.placement.length !== 1 ? 3 : 4">
                    <validation-provider #default="{ errors }" name="Unit" rules="required" >
                    <b-form-group class="mb-0" label="Unit" label-for="i-unit">
                    <v-autocomplete v-model="userData.placement[index].id_unit" outlined dense menu-props="auto" :readonly="!$can('manage', 'pegawai')"
                        :items="units" item-text="nama_unit" item-value="id" hide-details="auto" :error-messages="errors[0]"
                    />
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col>
                    <validation-provider #default="{ errors }" name="Jabatan RSUD" rules="required" >
                    <b-form-group class="mb-0" label="Jabatan RSUD" label-for="i-jabatan-rsud">
                    <v-autocomplete v-model="userData.placement[index].id_position" outlined dense menu-props="auto" :readonly="!$can('manage', 'pegawai')"
                        :items="positions" item-text="jabatan" item-value="id" hide-details="auto"
                        :error-messages="errors[0]"
                    />
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col cols="12" lg="4">
                    <b-form-group class="mb-0" label="Jabatan PermenPAN" label-for="i-jabatan-permenpan">
                    <v-autocomplete v-model="userData.placement[index].id_permenpan" outlined dense  menu-props="auto" :readonly="!$can('manage', 'pegawai')"
                        :items="positions" item-text="jabatan" item-value="id" hide-details="auto"
                    />
                    </b-form-group>
                </b-col>
                <b-col cols="auto" class="d-flex align-items-end justify-content-center" v-if="userData.placement.length !== 1">
                    <v-btn text elevation="0" @click.prevent="deletePlacement(n, index)" v-b-tooltip.hover.bottom title="Hapus">
                        <v-icon left>mdi-close</v-icon> hapus
                    </v-btn>
                </b-col>
                <b-col cols="12">
                    <hr>
                </b-col>
            </b-row>
        </transition-group>

        <b-row>
            <b-col>
            </b-col>
        </b-row>
        <div class="mt-1 d-sm-flex justify-content-sm-between">
            <div>
            <v-btn color="primary" class="mb-2 mb-sm-0 mr-0 mr-sm-2 text-capitalize" type="submit"
                :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                Simpan Perubahan
            </v-btn>
            <v-btn @click.prevent="back" class="mb-2 mb-sm-0 text-capitalize"
                outlined :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                Kembali
            </v-btn>
            </div>
            <div>
            <v-btn v-if="$can('manage', 'all')" color="red" @click.prevent="resetPassword" class="text-capitalize"
                outlined :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                Reset Password
            </v-btn>
            </div>
        </div>
        </b-form>
        </validation-observer>


        <!-- Action Buttons -->
    </div>
</template>

<script>
import { avatarText } from '@core/utils/filter'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import { ref } from '@vue/composition-api'
import Api from '@axios'

export default {
    props: {
        userData: {
            type: Object,
            required: true,
        },
        photoPreview: {
            type: Object,
        },
    },
    setup(props) {
        const refInputEl = ref(null)
        const previewEl = ref(null)

        const { inputImageRenderer } = useInputImageRenderer(refInputEl, base64 => {
            props.photoPreview.data = base64
        })

        return {
            avatarText,
            refInputEl,
            previewEl,
            inputImageRenderer,
        }
    },
    data() {
        return {
            errorData: {},
            preview: false,
            photo : FormData,
            date1: false,
            date2: false,
            pass: {
                id: this.userData.id,
                password: 'sikujang123',
                password_confirmation: 'sikujang123',
            }
        }
    },
    computed:{
        positions(){
            return this.$store.state.position.positions;
        },
        units(){
            return this.$store.state.unit.units;
        },
    },
    methods: {
        back(){
            const path = '/pegawai'
            if (this.$route.path !== path) this.$router.push(path)
        },
        async previewPhoto(e){
            const { valid, errors } = await this.$refs.provider.validate(e);
            if(valid){
                this.preview = true;
            }else{
                this.preview = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Opps!',
                    text: errors[0],
                })
            }
        },
        removePhoto(){
            this.preview = false;
            this.previewPhoto.data = null;
        },
        addPlacement() {
            this.userData.placement.push({
                id : null,
                id_position : null,
                id_unit : null,
                id_permenpan : null,
                id_user : this.userData.id,
            })
        },
        deletePlacement(n, index){
            if (n.id == null) {
                this.userData.placement.splice(index, 1);
            }else{
                this.$swal({
                    title: 'Anda Yakin?',
                    text: "Unit & Jabatan yang dihapus tidak dapat dikembalikan!",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Ya, Hapus saja!',
                    customClass: {
                        confirmButton: 'btn btn-danger',
                        cancelButton: 'btn btn-outline-secondary ml-1',
                    },
                    buttonsStyling: false,
                }).then((result) => {
                    if (result.value) {
                        Api.delete('placement/'+n.id)
                        .then(()=>{
                            this.userData.placement.splice(index, 1);
                            this.$swal({
                                icon: 'success',
                                title: 'Dihapus!',
                                text: 'Unit & Jabatan berhasil dihapus',
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        }).catch(()=>{
                            this.$swal({
                                icon: 'error',
                                title: 'Gagal!',
                                text: 'Something went wrong',
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        });
                    }
                })
            }
        },
        resetPassword(){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Password akan direset menjadi semula!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#39af21',
                confirmButtonText: 'Ya, Reset Password!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    Api.post('/reset-password', this.pass)
                    .then(() => {
                        this.$swal({
                            icon: 'success',
                            title: 'Berhasil!',
                            text: 'Password telah direset',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    })
                    .catch( error => {
                        this.$swal({
                            icon: 'error',
                            title: 'Gagal!',
                            text: error.response.data.message,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    })
                }
            })
        },
        saveAccount(){
            this.errorData = {}
            this.$refs.accountValidation.validate().then(success => {
                if (success) {
                    if(this.photoPreview.data){
                        this.userData.photo = this.photoPreview.data
                    }
                    this.$store.dispatch("user/updatePegawai", this.userData)
                    .then(() => {
                        this.$swal({
                            icon:'success',
                            title:'Berhasil',
                            text: 'Data Berhasil disimpan',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch( error => {
                        this.errorData = error.response.data.errors
                        this.$swal({
                            icon: 'error',
                            title: 'Failed!',
                            text: error.response.data.message,
                        })
                    })
                }
            })
        },
    },
    mounted() {

    },
}
</script>
