<template>
<div>
    <validation-observer ref="biodataValidation">
    <b-form class="mt-1" @submit.prevent="saveBiodata">
        <!-- <div class="d-flex mb-3">
            <feather-icon icon="UserIcon" size="19" />
            <h4 class="mb-0 ml-50"> Biodata </h4>
        </div> -->

        <b-row class="mb-3">
            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="NIK" label-for="nik" >
                    <v-text-field v-model="Biodata.nik" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <validation-provider #default="{ errors }" name="Jenis Kelamin" rules="required" >
                    <b-form-group class="mb-0" label="Jenis Kelamin" label-for="i-gender">
                    <v-select :items="['Laki-laki', 'Perempuan']" v-model="Biodata.gender" outlined dense hide-details="auto"
                            :error-messages="errors[0]"/>
                    </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="Agama" label-for="agama" >
                    <v-select :items="['Islam', 'Katolik', 'Kristen Protestan', 'Hindu', 'Budha', 'Konghucu']"
                        v-model="Biodata.agama" outlined dense hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <validation-provider #default="{ errors }" name="Tempat Lahir" rules="required" >
                    <b-form-group class="mb-0" label="Tempat Lahir" label-for="tpt-lahir" >
                        <v-text-field dense outlined v-model="Biodata.tpt_lahir" hide-details="auto"
                            :error-messages="errors[0]"/>
                    </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <v-menu ref="date1" v-model="date1" :close-on-content-click="false" left transition="slide-y-transition" min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <validation-provider #default="{ errors }" name="Tanggal Lahir" rules="required" >
                        <b-form-group class="mb-0" label="Tanggal Lahir" label-for="i-tanggal-lahir">
                            <v-text-field v-model="Biodata.tgl_lahir" outlined v-bind="attrs" v-on="on" readonly dense hide-details="auto"
                                :error-messages="errors[0]" />
                        </b-form-group>
                        </validation-provider>
                    </template>
                    <v-date-picker :active-picker.sync="activePicker" v-model="Biodata.tgl_lahir" locale="id" @input="date1 = false"></v-date-picker>
                </v-menu>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="No Handphone" label-for="HP" >
                    <v-text-field v-model="Biodata.hp" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>
        </b-row>
        <hr>

        <b-row class="mt-3">
            <b-col>
                <v-btn color="primary" class="mb-2 mb-sm-0 mr-0 mr-sm-2 text-capitalize" type="submit"
                    :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                    Simpan Perubahan
                </v-btn>
                <v-btn @click.prevent="back" class="text-capitalize" @click="back"
                    outlined :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                    Kembali
                </v-btn>
            </b-col>
        </b-row>
    </b-form>
    </validation-observer>
</div>
</template>

<script>
import Api from '@axios'

export default {
    props:{
        userData: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            errorData: {},
            date1: false,
            activePicker: null,
            Biodata: new Form ({
                id:'',
                id_user:'',
                nik: '',
                agama : '',
                tpt_lahir : '',
                tgl_lahir : '',
                hp : '',
                gender : '',
            }),
        }
    },
    mounted() {
        this.Biodata.fill(this.userData.biodata);
    },
    methods: {
        back(){
            const path = '/pegawai'
            if (this.$route.path !== path) this.$router.push(path)
        },
        saveBiodata(){
            this.errorData = {}
            this.$refs.biodataValidation.validate().then(success => {
                if (success) {
                    this.update()
                }
            })
        },
        update(){
            Api.put("biodata/"+this.Biodata.id, this.Biodata)
            .then(() => {
                this.$swal({
                    icon:'success',
                    title:'Berhasil',
                    text: 'Data Berhasil disimpan',
                    showConfirmButton: false,
                    timer: 1500,
                })
            }).catch( error => {
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'error',
                    title: 'Failed!',
                    text: error.response.data.message,
                })
            })
        },
    },
    watch:{
        date3(val){
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        },
    }
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';
</style>
