<template>
<v-app class="bg-transparent" dark>
    <b-card>
        <b-row align-v="center" style="height: 300px" v-if="loading">
            <b-col cols="12" class="text-center text-primary my-auto mx-auto">
                <b-spinner variant="primary" type="grow" label="Spinning"></b-spinner>
                <strong>Loading...</strong>
            </b-col>
        </b-row>
        <v-tabs v-if="!loading && userData" show-arrows center-active>
            <v-tab>
                <v-icon left> mdi-account </v-icon>
                <span>Account</span>
            </v-tab>
            <v-tab>
                <v-icon left> mdi-information </v-icon>
                <span>Biodata</span>

            </v-tab>
            <v-tab>
                <v-icon left> mdi-map </v-icon>
                <span>Alamat</span>
            </v-tab>
            <v-tab>
               <v-icon left>mdi-school</v-icon>
                <span>Pendidikan</span>
            </v-tab>
            <template>
                <!-- item tab account -->
                <v-tab-item>
                    <edit-pegawai-tab-account class="mt-2 pt-75"
                    :user-data="userData" :photo-preview="photoPreview"
                    />
                </v-tab-item>
                <!-- item tab Biodata -->
                <v-tab-item >
                    <edit-pegawai-tab-biodata class="mt-2 pt-75 bg-transparent" :user-data="userData" />
                </v-tab-item>
                <!-- item tab Alamat -->
                <v-tab-item >
                    <edit-pegawai-tab-alamat class="mt-2 pt-75 bg-transparent" :user-data="userData" />
                </v-tab-item>
                <v-tab-item>
                    <edit-pegawai-tab-pendidikan class="mt-2 pt-75 bg-transparent" :user-data="userData" />
                </v-tab-item>
            </template>
        </v-tabs>

    </b-card>
  </v-app>
</template>

<script>
import EditPegawaiTabAccount from './EditPegawaiTabAccount.vue'
import EditPegawaiTabBiodata from './EditPegawaiTabBiodata.vue'
import EditPegawaiTabPendidikan from './EditPegawaiTabPendidikan.vue'
import EditPegawaiTabAlamat from './EditPegawaiTabAlamat.vue'
import EditPegawaiTabSocial from './EditPegawaiTabSocial.vue'
import Api from '@axios'

export default {
    components: {
        EditPegawaiTabAccount,
        EditPegawaiTabBiodata,
        EditPegawaiTabPendidikan,
        EditPegawaiTabAlamat,
        EditPegawaiTabSocial,
    },
    data() {
        return {
            userData: null,
            loading: true,
            photoPreview: {
                data: null
            },
            attrs: {
                class: 'mb-6',
                boilerplate: true,
            },
        }
    },
    mounted() {
        this.fetchUser();
        this.loadPosition();
        this.loadUnit();
    },
    computed:{
        positions(){
            return this.$store.state.position.positions;
        },
        units(){
            return this.$store.state.unit.units;
        },
    },
    methods: {
        loadPosition(){
            if(this.positions.length == 0){
                this.$store.dispatch("position/getPosition").then()
                .catch(()=>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oopps!',
                        text: 'Sepertinya ada masalah dengan koneksimu',
                        confirmButtonText:'<a href="javascript:location.reload(true)" class="text-white"><i class="fa fa-sync-alt"></i> Reload</a>',
                    })
                });
            }
        },
        loadUnit(){
            if(this.units.length == 0){
            this.$store.dispatch("unit/getUnit").then()
            .catch(()=>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oopps!',
                    text: 'Sepertinya ada masalah dengan koneksimu',
                    confirmButtonText:'<a href="javascript:location.reload(true)" class="text-white"><i class="fa fa-sync-alt"></i> Reload</a>',
                })
            });
            }
        },
        fetchUser(){
            Api.get('user/'+this.$route.params.id).then( response => {
                this.userData = response.data
            }).then( () => { this.loading = false });
        },
        redirect(){
            if(this.userData == ''){
                this.$router.push({ name: 'error-404'})
            }
        }
    },
    watch: {
        userData: 'redirect'
    }
}
</script>
