<template>
<!-- <component :is="loading ? 'div' : 'b-card'"> -->
    <b-card v-if="!loading">

    <!-- Alert: No item found -->
    <b-alert variant="danger" v-if="!userData" >
    <h4 class="alert-heading">
        Error fetching user data
    </h4>
    <div class="alert-body">
        No user found with this user id. Check
        <b-link class="alert-link" :to="{ name: 'apps-users-list'}" >
        User List
        </b-link>
        for other users.
    </div>
    </b-alert>

    <v-tabs v-if="userData" pills >

    <!-- Tab: Account -->
    <b-tab active>
        <template #title>
            <feather-icon icon="UserIcon" size="16" class="mr-0 mr-sm-50" />
            <span class="d-none d-sm-inline">Account</span>
        </template>
        <edit-pegawai-tab-account class="mt-2 pt-75"
        :user-data="userData" :photo-preview="photoPreview" :positions="positions" :units="units" :loading="loading"
        />
    </b-tab>

    <!-- Tab: Information -->
    <b-tab>
        <template #title>
            <feather-icon icon="InfoIcon" size="16" class="mr-0 mr-sm-50" />
            <span class="d-none d-sm-inline">Information</span>
        </template>
        <edit-pegawai-tab-information class="mt-2 pt-75" :user-data="userData" />
    </b-tab>

    <!-- Tab: Social -->
    <b-tab>
        <template #title>
            <feather-icon icon="Share2Icon" size="16" class="mr-0 mr-sm-50" />
            <span class="d-none d-sm-inline">Social</span>
        </template>
        <edit-pegawai-tab-social class="mt-2 pt-75" />
    </b-tab>
    </-tabs>
    </b-card>
<!-- </component> -->
</template>

<script>
import EditPegawaiTabAccount from './EditPegawaiTabAccount.vue'
import EditPegawaiTabInformation from './EditPegawaiTabBiodata.vue'
import EditPegawaiTabSocial from './EditPegawaiTabSocial.vue'
import Api from '@axios'

export default {
    components: {
        EditPegawaiTabAccount,
        EditPegawaiTabInformation,
        EditPegawaiTabSocial,
    },
    data() {
        return {
            userData: null,
            photoPreview: {
                data: null
            },
            loading: true,
        }
    },
    mounted() {
        this.fetchUser();
        this.loadPosition();
        this.loadUnit();
    },
    computed:{
        positions(){
            return this.$store.state.position.positions;
        },
        units(){
            return this.$store.state.unit.units;
        },
    },
    methods: {
        loadPosition(){
            this.$store.dispatch("position/getPosition").then()
            .catch(()=>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oopps!',
                    text: 'Sepertinya ada masalah dengan koneksimu',
                    confirmButtonText:'<a href="javascript:location.reload(true)" class="text-white"><i class="fa fa-sync-alt"></i> Reload</a>',
                })
            });
        },
        loadUnit(){
            this.$store.dispatch("unit/getUnit").then()
            .catch(()=>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oopps!',
                    text: 'Sepertinya ada masalah dengan koneksimu',
                    confirmButtonText:'<a href="javascript:location.reload(true)" class="text-white"><i class="fa fa-sync-alt"></i> Reload</a>',
                })
            });
        },
        fetchUser(){
            Api.get('user/'+this.$route.params.id).then( response => {
                this.userData = response.data
                this.loading = false
            });
        }
    },
}
</script>

<style>
.success-enter-active {
        transition: all .5s ease;
    }
    .success-leave-active {
        transition: all .2s ease;
    }
    .success-enter {
        transform: translateY(-50px);
        opacity: 0;
    }
    .success-leave-to {
        transform: translateY(-20px);
        opacity: 0;
    }

</style>
