<template>
<div>
    <validation-observer ref="addressValidation">
    <b-form class="mt-1" @submit.prevent="saveAddress">
        <!-- <div class="d-flex mb-3">
            <feather-icon icon="UserIcon" size="19" />
            <h4 class="mb-0 ml-50"> Alamat </h4>
        </div> -->

        <b-row>
            <b-col cols="12" md="6" lg="3" >
                <b-form-group class="mb-0" label="Kampung/Komplek" label-for="kampung" >
                    <v-text-field v-model="Address.kp" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="Jalan" label-for="jalan" >
                    <v-text-field v-model="Address.jl" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="12" md="4" lg="1" >
                <b-form-group class="mb-0" label="Nomor" label-for="nomor" >
                    <v-text-field v-model="Address.no" type="number" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="6" md="4" lg="2" >
                <b-form-group class="mb-0" label="RT" label-for="RT" >
                    <v-text-field v-model="Address.rt" type="number" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="6" md="4" lg="2" >
                <b-form-group class="mb-0" label="RW" label-for="RW" >
                    <v-text-field v-model="Address.rw" type="number" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="Kelurahan" label-for="kelurahan" >
                    <v-text-field v-model="Address.kel" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="Kecamatan" label-for="kecamatan" >
                    <v-text-field v-model="Address.kec" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="Kota" label-for="kota" >
                    <v-text-field v-model="Address.kota" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="Kode Pos" label-for="kode-pos" >
                    <v-text-field v-model="Address.pos" type="number" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="Kabupaten" label-for="kabupaten" >
                    <v-text-field v-model="Address.kab" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>

            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="provinsi" label-for="provinsi" >
                    <v-text-field v-model="Address.prov" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>
        <b-col cols="12">
            <hr>
        </b-col>
        </b-row>
        <b-row >
            <b-col>
                <v-btn color="primary" class="mb-2 mb-sm-0 mr-0 mr-sm-2 text-capitalize" type="submit"
                    :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                    Simpan Perubahan
                </v-btn>
                <v-btn @click.prevent="back" class="text-capitalize" @click="back"
                    outlined :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                    Kembali
                </v-btn>
            </b-col>
        </b-row>
    </b-form>
    </validation-observer>
</div>
</template>

<script>
import Api from '@axios'

export default {
    props:{
        userData: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            errorData: {},
            Address: new Form ({
                id:'',
                id_user:'',
                kp: '',
                jl: '',
                rt: '',
                rw: '',
                no: '',
                kel: '',
                kec: '',
                kota: '',
                kab: '',
                prov: '',
                pos: '',
            }),
        }
    },
    mounted() {
        if(this.userData.address){
            this.Address.fill(this.userData.address);
        }
    },
    methods: {
        back(){
            const path = '/pegawai'
            if (this.$route.path !== path) this.$router.push(path)
        },
        saveAddress(){
            this.errorData = {}
            this.$refs.addressValidation.validate().then(success => {
                if (success) {
                    if(this.Address.id){
                        this.update()
                    }else{
                        this.create()
                    }
                }
            })
        },
        update(){
            Api.put("address/"+this.Address.id, this.Address)
            .then(() => {
                this.$swal({
                    icon:'success',
                    title:'Berhasil',
                    text: 'Data Berhasil disimpan',
                    showConfirmButton: false,
                    timer: 1500,
                })
            }).catch( error => {
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'error',
                    title: 'Failed!',
                    text: error.response.data.message,
                })
            })
        },
        create(){
            this.Address.id_user = this.userData.id
            Api.post("address", this.Address)
            .then(() => {
                this.$swal({
                    icon:'success',
                    title:'Berhasil',
                    text: 'Data Berhasil disimpan',
                    showConfirmButton: false,
                    timer: 1500,
                })
            }).catch( error => {
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'error',
                    title: 'Failed!',
                    text: error.response.data.message,
                })
            })
        }
    },
    watch:{
        date3(val){
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        },
    }
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';
</style>
