<template>
<div>
    <validation-observer ref="pendidikanValidation">
    <b-form class="mt-1" @submit.prevent="submitForm">
            <div>
                <v-btn color="primary" class="text-capitalize" outlined @click="addPendidikan()">
                    <v-icon left>mdi-plus</v-icon>Pendidikan
                </v-btn>
            </div>
        <!-- <transition-group name="success" mode="out-in">
            <b-row v-for="(n, index) in form.academic" :key="index + 0" class="mt-1">
                <b-col cols="12" :md="(form.academic[index].tingkat !== 'SD' && form.academic[index].tingkat !== 'SMP' && form.academic[index].tingkat !== 'SMF') ? 2 : 5">
                    <validation-provider #default="{ errors }" name="Tingkat Pendidikan" rules="required">
                    <b-form-group class="mb-0" label="Tingkat Pendidikan" label-for="tingkat-pendidikan">
                    <v-select :items="['SD', 'SMP', 'SMU', 'SMA', 'SMEA', 'MA', 'SMK', 'STM', 'SMF', 'D3', 'D4', 'S1', 'S2', 'S3']" dense
                        v-model="form.academic[index].tingkat" outlined menu-props="auto" @change="form.academic[index].jurusan = null" hide-details="auto"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col cols="12" md="3" v-if="form.academic[index].tingkat !== 'SD' && form.academic[index].tingkat !== 'SMP' && form.academic[index].tingkat !== 'SMF'">
                    <validation-provider #default="{ errors }" name="Jurusan" rules="required">
                    <b-form-group class="mb-0" label="Jurusan" label-for="i-pendidikan-terakhir">
                    <v-text-field v-model="form.academic[index].jurusan" dense outlined type="text" menu-props="auto" hide-details="auto"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col cols="12" md="5" >
                    <validation-provider #default="{ errors }" name="Nama Sekolah / Universitas">
                    <b-form-group class="mb-0" label="Nama Sekolah / Universitas" label-for="nama-sekolah">
                    <v-text-field v-model="form.academic[index].nama" dense outlined type="text" menu-props="auto" hide-details="auto"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col cols="12" md="2" >
                    <validation-provider #default="{ errors }" name="Tahun" rules="required">
                    <b-form-group class="mb-0" label="Tahun" label-for="tahun">
                    <v-text-field v-model="form.academic[index].tahun" dense outlined type="number" menu-props="auto" hide-details="auto"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <template v-if="form.academic.length !== 1">
                <b-col>
                    <hr>
                </b-col>
                <b-col cols="auto" class="d-flex align-items-end justify-content-center">
                    <v-btn outlined elevation="0" class="text-capitalize" small @click.prevent="deletePendidikan(n, index)">
                        <v-icon left>mdi-delete</v-icon> Hapus
                    </v-btn>
                </b-col>
                </template>
            </b-row>
        </transition-group> -->
        <transition-group name="success" mode="out-in">
            <b-row v-for="(n, index) in form.academic" :key="index + 0" class="mt-1">
                <b-col cols="12"
                    :md="(
                        form.academic[index].tingkat !== 'SD' &&
                        form.academic[index].tingkat !== 'SMP' &&
                        form.academic[index].tingkat !== 'SMF' &&
                        form.academic[index].tingkat != null)
                        ? 2
                        : 5"
                    >
                    <validation-provider #default="{ errors }" name="Tingkat">
                    <b-form-group class="mb-0" label="Tingkat" label-for="tingkat">
                    <v-select :items="['SD', 'SMP', 'SMU', 'SMA', 'SMEA', 'MA', 'SMK', 'STM', 'SMF', 'D3', 'D4', 'S1', 'S2', 'S3']" dense clearable
                        v-model="form.academic[index].tingkat" outlined menu-props="auto" hide-details="auto"
                        @change="form.academic[index].jurusan = null, form.academic[index].tahun = null"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col cols="12" md="3"
                    v-if="
                    form.academic[index].tingkat !== 'SD' &&
                    form.academic[index].tingkat !== 'SMP' &&
                    form.academic[index].tingkat !== 'SMF' &&
                    form.academic[index].tingkat != null"
                    >
                    <validation-provider #default="{ errors }" name="Jurusan" rules="required">
                    <b-form-group class="mb-0" label="Jurusan" label-for="i-jurusan">
                    <v-text-field v-model="form.academic[index].jurusan" dense outlined type="text" menu-props="auto" hide-details="auto"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col cols="12" md="5" >
                    <validation-provider #default="{ errors }" name="Nama Sekolah / Universitas">
                    <b-form-group class="mb-0" label="Nama Sekolah / Universitas" label-for="nama-sekolah">
                    <v-text-field v-model="form.academic[index].nama" dense outlined type="text" menu-props="auto" hide-details="auto"
                        :disabled="form.academic[index].tingkat == null"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <b-col cols="12" md="2" >
                    <validation-provider #default="{ errors }" name="Tahun" :rules="form.academic[index].tingkat != null ? 'required' : ''">
                    <b-form-group class="mb-0" label="Tahun" label-for="tahun">
                    <v-text-field v-model="form.academic[index].tahun" dense outlined type="number" menu-props="auto" hide-details="auto"
                        :disabled="form.academic[index].tingkat == null"
                        :error-messages="errors[0]" :readonly="!$can('manage', 'pegawai')"/>
                    </b-form-group>
                    </validation-provider>
                </b-col>
                <template v-if="form.academic.length !== 1">
                <b-col class="py-1" >
                    <hr>
                </b-col>
                <b-col cols="auto" class="py-1">
                    <v-btn outlined elevation="0" class="text-capitalize" small @click.prevent="deletePendidikan(n, index)">
                        <v-icon left>mdi-delete</v-icon> Hapus
                    </v-btn>
                </b-col>
                </template>
            </b-row>
        </transition-group>
        <br>
        <hr>
        <b-row class="mt-3">
            <b-col>
                <v-btn color="primary" class="mb-2 mb-sm-0 mr-0 mr-sm-2 text-capitalize" type="submit"
                    :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                    Simpan Perubahan
                </v-btn>
                <v-btn @click.prevent="back" class="text-capitalize" @click="back"
                    outlined :block="$store.getters['app/currentBreakPoint'] === 'xs'">
                    Kembali
                </v-btn>
            </b-col>
        </b-row>
    </b-form>
    </validation-observer>
</div>
</template>

<script>
import Api from '@axios'

export default {
    props:{
        userData: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            errorData: {},
            date1: false,
            activePicker: null,
            form: new Form({
                academic: [{
                    id : null,
                    id_user : null,
                    tingkat : null,
                    jurusan : null,
                    nama : null,
                    tahun : null,
                }]
            })
        }
    },
    mounted() {
        this.form.academic = this.userData.academic;
    },
    methods: {
        deletePendidikan(n, index){
            if (n.id == null) {
                this.form.academic.splice(index, 1);
            }else{
                this.$swal({
                    title: 'Anda Yakin?',
                    text: "Pendidikan yang dihapus tidak dapat dikembalikan!",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Ya, Hapus saja!',
                    customClass: {
                        confirmButton: 'btn btn-danger',
                        cancelButton: 'btn btn-outline-secondary ml-1',
                    },
                    buttonsStyling: false,
                }).then((result) => {
                    if (result.value) {
                        Api.delete('academic/'+n.id)
                        .then(()=>{
                            this.form.academic.splice(index, 1);
                            this.$swal({
                                icon: 'success',
                                title: 'Dihapus!',
                                text: 'Pendidikan berhasil dihapus',
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        }).catch( error =>{
                            this.$swal({
                                icon: 'error',
                                title: 'Gagal!',
                                text: error.response.data.message,
                            })
                        });
                    }
                })
            }
        },
        addPendidikan() {
            this.form.academic.push({
                id : null,
                id_user : this.userData.id,
                tingkat : null,
                jurusan : null,
                nama : null,
                tahun : null,
            })
        },
        back(){
            const path = '/pegawai'
            if (this.$route.path !== path) this.$router.push(path)
        },
        submitForm(){
            this.errorData = {}
            this.$refs.pendidikanValidation.validate().then(success => {
                if (success) {
                    this.savePendidikan()
                }
            })
        },
        savePendidikan(){
            Api.post("academic/save", this.form)
            .then(() => {
                this.$swal({
                    icon:'success',
                    title:'Berhasil',
                    text: 'Data Pendidikan Berhasil disimpan',
                    showConfirmButton: false,
                    timer: 1500,
                })
            }).catch( error => {
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'error',
                    title: 'Gagal!',
                    text: error.response.data.message,
                })
            })
        },
    },
    watch:{
        date3(val){
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        },
    }
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-flatpicker.scss';
</style>
