<template>
<v-app class="bg-transparent mb-2" dark>
    <div style="min-height: 420px">
        <b-card >
            <b-row>
                <b-col lg="4" md="4" sm="6" class="d-flex d-inline align-items-center">
                    <v-menu v-model="datepicker" :close-on-content-click="false" :nudge-right="30"
                        transition="scroll-y-transition" offset-y min-width="290px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-toolbar-title v-bind="attrs" v-on="on">
                                <v-btn icon color="primary" tile small>
                                    <v-icon dark> mdi-calendar </v-icon>
                                </v-btn>
                                {{ fetch.date | bulanTahun}}
                            </v-toolbar-title>
                        </template>
                        <v-date-picker no-title type="month" v-model="fetch.date" locale="id" @input="datepicker = false" @change="loadReportByDate()"></v-date-picker>
                    </v-menu>
                </b-col>
                <b-col class="text-right">
                    <v-btn color="primary" class="text-capitalize"  @click.prevent="$refs.SkpModal.addModal()">
                        <v-icon left>mdi-plus</v-icon> SKP
                    </v-btn>
                </b-col>
            </b-row>
        </b-card>
        <transition name="success">
        <b-card no-body class="mb-0" v-if="reports.length !== 0 && !loading">
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-12 py-1">
                    <img  alt="image" :src="asset('images/avatar/'+reports[0].user.photo)" class="rounded-circle" style="width: 50px; margin-right: 5px">
                    <div class="d-inline-block mr-2"><h6>{{ reports[0].user.fullname }}</h6></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-lg-right text-md-right py-1">
                    <v-chip v-if="(reports.length !== 0 && reports[0].status !== 'Disetujui')" @click.prevent="editModal(reports[0])" color="primary"
                    :small="$vuetify.breakpoint.width <= 767"><v-icon small dark left>mdi-pencil</v-icon>Ubah</v-chip>
                    <v-chip color="primary" :small="$vuetify.breakpoint.width <= 767">{{reports[0].created_at | tanggal}}</v-chip>
                </div>
            </div>

            <div class="card-body border rounded p-0 mt-4">
                <v-card-title style="font-weight: bold; padding-bottom: 0px"><v-icon left>mdi-chart-line</v-icon> Plan</v-card-title>
                <v-card-text class="h6 pb-2 text-justify" style="white-space: pre-line;">
                    {{reports[0].plan}}
                </v-card-text>
            </div>
            <div class="card-body border rounded p-0 mt-4">
                <v-card-title style="font-weight: bold; padding-bottom: 0px"><v-icon left>mdi-format-list-bulleted</v-icon> Do</v-card-title>

                <v-card-text class="h6 pb-2 text-justify" style="white-space: pre-line;">
                    {{reports[0].do}}
                </v-card-text>
            </div>
            <div class="card-body border rounded p-0 mt-4">
                <v-card-title style="font-weight: bold; padding-bottom: 0px"><v-icon left>mdi-check-all</v-icon> Check</v-card-title>

                <v-card-text class="h6 pb-2 text-justify" style="white-space: pre-line;">
                    {{reports[0].check}}
                </v-card-text>
            </div>
            <div class="card-body border rounded p-0 mt-4 mb-3">
                <v-card-title style="font-weight: bold; padding-bottom: 0px"><v-icon left>mdi-launch</v-icon> Action</v-card-title>

                <v-card-text class="h6 pb-2 text-justify" style="white-space: pre-line;">
                    {{reports[0].action}}
                </v-card-text>
            </div>
        </b-card>
        </transition>
        <transition name="success">
        <div class="text-center" v-if="reports.length == 0 && !loading">
          <b-img fluid :src="imgUrl" alt="Register V2" class="w-50"/>
        </div>
        </transition>
        <skp-tahunan-modal ref="SkpModal" :isJft="isJft" :tupoksi="tupoksi" :tahun="select.year"/>
    </div>
</v-app>
</template>

<script>
// import SkpTahunanModal from './SkpTahunanModal.vue'
import moment from 'moment'
import Api from '@axios'
import { when } from '@vueuse/shared'

export default {
    components: {
        // SkpTahunanModal
    },
    data() {
        return {
            datepicker: false,
            year: [],
            select: {
                year: new Date().getFullYear(),
            },
            sideImg: require('@/assets/images/pages/register-v2.svg'),
            lastId: '',
            loading: true,
            fetch: new Form({
                date : moment(new Date()).format('YYYY-MM'),
            })
        }
    },
    computed:{
        tupoksi(){
            return this.$store.state.skp.tupoksi;
        },
        isJft(){
            let placement = this.$store.state.user.userLogin.placement;
            if (placement) {
                let result = placement.filter(x => x.jenisjab == 'JFT')
                return result ? true : false;
            }
        },
        imgUrl() {
            if (this.$store.state.appConfig.layout.skin === 'dark') {
                // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
                return this.sideImg
            }else{
                this.sideImg = require('@/assets/images/pages/register-v2.svg')
                return this.sideImg
            }
        },
    },
    mounted() {
        this.fetchTupoksi();
        this.fetchSkps();
    },
    created() {
        this.countYear()
    },
    methods: {
        selected(id){
            if (this.lastId !== id) {
                var element = document.getElementById('row'+id);
                element.classList.add("table-active");
                if (this.lastId != '') {
                    var element2 = document.getElementById('row'+this.lastId);
                    if (element2) { element2.classList.remove("table-active"); }
                }
                this.lastId = id;
            } else{
                var element3 = document.getElementById('row'+this.lastId);
                if (element3) {
                    element3.classList.remove("table-active");
                    this.lastId = '';
                }
            }
        },
        fetchTupoksi(){
            this.$store.dispatch("skp/getTupoksi")
            .then()
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchSkps(){
            this.loading = true;
            this.$store.dispatch("skp/getSkp", this.select)
            .then(() => this.loading = false )
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        countYear(){
            var from = 2020
            var to = new Date().getFullYear()
            var count = to - from
            for (let i = 0; i < count+1; i++) {
                this.year.push(from++)
            }
        },
        deleteSkp(id){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Skp yang dihapus tidak dapat dikembalikan!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch("skp/deleteSkp", id)
                    .then(()=>{
                        this.$swal({
                            icon: 'success',
                            title: 'Dihapus!',
                            text: 'Skp berhasil dihapus',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch((error)=>{
                        this.$swal({
                            icon: 'error',
                            title: 'Gagal!',
                            text: error.response.data.errors,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    });
                }
            })
        }
    },
    watch:{

    }
}
</script>
