<template>
    <b-modal ref="unitModal" centered no-close-on-backdrop modal-class="modal-primary" @ok="handleOk">
        <template #modal-title>
            <span v-show="!editmode" id="exampleModalCenterTitle">Tambah Unit Baru</span>
            <span v-show="editmode" id="exampleModalCenterTitle">Update Data Unit</span>
        </template>
        <template #default>
        <validation-observer ref="unitValidation">
        <b-form @submit.prevent="submitForm()">
        <v-app class="bg-transparent" dark>
            <b-row>
                <b-col cols="12" class="pb-0">
                    <validation-provider #default="{ errors }" name="Nama Unit" rules="required" >
                    <label for="Nama Unit">Nama Unit</label>
                    <v-text-field v-model="form.nama_unit" outlined dense type="text" hide-details="auto"
                        :error-messages="'nama_unit' in errorData ? errorData.nama_unit : errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col sm="12" md="12" lg="4" cols="12">
                    <validation-provider #default="{ errors }" name="Pelayanan" rules="required" >
                    <label for="Nama Unit">Bagian</label>
                    <v-select v-model="form.bagian" outlined dense required menu-props="auto" hide-details="auto"
                    :items="['Keuangan', 'Tata Usaha', 'Bidang Medik', 'Bidang Keperawatan', 'Instalasi', 'Direksi', 'Komite']"
                    :error-messages="errors"
                    ></v-select>
                    </validation-provider>
                </b-col>
                <b-col sm="12" md="12" lg="4" cols="12">
                    <validation-provider #default="{ errors }" name="Shift" rules="required" >
                    <label for="Nama Unit">Shift</label>
                    <v-select v-model="form.shifting_unit" outlined dense required menu-props="auto" hide-details="auto"
                    :items="['shift', 'non-shift' ]"
                    :error-messages="errors"
                    ></v-select>
                    </validation-provider>
                </b-col>
                <b-col sm="12" md="12" lg="4" cols="12">
                    <validation-provider #default="{ errors }" name="Pelayanan" rules="required" >
                    <label for="Nama Unit">Pelayanan</label>
                    <v-select v-model="form.pelayanan" outlined dense required menu-props="auto" hide-details="auto"
                    :items="pelayanan"
                    :item-value="pelayanan.value" :item-text="pelayanan.text"
                    :error-messages="errors"
                    ></v-select>
                    </validation-provider>
                </b-col>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Batal </b-button>
            <b-button size="sm" variant="danger" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Simpan</b-button>
        </template>
    </b-modal>
</template>

<script>
export default {
    data() {
        return {
            errorData: {},
            pelayanan: [{ value: '1', text:'Ya'}, {value: '0', text:'Tidak'}],
            btnload: false,
            date3: false,
            form: new Form ({
                id:'',
                nama_unit : '',
                bagian : '',
                pelayanan : '',
                shifting_unit : '',
            }),
            editmode: false,
        }
    },
    methods: {
        editModal(row){
            this.editmode = true;
            this.errorData = {},
            this.form.reset();
            this.form.fill(row);
            this.$refs['unitModal'].show()
        },
        addModal(){
            this.editmode = false;
            this.errorData = {},
            this.form.reset();
            this.$refs['unitModal'].show()
        },
        handleOk(event) {
            event.preventDefault()
            this.submitForm()
        },
        submitForm(){
            this.$refs.unitValidation.validate().then(success => {
                if (success && this.editmode) {
                    this.updateUnit();
                }else if( success && !this.editmode){
                    this.createUnit();
                }
            })
        },
        createUnit(){
            this.errorData = {},
            this.$store.dispatch("unit/createUnit", this.form)
            .then(() => {
                this.$refs['unitModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Unit baru berhasil dibuat',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        updateUnit(){
            this.$store.dispatch("unit/updateUnit", this.form)
            .then(() => {
                this.$refs['unitModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Data unit berhasil diperbarui',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        }
    },
}
</script>
