//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #39af21; // Changing primary color
$info: #007bff; // Changing primary color
$dark: #161d31;
