<template >
    <div class="navbar-container d-flex content align-items-center" v-if="userLogin">
        <!-- Nav Menu Toggler -->
        <ul class="nav navbar-nav d-xl-none">
            <li class="nav-item">
                <b-link class="nav-link" @click="toggleVerticalMenuActive" >
                <feather-icon icon="MenuIcon" size="21" />
                </b-link>
            </li>
        </ul>

        <!-- Left Col -->
        <div class="bookmark-wrapper align-items-center flex-grow-1 d-none d-lg-flex">
        </div>

        <dark-Toggler class="d-none d-lg-block"/>
        <v-divider class="mx-2 d-none d-lg-block" vertical :dark="$root.isDark"></v-divider>

        <b-navbar-nav class="nav align-items-center ml-auto">
        <b-nav-item-dropdown right toggle-class="d-flex align-items-center dropdown-user-link" class="dropdown-user" >
            <template #button-content>
                <div class="d-sm-flex d-none user-nav" v-if="userLogin">
                        <h4 class="user-name font-weight-bolder mb5px"> {{ userLogin.nickname}} </h4>
                        <div class="user-status">{{ userLogin.email}}</div>
                </div>
                <b-avatar
                    size="40" variant="light-primary" badge
                    :src="asset('images/avatar/'+userLogin.photo)"
                    class="badge-minimal" badge-variant="success"
                />
            </template>
            <div class="d-sm-none">
                <b-dropdown-item class="align-items-center" disabled v-if="userLogin">
                    <h4 class="user-name font-weight-bolder mb-0"> {{ userLogin.nickname}} </h4>
                    <div class="user-status">{{ userLogin.email}}</div>
                </b-dropdown-item>
            </div>

            <b-dropdown-item link-class="d-flex align-items-center" :to="{ name:'profil' }">
                <feather-icon size="16" icon="UserIcon" class="mr-50" />
                <span>Profile</span>
            </b-dropdown-item>

            <dark-toggler-drop-down class="d-lg-none"/>

            <b-dropdown-item link-class="d-flex align-items-center"
            :to="{ name:'setting' }">
                <feather-icon size="16" icon="SettingsIcon" class="mr-50" />
                <span>Pengaturan</span>
            </b-dropdown-item>

            <!-- <b-dropdown-item link-class="d-flex align-items-center">
                <feather-icon size="16" icon="CheckSquareIcon" class="mr-50" />
                <span>Task</span>
            </b-dropdown-item>

            <b-dropdown-item link-class="d-flex align-items-center">
                <feather-icon size="16" icon="MessageSquareIcon" class="mr-50" />
                <span>Chat</span>
            </b-dropdown-item> -->
            <b-dropdown-divider />
            <b-dropdown-item link-class="d-flex align-items-center" @click="logOut">
                <feather-icon size="16" icon="LogOutIcon" class="mr-50" />
                <span>Logout</span>
            </b-dropdown-item>
        </b-nav-item-dropdown>
        </b-navbar-nav>
    </div>
</template>

<script>
import DarkToggler from '@core/layouts/components/app-navbar/components/DarkToggler.vue'
import DarkTogglerDropDown from '@core/layouts/components/app-navbar/components/DarkTogglerDropDown.vue'

export default {
    components: {
        DarkToggler,
        DarkTogglerDropDown
    },
    props: {
        toggleVerticalMenuActive: {
        type: Function,
        default: () => {},
        },
    },
    computed:{
        userLogin(){
            return this.$store.state.user.userLogin;
        },
    },
    methods: {
        avatarSrc(){
            return this.asset+this.userLogin.photo;
        },
        logOut(){
            axios.post('/logout').then(() =>{
                localStorage.removeItem("userLogin");
                localStorage.removeItem("permission");
                this.$router.push({ name: 'login' })
            });
        },

    },
}
</script>
