<template>
<v-app class="bg-transparent mb-2" dark>
    <div>
        <b-card no-body class="mb-0">
            <div class="m-2">
                <b-row>
                    <b-col class="d-flex align-items-center justify-content-start mb-1 mb-md-0 order-2 order-md-1" >
                        <b-row>
                            <b-col v-if="sTable.filters.nama.active">
                                <b-input-group prepend="Nama Jabatan">
                                <b-form-input  v-model="sTable.filters.nama.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nama.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" md="12" lg="6" v-if="sTable.filters.bagian.active">
                                <b-input-group prepend="Jenis Jabatan">
                                <b-form-input  v-model="sTable.filters.bagian.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.bagian.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col cols="12" lg="auto" md="12" class="d-flex order-1 order-md-2 justify-content-between">
                        <v-menu transition="slide-y-transition" :close-on-content-click="false" bottom >
                                <template v-slot:activator="{ on, attrs }">
                                <v-btn color="primary" class="mr-3" v-bind="attrs" v-on="on" v-b-tooltip.hover.bottom title="Filter" :icon="$vuetify.breakpoint.mdAndUp">
                                <v-icon small>mdi-filter</v-icon>
                                <span v-if="!$vuetify.breakpoint.mdAndUp">Filter</span>
                                </v-btn>
                            </template>
                            <v-list small>
                                <v-list-item v-for="(item, i) in sTable.filters" :key="i">
                                <v-switch inset :label="item.name" v-model="item.active" color="primary" hide-details
                                @change="reset(item)" class="mt-0"></v-switch>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                        <v-btn color="primary" @click.prevent="$refs.jabatanModal.addModal()">
                            <v-icon left>mdi-plus</v-icon>
                            <span class="text-capitalize">Jabatan</span>
                        </v-btn>
                    </b-col>
                </b-row>
            </div>

            <div class="card-body table-responsive table-invoice p-0 mb-0" id="table">
                <!-- style="height: 450px" -->
                <v-table class="wrap table table-hover text-nowrap" id="table"
                :data="positions"
                :currentPage.sync="sTable.currentPage"
                :pageSize="sTable.pagination"
                :filters="sTable.filters"
                @totalItemsChanged="sTable.totalItem = $event"
                @totalPagesChanged="sTable.totalPages = $event">
                <thead slot="head">
                    <tr>
                        <v-th sortKey="jabatan">Nama Jabatan</v-th>
                        <v-th sortKey="jenis_jabatan">Jenis Jabatan</v-th>
                        <v-th sortKey="kategori">Kategori</v-th>
                        <v-th sortKey="shifting">Shifting</v-th>
                        <v-th sortKey="level">level</v-th>
                    </tr>
                </thead>
                <tbody slot="body" slot-scope="{displayData}">
                    <tr role="row" class="b-table-busy-slot" v-if="loading">
                        <td colspan="5" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <span aria-hidden="true" class="align-middle spinner-border"></span>
                                <strong>Loading...</strong>
                            </div>
                        </td>
                    </tr>
                    <tr role="row" class="b-table-busy-slot" v-if="sTable.totalItem === 0 && !loading">
                        <td colspan="5" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <strong>Jabatan tidak ditemukan</strong>
                            </div>
                        </td>
                    </tr>
                    <template v-if="sTable.totalItem !== 0 && !loading">
                    <tr v-for="(row) in displayData" :key="row.id" class="" :id="'row'+row.id">
                        <v-menu transition="slide-y-transition" absolute offset-y >
                        <template v-slot:activator="{ on, attrs }">
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.jabatan}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.level}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.shifting}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.kategori}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.jenis_jabatan}}</td>
                        </template>
                        <v-list>
                            <v-list-item @click.prevent="$refs.jabatanModal.editModal(row)">
                                <v-icon small left>mdi-pencil</v-icon>
                                <v-list-item-title>edit</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click.prevent="deleteUnit(row.id)" v-if="$can('disable', 'pegawai')">
                                <v-icon small left>mdi-delete</v-icon>
                                <v-list-item-title>Hapus</v-list-item-title>
                            </v-list-item>
                        </v-list>
                        </v-menu>
                    </tr>
                    </template>
                </tbody>
                </v-table>
            </div>
            <b-card-footer class="py-4">
                <b-row class="row d-flex justify-content-between">
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-left text-center">
                        <label for="pagination">Show</label>
                        <v-select small v-model="sTable.pagination" :items="[5, 25, 100]"
                            outlined dense class="per-page-selector d-inline-block mx-2" hide-details
                            style="width: 90px"/>
                        <label> from {{ sTable.totalItem }}</label>
                    </b-col>
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-right text-center">
                        <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
                    </b-col>
                </b-row>
            </b-card-footer>
        </b-card>
        <position-modal ref="jabatanModal"></position-modal>
    </div>
</v-app>
</template>

<script>
import PositionModal from './PositionModal.vue'

export default {
    components: {
        PositionModal
    },
    data() {
        return {
            menu: false,
            lastId: '',
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['jabatan'], name: 'Jabatan', active:true },
                    bagian :{ value: '', keys: ['jenis_jabatan'], name: 'Jenis', active:false },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
                selectedRows: []
            },
            loading: Boolean,
        }
    },
    computed:{
        positions(){
            return this.$store.state.position.positions;
        },
    },
    mounted() {
        this.fetchPosition();
    },
    created() {
        this.addSuccess();
    },
    methods: {
        selected(id){
            if (this.lastId !== id) {
                var element = document.getElementById('row'+id);
                element.classList.add("table-active");
                if (this.lastId != '') {
                    var element2 = document.getElementById('row'+this.lastId);
                    if (element2) { element2.classList.remove("table-active"); }
                }
                this.lastId = id;
            } else{
                var element3 = document.getElementById('row'+this.lastId);
                if (element3) {
                    element3.classList.remove("table-active");
                    this.lastId = '';
                }
            }
        },
        reset(item){
            if(item.name !== 'TMT'){
                item.value = ''
            }else{
                item.value.start = null;
                item.value.end = null;
            }
        },
        jabFilter (filterValue, row) {
            if(this.sTable.filters.jabatan.value !== ''){
                return row.penempatan.some(e => e.jabatan.toLowerCase().includes(filterValue.toLowerCase()));
            }else{
                return row;
            }
        },
        unitFilter (filterValue, row) {
            if(this.sTable.filters.unit.value !== ''){
                return row.penempatan.some(e => e.nama_unit.toLowerCase().includes(filterValue.toLowerCase()));
            }else{
                return row;
            }
        },
        dateFilter (filterValue, row) {
            if(this.sTable.filters.tmt.value.start !== null){
                    return row.tmt >= filterValue.start && row.tmt <= filterValue.end
            } else{
                return row;
            }
        },
        fetchPosition(){
            if(this.positions.length == 0){
                this.$store.dispatch("position/getPosition")
                .then( () => this.loading = false )
                .catch(error => {
                    this.loading = false;
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }else{
                this.loading = false
            }
        },
        onFiltered(filteredItems) {
            this.bTable.totalRows = filteredItems.length
            this.bTable.currentPage = 1
        },
        addSuccess(){
            if(this.$route.params.success){
                this.$toast({
                    component: ToastificationContent,
                    props: {
                        title: 'Berhasil',
                        icon: 'CheckCircleIcon',
                        variant: 'success',
                        text: 'pegawai telah ditambahkan',
                    },
                },{ position: 'bottom-right'})
            }
        },
        deleteUnit(id){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Jabatan dihapus tidak dapat dikembalikan!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch("position/deletePosition", id)
                    .then(()=>{
                        this.$swal({
                            icon: 'success',
                            title: 'Dihapus!',
                            text: 'Jabatan berhasil dihapus',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch((error)=>{
                        this.$swal({
                            icon: 'error',
                            title: 'Gagal!',
                            text: error.response.data.errors,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    });
                }
            })
        }
    },
    watch:{

    }
}
</script>
