<template>
    <b-modal ref="positionModal" centered no-close-on-backdrop modal-class="modal-primary" @ok="handleOk" size="lg">
        <template #modal-title>
            <span v-show="!editmode" id="exampleModalCenterTitle">Tambah Jabatan Baru</span>
            <span v-show="editmode" id="exampleModalCenterTitle">Update Data Jabatan</span>
        </template>
        <template #default>
        <validation-observer ref="positionValidation">
        <b-form @submit.prevent="submitForm()">
        <v-app class="bg-transparent" dark>
            <b-row>
                <b-col cols="12" lg="10" class="pb-0">
                    <validation-provider #default="{ errors }" name="Nama Jabatan" rules="required" >
                    <label for="Nama Jabatan">Nama Jabatan</label>
                    <v-text-field v-model="form.jabatan" outlined dense type="text" hide-details="auto"
                        :error-messages="'jabatan' in errorData ? errorData.jabatan : errors">
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="12" lg="2" class="pb-0">
                    <validation-provider #default="{ errors }" name="Level" rules="required" >
                    <label for="Level">Level</label>
                    <v-select v-model="form.level" outlined dense required menu-props="auto" hide-details="auto"
                    :items="[1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 8]"
                    :error-messages="errors"
                    ></v-select>
                    </validation-provider>
                </b-col>
                <b-col sm="12" md="12" lg="4" cols="12">
                    <validation-provider #default="{ errors }" name="Jenis Jabatan" rules="required" >
                    <label for="Jenis Jabatan">Jenis Jabatan</label>
                    <v-select v-model="form.jenis_jabatan" outlined dense required menu-props="auto" hide-details="auto"
                    :items="['Internal', 'Struktural', 'JFU', 'JFT']"
                    :error-messages="errors"
                    ></v-select>
                    </validation-provider>
                </b-col>
                <b-col sm="12" md="12" lg="4" cols="12">
                    <validation-provider #default="{ errors }" name="Kategori" rules="required" >
                    <label for="Kategori">Kategori</label>
                    <v-select v-model="form.kategori" outlined dense required menu-props="auto" hide-details="auto"
                    :items="['Non-Nakes', 'Tenaga Kesehatan' ]"
                    :error-messages="errors"
                    ></v-select>
                    </validation-provider>
                </b-col>
                <b-col sm="12" md="12" lg="4" cols="12">
                    <validation-provider #default="{ errors }" name="Shifting" rules="required" >
                    <label for="Shifting">Shifting</label>
                    <v-select v-model="form.shifting" outlined dense required menu-props="auto" hide-details="auto"
                    :items="['shift', 'non-shift' ]"
                    :item-value="pelayanan.value" :item-text="pelayanan.text"
                    :error-messages="errors"
                    ></v-select>
                    </validation-provider>
                </b-col>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Batal </b-button>
            <b-button size="sm" variant="danger" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Simpan</b-button>
        </template>
    </b-modal>
</template>

<script>
export default {
    data() {
        return {
            errorData: {},
            pelayanan: [{ value: '1', text:'Ya'}, {value: '0', text:'Tidak'}],
            btnload: false,
            date3: false,
            form: new Form ({
                id:'',
                jabatan : '',
                jenis_jabatan : '',
                kategori : '',
                level : '',
                shifting : '',
            }),
            editmode: false,
        }
    },
    methods: {
        editModal(row){
            this.editmode = true;
            this.errorData = {},
            this.form.reset();
            this.form.fill(row);
            this.$refs['positionModal'].show()
        },
        addModal(){
            this.editmode = false;
            this.errorData = {},
            this.form.reset();
            this.$refs['positionModal'].show()
        },
        handleOk(event) {
            event.preventDefault()
            this.submitForm()
        },
        submitForm(){
            this.$refs.positionValidation.validate().then(success => {
                if (success && this.editmode) {
                    this.updatePosition();
                }else if( success && !this.editmode){
                    this.createPosition();
                }
            })
        },
        createPosition(){
            this.errorData = {},
            this.$store.dispatch("position/createPosition", this.form)
            .then(() => {
                this.$refs['positionModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Jabatan baru berhasil dibuat',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        updatePosition(){
            this.$store.dispatch("position/updatePosition", this.form)
            .then(() => {
                this.$refs['positionModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Data jabatan berhasil diperbarui',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        }
    },
}
</script>
