<template>
    <b-modal ref="lapbulModal" centered no-close-on-backdrop modal-class="modal-primary" @ok="handleOk">
        <template #modal-title>
            <span id="exampleModalCenterTitle">Tambah User Laporan Bulanan</span>
        </template>
        <template #default>
        <validation-observer ref="lapbulValidation">
        <b-form @submit.prevent="submitForm()">
        <v-app class="bg-transparent" dark>
            <b-row>
                <b-col sm="12" md="12" lg="12" cols="12">
                    <validation-provider #default="{ errors }" name="Nama Pegawai" rules="required" >
                    <label for="Nama Pegawai">Nama Pegawai</label>
                    <v-autocomplete v-model="form.id" outlined dense required  hide-details="auto"
                        :items="notInList" item-text="fullname" item-value="id" :error-messages="errors"
                    ></v-autocomplete>
                    </validation-provider>
                </b-col>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Batal </b-button>
            <b-button size="sm" variant="danger" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Simpan</b-button>
        </template>
    </b-modal>
</template>

<script>
export default {
    props: {
        notInList: {
            type: Array
        },
    },
    data() {
        return {
            errorData: {},
            pelayanan: [{ value: '1', text:'Ya'}, {value: '0', text:'Tidak'}],
            btnload: false,
            date3: false,
            form: new Form ({
                id:'',
                lapbul: 1,
            }),
        }
    },
    methods: {
        addModal(){
            this.errorData = {},
            this.form.reset();
            this.$refs['lapbulModal'].show()
        },
        handleOk(event) {
            event.preventDefault()
            this.submitForm()
        },
        submitForm(){
            this.$refs.lapbulValidation.validate().then(success => {
                this.addUser();
            })
        },
        addUser(){
            this.errorData = {}
            this.$store.dispatch("user/userLapbul", this.form)
            .then(() => {
                this.$refs['lapbulModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'User baru berhasil ditambahkan',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
    },
}
</script>
