<template>
<v-app class="bg-transparent mb-2" dark>
    <div>
        <b-card no-body class="mb-0">
            <div class="m-2">
                <b-row>
                    <b-col class="d-flex align-items-center justify-content-start mb-1 mb-md-0 order-2 order-md-1" >
                        <b-row>
                            <b-col v-if="sTable.filters.nama.active">
                                <b-input-group prepend="Nama">
                                <b-form-input  v-model="sTable.filters.nama.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nama.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                            <b-col cols="12" md="12" lg="6" v-if="sTable.filters.nip.active">
                                <b-input-group prepend="NIP">
                                <b-form-input  v-model="sTable.filters.nip.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nip.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col cols="12" lg="auto" md="12" class="d-flex order-1 order-md-2 justify-content-between">
                        <v-menu transition="slide-y-transition" :close-on-content-click="false" bottom >
                                <template v-slot:activator="{ on, attrs }">
                                <v-btn color="primary" class="mr-3" v-bind="attrs" v-on="on" v-b-tooltip.hover.bottom title="Filter" :icon="$vuetify.breakpoint.mdAndUp">
                                <v-icon small>mdi-filter</v-icon>
                                <span v-if="!$vuetify.breakpoint.mdAndUp">Filter</span>
                                </v-btn>
                            </template>
                            <v-list small>
                                <v-list-item v-for="(item, i) in sTable.filters" :key="i">
                                <v-switch inset :label="item.name" v-model="item.active" color="primary" hide-details
                                @change="reset(item)" class="mt-0"></v-switch>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                        <v-btn color="primary" @click.prevent="$refs.lapbulModal.addModal()">
                            <v-icon left>mdi-plus</v-icon>
                            <span class="text-capitalize"> User</span>
                        </v-btn>
                    </b-col>
                </b-row>
            </div>

            <div class="card-body table-responsive table-invoice p-0 mb-0" id="table">
                <!-- style="height: 450px" -->
                <v-table class="wrap table table-hover text-nowrap" id="table"
                :data="userList"
                :currentPage.sync="sTable.currentPage"
                :pageSize="sTable.pagination"
                :filters="sTable.filters"
                @totalItemsChanged="sTable.totalItem = $event"
                @totalPagesChanged="sTable.totalPages = $event">
                <thead slot="head">
                    <tr>
                        <v-th sortKey="fullname" class="">Nama</v-th>
                        <v-th sortKey="nip">NIP</v-th>
                        <v-th sortKey="penempatan[0].jabatan">Jabatan</v-th>
                        <v-th sortKey="penempatan[0].nama_unit">Unit</v-th>
                    </tr>
                </thead>
                <tbody slot="body" slot-scope="{displayData}">
                    <tr role="row" class="b-table-busy-slot" v-if="loading">
                        <td colspan="4" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <span aria-hidden="true" class="align-middle spinner-border"></span>
                                <strong>Loading...</strong>
                            </div>
                        </td>
                    </tr>
                    <tr role="row" class="b-table-busy-slot" v-if="sTable.totalItem === 0 && !loading">
                        <td colspan="4" role="cell" class="">
                            <div class="text-center text-primary my-2">
                                <strong>Unit tidak ditemukan</strong>
                            </div>
                        </td>
                    </tr>
                    <template v-if="sTable.totalItem !== 0 && !loading">
                    <tr v-for="(row) in displayData" :key="row.id" class="" :id="'row'+row.id">
                        <v-menu transition="slide-y-transition" absolute offset-y >
                        <template v-slot:activator="{ on, attrs }">
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.fullname}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on" class="text-nowrap py-2"><v-chip small class="mr-1 mb-1" v-for="u in row.penempatan" :key="u.id">{{u.nama_unit}}</v-chip></td>
                                    <td @click="selected(row.id)" v-bind="attrs" v-on="on" class="text-nowrap py-2"><v-chip small class="mr-1 mb-1" v-for="j in row.penempatan" :key="j.id">{{j.jabatan}}</v-chip></td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.nip}}</td>
                        </template>
                        <v-list>
                            <v-list-item @click.prevent="deleteUser(row.id)" v-if="$can('disable', 'pegawai')">
                                <v-icon small left>mdi-delete</v-icon>
                                <v-list-item-title>Hapus</v-list-item-title>
                            </v-list-item>
                        </v-list>
                        </v-menu>
                    </tr>
                    </template>
                </tbody>
                </v-table>
            </div>
            <b-card-footer class="py-4">
                <b-row class="row d-flex justify-content-between">
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-left text-center">
                        <label for="pagination">Show</label>
                        <v-select small v-model="sTable.pagination" :items="[5, 25, 100]"
                            outlined dense class="per-page-selector d-inline-block mx-2" hide-details
                            style="width: 90px"/>
                        <label> from {{ sTable.totalItem }}</label>
                    </b-col>
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-right text-center">
                        <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
                    </b-col>
                </b-row>
            </b-card-footer>
        </b-card>
        <lapbul-modal ref="lapbulModal" :notInList="notInList"></lapbul-modal>
    </div>
</v-app>
</template>

<script>
import LapbulModal from './LapbulModal.vue'

export default {
    components: {
        LapbulModal
    },
    data() {
        return {
            menu: false,
            lastId: '',
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['fullname'], name: 'Nama', active:true },
                    nip :{ value: '', keys: ['nip'], name: 'NIP', active:false },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
                selectedRows: []
            },
            loading: Boolean,
            form: new Form ({
                id:'',
                lapbul: 0,
            }),
        }
    },
    computed:{
        pegawai(){
            return this.$store.state.user.pegawai;
        },
        userList(){
            return this.pegawai.filter( x => x.lapbul == 1 );
        },
        notInList(){
            return this.pegawai.filter( x => x.lapbul == 0 );
        }
    },
    mounted() {
        this.fetchPegawai();
    },
    methods: {
        selected(id){
            if (this.lastId !== id) {
                var element = document.getElementById('row'+id);
                element.classList.add("table-active");
                if (this.lastId != '') {
                    var element2 = document.getElementById('row'+this.lastId);
                    if (element2) { element2.classList.remove("table-active"); }
                }
                this.lastId = id;
            } else{
                var element3 = document.getElementById('row'+this.lastId);
                if (element3) {
                    element3.classList.remove("table-active");
                    this.lastId = '';
                }
            }
        },
        reset(item){
            if(item.name !== 'TMT'){
                item.value = ''
            }else{
                item.value.start = null;
                item.value.end = null;
            }
        },
        fetchPegawai(){
            if(this.pegawai.length == 0){
                this.$store.dispatch("user/getPegawaiAll")
                .then( () => this.loading = false )
                .catch(error => {
                    this.loading = false;
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }else{
                this.loading = false
            }
        },
        onFiltered(filteredItems) {
            this.bTable.totalRows = filteredItems.length
            this.bTable.currentPage = 1
        },
        deleteUser(id){
            this.$swal({
                title: 'Hapus User?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    this.form.id = id;
                    this.$store.dispatch("user/userLapbul", this.form)
                    .then(() => {
                        this.$refs['lapbulModal'].hide();
                        this.btnload = false;
                        this.$swal({
                            icon: 'success',
                            title: 'Berhasil!',
                            text: 'User baru berhasil ditambahkan',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    })
                    .catch(error => {
                        this.btnload = false;
                        this.errorData = error.response.data.errors
                        this.$swal({
                            icon: 'warning',
                            title: 'Gagal!',
                            text: error.response.data.message,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    })
                }
            })
        }
    },
    watch:{

    }
}
</script>
