<template>
    <b-card>
        <validation-observer ref="generalValidation">
        <b-media no-body vertical-align="center">
            <b-media-aside>
                <b-avatar
                    ref="previewEl"
                    rounded
                    :src="preview ? photoPreview.data : asset('images/avatar/'+userData.photo)"
                    :text="avatarText(userData.fullname)"
                    size="100px"
                />
            </b-media-aside>
            <b-media-body class="my-auto">
                <b-button variant="primary" @click="$refs.refInputEl.click()" size="sm"
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'">
                    <validation-provider rules="image" name="foto" ref="provider" >
                    <input ref="refInputEl" type="file" class="d-none" accept="image/*" @input="inputImageRenderer" @change="previewPhoto" >
                    </validation-provider>
                    <span class="">Ubah Foto</span>
                </b-button>
                <span class="text-muted ml-2">Tipe file harus JPG, GIF or PNG.</span>
            </b-media-body>
        </b-media>
        <b-form @submit.prevent="saveGeneral">
        <b-row class="mt-2">
            <b-col sm="6">
                <validation-provider #default="{ errors }" name="Nama Panggilan" rules="required">
                <label>Nama Panggilan</label>
                <v-text-field v-model="form.nickname" outlined dense hide-details="auto"
                :error-messages="errors[0]"/>
                </validation-provider>
            </b-col>
            <b-col sm="6">
                <validation-provider #default="{ errors }" name="Nama Lengkap" rules="required">
                <label>Nama Lengkap</label>
                <v-text-field v-model="form.fullname" outlined dense hide-details="auto" :readonly="!$can('manage', 'all')"
                :error-messages="errors[0]"/>
                </validation-provider>
            </b-col>
            <b-col sm="6">
                <validation-provider #default="{ errors }" name="NIP" rules="required">
                <label>NIP</label>
                <v-text-field v-model="form.nip" outlined dense hide-details="auto" :readonly="!$can('manage', 'all')"
                :error-messages="errors[0]"/>
                </validation-provider>
            </b-col>
            <b-col sm="6">
                <validation-provider #default="{ errors }" name="E-mail" rules="required|email">
                <label>E-mail</label>
                <v-text-field v-model="form.email" outlined dense hide-details="auto"
                :error-messages="'nip' in errorData ? errorData.nip : errors[0]"/>
                </validation-provider>
            </b-col>
            <b-col cols="12">
                <v-btn color="primary" class="text-capitalize" type="submit">Simpan Perubahan</v-btn>
                <v-btn color="secondary" class="text-capitalize" outlined @click="fill">Batal</v-btn>
            </b-col>
        </b-row>
        </b-form>
        </validation-observer>
    </b-card>
</template>

<script>
import Ripple from 'vue-ripple-directive'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import { avatarText } from '@core/utils/filter'
import { ref } from '@vue/composition-api'
import Api from '@axios'

export default {
    components: {
    },
    directives: {
        Ripple,
    },
    props: {
        userData: {
            type: Object,
            required: true,
        },
        photoPreview: {
            type: Object,
        },
    },
    setup(props) {
        const refInputEl = ref(null)
        const previewEl = ref(null)

        const { inputImageRenderer } = useInputImageRenderer(refInputEl, base64 => {
            props.photoPreview.data = base64
        })

        return {
            avatarText,
            refInputEl,
            previewEl,
            inputImageRenderer,
        }
    },
    data() {
        return {
            preview: false,
            form: new Form({
                id: '',
                nickname: '',
                fullname: '',
                email: '',
                nip: null,
                photo: null,
            }),
            errorData:{},
        }
    },
    methods: {
        async previewPhoto(e){
            const { valid, errors } = await this.$refs.provider.validate(e);
            if(valid){
                this.preview = true;
            }else{
                this.preview = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Opps!',
                    text: errors[0],
                })
            }
        },
        removePhoto(){
            this.preview = false;
            this.previewPhoto.data = null;
        },
        saveGeneral(){
            this.errorData = {}
            this.$refs.generalValidation.validate().then(success => {
                if (success) {
                    if(this.photoPreview.data){
                        this.form.photo = this.photoPreview.data
                    }
                    this.$store.dispatch("user/updatePegawai", this.form)
                    .then(() => {
                        this.$swal({
                            icon:'success',
                            title:'Berhasil',
                            text: 'Data Berhasil disimpan',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch( error => {
                        this.errorData = error.response.data.errors
                        this.$swal({
                            icon: 'error',
                            title: 'Failed!',
                            text: error.response.data.message,
                        })
                    })
                }
            })
        },
        fill(){
            this.form.fill(this.userData);
            this.preview = false;
            this.photoPreview.data = null;
        }
    },
    mounted() {
        this.form.fill(this.userData)
    },
    updated() {
        this.form.fill(this.userData)
    },
}
</script>
