<template>
    <b-card>
        <validation-observer ref="passwordValidation">
        <b-form @submit.prevent="savePassword">
        <b-row>
            <b-col md="12">
                <validation-provider #default="{ errors }" name="Password Lama" rules="required|min:6">
                <label>Password Lama</label>
                <v-text-field v-model="form.oldpassword"
                    :append-icon="passwordToggleIconOld" @click:append="togglePasswordOld"
                    :type="passwordFieldTypeOld" dense outlined hide-details="auto"
                    :error-messages="'oldpassword' in errorData ? errorData.oldpassword : errors[0]">
                </v-text-field>
                </validation-provider>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="6">
                <validation-provider #default="{ errors }" name="Password Baru" rules="required|min:6">
                <label>Password Baru</label>
                <v-text-field v-model="form.newpassword"
                    :append-icon="passwordToggleIconNew" @click:append="togglePasswordNew"
                    :type="passwordFieldTypeNew" dense outlined hide-details="auto"
                    :error-messages="'newpassword' in errorData ? errorData.newpassword : errors[0]">
                </v-text-field>
                </validation-provider>
            </b-col>
            <b-col md="6">
                <validation-provider #default="{ errors }" name="Konfirmasi Password" rules="required|min:6">
                <label>Konfirmasi Password Baru</label>
                <v-text-field v-model="form.password_confirmation"
                    :append-icon="passwordToggleIconRetype" @click:append="togglePasswordRetype"
                    :type="passwordFieldTypeRetype" dense outlined hide-details="auto"
                    :error-messages="'password_confirmation' in errorData ? errorData.password_confirmation : errors[0]">
                </v-text-field>
                </validation-provider>
            </b-col>

            <b-col cols="12">
                <v-btn color="primary" class="text-capitalize" type="submit">Simpan Perubahan</v-btn>
                <v-btn color="secondary" class="text-capitalize" outlined>Batal</v-btn>
            </b-col>
        </b-row>
        </b-form>
        </validation-observer>
    </b-card>
</template>

<script>
import Api from '@axios'

export default {
    components: {

    },
    props:{
        userId: {
            type: Number,
        }
    },
    data() {
        return {
            errorData: {},
            passwordFieldTypeOld: 'password',
            passwordFieldTypeNew: 'password',
            passwordFieldTypeRetype: 'password',
            form: new Form({
                id: '',
                oldpassword: '',
                newpassword: '',
                password_confirmation: '',
            })
        }
    },
    computed: {
        passwordToggleIconOld() {
            return this.passwordFieldTypeOld === 'password' ? 'mdi-eye' : 'mdi-eye-off'
        },
        passwordToggleIconNew() {
            return this.passwordFieldTypeNew === 'password' ? 'mdi-eye' : 'mdi-eye-off'
        },
        passwordToggleIconRetype() {
            return this.passwordFieldTypeRetype === 'password' ? 'mdi-eye' : 'mdi-eye-off'
        },
    },
    methods: {
        togglePasswordOld() {
            this.passwordFieldTypeOld = this.passwordFieldTypeOld === 'password' ? 'text' : 'password'
        },
        togglePasswordNew() {
            this.passwordFieldTypeNew = this.passwordFieldTypeNew === 'password' ? 'text' : 'password'
        },
        togglePasswordRetype() {
            this.passwordFieldTypeRetype = this.passwordFieldTypeRetype === 'password' ? 'text' : 'password'
        },
        savePassword(){
            this.errorData = {}
            this.$refs.passwordValidation.validate().then(success => {
                if (success) {
                    this.form.id = this.userId;
                    Api.post('/change-password', this.form)
                    .then(() => {
                        this.$swal({
                            icon:'success',
                            title:'Berhasil',
                            text: 'Data Berhasil disimpan',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch( error => {
                        this.errorData = error.response.data.errors
                        this.$swal({
                            icon: 'error',
                            title: 'Failed!',
                            text: error.response.data.message,
                        })
                    })
                }
            })
        },
    },
}
</script>
