<template>
<v-app class="bg-transparent" dark>
    <b-tabs vertical content-class="col-12 col-md-9 mt-1 mt-md-0"
        pills nav-wrapper-class="col-md-3 col-12" nav-class="nav-left" >

        <b-tab active>
            <template #title>
                <feather-icon icon="UserIcon" size="18" class="mr-50" />
                <span class="font-weight-bold">General</span>
            </template>
            <account-setting-general :userData="userData" :photo-preview="photoPreview"/>
        </b-tab>

        <b-tab>
            <template #title>
                <feather-icon icon="LockIcon" size="18" class="mr-50" />
                <span class="font-weight-bold">Ubah Password</span>
            </template>

            <account-setting-password :userId="userData.id"/>
        </b-tab>

        <b-tab>
            <template #title>
                <feather-icon icon="InfoIcon" size="18" class="mr-50" />
                <span class="font-weight-bold">Biodata</span>
            </template>

            <account-setting-biodata />
        </b-tab>

        <b-tab>
            <template #title>
                <feather-icon icon="MapIcon" size="18" class="mr-50" />
                <span class="font-weight-bold">Alamat</span>
            </template>

            <account-setting-address />
        </b-tab>

        <!-- notification -->
        <b-tab>

        <!-- title -->
        <template #title>
            <feather-icon
            icon="BellIcon"
            size="18"
            class="mr-50"
            />
            <span class="font-weight-bold">Notifications</span>
        </template>

        <!-- <account-setting-notification
            v-if="options.notification"
            :notification-data="options.notification"
        /> -->
        </b-tab>
    </b-tabs>

</v-app>
</template>

<script>
import AccountSettingGeneral from './AccountSettingGeneral.vue'
import AccountSettingPassword from './AccountSettingPassword.vue'
import AccountSettingBiodata from './AccountSettingBiodata.vue'
import AccountSettingAddress from './AccountSettingAddress.vue'
import AccountSettingNotification from './AccountSettingNotification.vue'

export default {
    components: {
        AccountSettingGeneral,
        AccountSettingPassword,
        AccountSettingBiodata,
        AccountSettingAddress,
        AccountSettingNotification,
    },
    data() {
        return {
            photoPreview: {
                data: null
            },
        }
    },
    computed:{
        userData(){
            return this.$store.state.user.userLogin;
        }
    }
}
</script>
