<template>
    <b-card>
        <validation-observer ref="biodataValidation">
        <b-form @submit.prevent="saveBiodata">
            <b-row>
            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="NIK" label-for="nik" >
                    <v-text-field v-model="form.nik" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <validation-provider #default="{ errors }" name="Jenis Kelamin" rules="required" >
                    <b-form-group class="mb-0" label="Jenis Kelamin" label-for="i-gender">
                    <v-select :items="['Laki-laki', 'Perempuan']" v-model="form.gender" outlined dense hide-details="auto"
                            :error-messages="errors[0]"/>
                    </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="Agama" label-for="agama" >
                    <v-select :items="['Islam', 'Katolik', 'Kristen Protestan', 'Hindu', 'Budha', 'Konghucu']"
                        v-model="form.agama" outlined dense hide-details="auto"/>
                </b-form-group>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <validation-provider #default="{ errors }" name="Tempat Lahir" rules="required" >
                    <b-form-group class="mb-0" label="Tempat Lahir" label-for="tpt-lahir" >
                        <v-text-field dense outlined v-model="form.tpt_lahir" hide-details="auto"
                            :error-messages="errors[0]"/>
                    </b-form-group>
                </validation-provider>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <v-menu ref="date1" v-model="date1" :close-on-content-click="false" left transition="slide-y-transition" min-width="290px">
                    <template v-slot:activator="{ on, attrs }">
                        <validation-provider #default="{ errors }" name="Tanggal Lahir" rules="required" >
                        <b-form-group class="mb-0" label="Tanggal Lahir" label-for="i-tanggal-lahir">
                            <v-text-field v-model="form.tgl_lahir" outlined v-bind="attrs" v-on="on" readonly dense hide-details="auto"
                                :error-messages="errors[0]" />
                        </b-form-group>
                        </validation-provider>
                    </template>
                    <v-date-picker :active-picker.sync="activePicker" v-model="form.tgl_lahir" locale="id" @input="date1 = false"></v-date-picker>
                </v-menu>
            </b-col>
            <b-col cols="12" md="6" lg="4" >
                <b-form-group class="mb-0" label="No Handphone" label-for="HP" >
                    <v-text-field v-model="form.hp" outlined dense hide-details="auto" />
                </b-form-group>
            </b-col>
            <b-col cols="12">
                <v-btn color="primary" class="text-capitalize" type="submit">Simpan Perubahan</v-btn>
                <v-btn color="secondary" class="text-capitalize" outlined @click="fill">Batal</v-btn>
            </b-col>
        </b-row>
        </b-form>
        </validation-observer>
    </b-card>
</template>

<script>
import Ripple from 'vue-ripple-directive'
import Api from '@axios'

export default {
    components: {

    },
    directives: {
        Ripple,
    },
    computed:{
        userId(){
            return this.$store.state.user.userLogin.id;
        }
    },
    data() {
        return {
            date1: false,
            activePicker: null,
            originalBio: {},
            form: new Form({
                id: '',
                nik: '',
                gender: '',
                agama: '',
                tpt_lahir: '',
                tgl_lahir: '',
                hp: '',
            })

        }
    },
    methods: {
        fetchBio(){
            if(this.userId !== undefined){
                Api.get('get-biodata/'+this.userId)
                .then(response => {
                    this.originalBio = response.data;
                    this.form.fill(response.data);
                })
                .catch()
            }
        },
        fill(){
            this.form.fill(this.originalBio);
        },
        saveBiodata(){
            this.errorData = {}
            this.$refs.biodataValidation.validate().then(success => {
                if (success) {
                    this.update()
                }
            })
        },
        update(){
            Api.put("biodata/"+this.form.id, this.form)
            .then(() => {
                this.$swal({
                    icon:'success',
                    title:'Berhasil',
                    text: 'Data Berhasil disimpan',
                    showConfirmButton: false,
                    timer: 1500,
                })
            }).catch( error => {
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'error',
                    title: 'Failed!',
                    text: error.response.data.message,
                })
            })
        },
    },
    mounted(){
        this.fetchBio();
    },
    watch:{
        date1(val){
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        },
        userId : 'fetchBio'
    }
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';
</style>
