<template>
    <b-card>
        <validation-observer ref="addressValidation">
        <b-form @submit.prevent="saveAddress">
            <b-row>
                <b-col cols="12" md="6" lg="6" >
                    <label for="Kampung/Komplek">Kampung/Komplek</label>
                    <v-text-field v-model="form.kp" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="12" md="6" lg="6" >
                    <label for="Jalan">Jalan</label>
                    <v-text-field v-model="form.jl" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="12" md="4" lg="2" >
                    <label for="Nomor">Nomor</label>
                    <v-text-field v-model="form.no" type="number" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="6" md="4" lg="2" >
                    <label for="RT">RT</label>
                    <v-text-field v-model="form.rt" type="number" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="6" md="4" lg="2" >
                    <label for="RW">RW</label>
                    <v-text-field v-model="form.rw" type="number" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="12" md="6" lg="6" >
                    <label>Kelurahan</label>
                    <v-text-field v-model="form.kel" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="12" md="6" lg="5" >
                    <label for="">Kecamatan</label>
                    <v-text-field v-model="form.kec" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="12" md="6" lg="5" >
                    <label for="Kota">Kota</label>
                    <v-text-field v-model="form.kota" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="12" md="6" lg="2" >
                    <label for="Kode Pos">Kode Pos</label>
                    <v-text-field v-model="form.pos" type="number" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="12" md="6" lg="6" >
                    <label for="Kabupaten">Kabupaten</label>
                    <v-text-field v-model="form.kab" outlined dense hide-details="auto" />
                </b-col>

                <b-col cols="12" md="6" lg="6" >
                    <label for="Provinsi">Provinsi</label>
                    <v-text-field v-model="form.prov" outlined dense hide-details="auto" />
                </b-col>
                <b-col cols="12">
                    <v-btn color="primary" class="text-capitalize" type="submit">Simpan Perubahan</v-btn>
                    <v-btn color="secondary" class="text-capitalize" outlined @click="fill">Batal</v-btn>
                </b-col>
            </b-row>
        </b-form>
        </validation-observer>
    </b-card>
</template>

<script>
import Api from '@axios'

export default {
    components: {

    },
    computed:{
        userId(){
            return this.$store.state.user.userLogin.id;
        }
    },
    data() {
        return {
            errorData: {},
            originalAddress: {},
            form: new Form ({
                id:'',
                id_user:'',
                kp: '',
                jl: '',
                rt: '',
                rw: '',
                no: '',
                kel: '',
                kec: '',
                kota: '',
                kab: '',
                prov: '',
                pos: '',
            }),
        }
    },
    methods: {
        fetchAddress(){
            if(this.userId !== undefined){
                Api.get('get-address/'+this.userId)
                .then(response => {
                    this.originalAddress = response.data;
                    this.form.fill(response.data);
                })
                .catch()
            }
        },
        fill(){
            this.form.fill(this.originalAddress);
        },
        saveAddress(){
            this.errorData = {}
            this.$refs.addressValidation.validate().then(success => {
                if (success) {
                    if(this.form.id){
                        this.update()
                    }else{
                        this.create()
                    }
                }
            })
        },
        update(){
            Api.put("address/"+this.form.id, this.form)
            .then(() => {
                this.$swal({
                    icon:'success',
                    title:'Berhasil',
                    text: 'Alamat Berhasil disimpan',
                    showConfirmButton: false,
                    timer: 1500,
                })
            }).catch( error => {
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'error',
                    title: 'Failed!',
                    text: error.response.data.message,
                })
            })
        },
        create(){
            this.form.id_user = this.userId
            Api.post("address", this.form)
            .then(() => {
                this.$swal({
                    icon:'success',
                    title:'Berhasil',
                    text: 'Alamat Berhasil disimpan',
                    showConfirmButton: false,
                    timer: 1500,
                })
            }).catch( error => {
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'error',
                    title: 'Failed!',
                    text: error.response.data.message,
                })
            })
        }
    },
    mounted() {
        this.fetchAddress();
    },
    watch:{
        userId : 'fetchAddress'
    }
}
</script>
