<template>
    <b-dropdown-item link-class="d-flex align-items-center" @click="skin = isDark ? 'light' : 'dark', toggleDark()">
          <feather-icon
            size="16"
            :icon="`${isDark ? 'Sun' : 'Moon'}Icon`"
            class="mr-50"
          />
          <span>Change Theme</span>
    </b-dropdown-item>
</template>

<script>
import useAppConfig from '@core/app-config/useAppConfig'
import { computed } from '@vue/composition-api'
import { BNavItem } from 'bootstrap-vue'

export default {
    components: {
        BNavItem,
    },
    data() {
        return {
            testing: null,
        }
    },
    methods: {
        toggleDark(){
            Fire.$emit('changetheme');
        }
    },
    setup() {
        const { skin } = useAppConfig()

        const isDark = computed(() => skin.value === 'dark')

        return { skin, isDark }
    },
    watch: {
        isDark : 'toggleDark',
    }
}
</script>
