<template>
  <div class="text-center">
    <svg
      id="SvgjsSvg1120"
      height="126.8"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:svgjs="http://svgjs.com/svgjs"
      class="apexcharts-svg w-100"
      xmlns:data="ApexChartsNS"
      transform="translate(0, 0)"
      style="background: transparent"
    >
      <g
        id="SvgjsG1121"
        class="apexcharts-inner apexcharts-graphical"
        transform="translate(24, 0)"
      >
        <defs id="SvgjsDefs1120">
          <clipPath id="gridRectMaske5kzmi0vl">
            <rect
              id="SvgjsRect1123"
              width="164"
              height="128"
              x="-2"
              y="0"
              rx="0"
              ry="0"
              opacity="1"
              stroke-width="0"
              stroke="none"
              stroke-dasharray="0"
              fill="#fff"
            ></rect>
          </clipPath>
          <clipPath id="gridRectMarkerMaske5kzmi0vl">
            <rect
              id="SvgjsRect1124"
              width="164"
              height="132"
              x="-2"
              y="-2"
              rx="0"
              ry="0"
              opacity="1"
              stroke-width="0"
              stroke="none"
              stroke-dasharray="0"
              fill="#fff"
            ></rect>
          </clipPath>
        </defs>
        <g id="SvgjsG1125" class="apexcharts-pie">
          <g id="SvgjsG1126" transform="translate(0, 0) scale(1)">
            <circle
              id="SvgjsCircle1127"
              r="37.98536585365854"
              cx="80"
              cy="64"
              fill="transparent"
            ></circle>
            <g id="SvgjsG1128" class="apexcharts-slices">
              <g
                id="SvgjsG1129"
                class="apexcharts-series apexcharts-pie-series"
                seriesName="seriesx1"
                rel="1"
                data:realIndex="0"
              >
                <path
                  id="SvgjsPath1130"
                  d="M 80 5.560975609756092 A 58.43902439024391 58.43902439024391 0 1 1 79.98980046617915 5.56097649983333 L 79.99337030301645 26.014634724891664 A 37.98536585365854 37.98536585365854 0 1 0 80 26.014634146341457 L 80 5.560975609756092 z"
                  fill="#9191912a"
                  fill-opacity="1"
                  stroke-opacity="1"
                  stroke-linecap="butt"
                  stroke-width="0"
                  stroke-dasharray="0"
                  class="apexcharts-pie-area apexcharts-donut-slice-0"
                  index="0"
                  j="0"
                  data:angle="360"
                  data:startAngle="0"
                  data:strokeWidth="0"
                  data:value="100"
                  data:pathOrig="M 80 5.560975609756092 A 58.43902439024391 58.43902439024391 0 1 1 79.98980046617915 5.56097649983333 L 79.99337030301645 26.014634724891664 A 37.98536585365854 37.98536585365854 0 1 0 80 26.014634146341457 L 80 5.560975609756092 z"
                ></path>
              </g>
            </g>
          </g>
        </g>
        <line
          id="SvgjsLine1131"
          x1="0"
          y1="0"
          x2="160"
          y2="0"
          stroke="#b6b6b6"
          stroke-dasharray="0"
          stroke-width="1"
          class="apexcharts-ycrosshairs"
        ></line>
        <line
          id="SvgjsLine1132"
          x1="0"
          y1="0"
          x2="160"
          y2="0"
          stroke-dasharray="0"
          stroke-width="0"
          class="apexcharts-ycrosshairs-hidden"
        ></line>
      </g>
      <g id="SvgjsG1122" class="apexcharts-annotations"></g>
    </svg>
  </div>
</template>
