<template>
<v-app class="bg-transparent" dark>
  <!-- <div>
    <b-card title="Kick start your project 🚀">
      <b-card-text>All the best for your new project.</b-card-text>
      <b-card-text>Please make sure to read our <b-link
        href="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/documentation/"
        target="_blank"
      >
        Template Documentation
      </b-link> to understand where to go from here and how to use our template.</b-card-text>
    </b-card>
  </div> -->
    <b-row class="match-height">
        <b-col cols="12" lg="4">
            <card-medal :data="userLogin" />
        </b-col>
        <b-col cols="12" lg="3">
            <b-card class="mb-1 mb-md-5">
                <h4>Quotes</h4>
                <v-carousel
                    cycle
                    height="80"
                    :show-arrows="false"
                    hide-delimiter-background
                    :vertical="true"
                    delimiter-icon=""
                    hide-delimiters
                >
                    <v-carousel-item v-for="(q, index) in quotes" :key="index">
                        <v-row align="center" justify="center" >
                        <v-col>
                            <small> <i> {{ q }} </i> </small>
                        </v-col>
                        </v-row>
                    </v-carousel-item>
                </v-carousel>
            </b-card>
        </b-col>
        <b-col cols="12" lg="5">
            <activity-statistics :tahun="form.year" :statistic="statistic" :wait="wait" v-on:changeYear="updateForm"  />
        </b-col>
    </b-row>
    <b-row class="match-height">
        <b-col lg="4">
            <birthday :birthday="birthday" />
            <!-- <card-analytic-goal-overview /> -->
        </b-col>
        <b-col lg="8">
            <card-monthly-activity :tahun="form.year" :statistic="statistic" :wait="wait" v-on:changeYear="updateForm" />
        </b-col>
    </b-row>
    <template v-if="$can('read', 'pejabat')">
    <b-row class="match-height">
        <b-col lg="8">
            <employee-task :data="userAssesments" :loadingUser="loadingUser" />
        </b-col>

        <b-col lg="4">
            <!-- <card-medal :data="userLogin" /> -->
            <!-- <assesment-chart title="Kegiatan" :totalWait="totalWait" :totalChecked="totalChecked" :percent="percent"/> -->
            <assesment-chart
                title="Kegiatan"
                :loadingUser="loadingUser"
                :totalWait="totalWait"
                :totalAccept="totalAccept"
                :totalDenied="totalDenied"
                :totalAll="totalAll"
                :percentAccept="percentAccept"
                :percentDenied="percentDenied"
            />
            <div class="mb-2"></div>
            <behavior-chart
                title="Perilaku"
                :loadingUser="loadingUser"
                :totalPegawai="userAssesments.length"
                :totalWaitBehavior="totalWaitBehavior"
                :persenBaik="persenBaik"
                :persenBuruk="persenBuruk"
                :persenCukup="persenCukup"
                :persenSangatBaik="persenSangatBaik"
                :persenSedang="persenSedang"
            />
        </b-col>
    </b-row>
    </template>
</v-app>
</template>

<script>
import BCardActions from '@core/components/b-card-actions/BCardActions.vue'
import CardMonthlyActivity from './card/CardMonthlyActivity.vue'
import CardAnalyticGoalOverview from './card/CardAnalyticGoalOverview.vue'
import Birthday from './card/Birthday.vue'
import CardMedal from './card/CardMedal.vue'
import EmployeeTask from './card/EmployeeTask.vue'
import AssesmentChart from './card/AssesmentChart.vue'
import BehaviorChart from './card/BehaviorChart.vue'
import ActivityStatistics from './card/ActivityStatistics.vue'
import StatisticCardVertical from './card/StatisticCardVertical.vue'
import StatisticCardHorizontal from '@core/components/statistics-cards/StatisticCardHorizontal.vue'
import store from '@/store'
import moment from 'moment'
import Api from '@axios'

export default {
    components: {
        CardMonthlyActivity,
        CardAnalyticGoalOverview,
        StatisticCardHorizontal,
        StatisticCardVertical,
        Birthday,
        CardMedal,
        BCardActions,
        ActivityStatistics,
        EmployeeTask,
        AssesmentChart,
        BehaviorChart,
    },
    computed:{
        userLogin(){
            return this.$store.state.user.userLogin;
        },
        userAssesments(){
            return this.$store.state.user.userAssesments
        },
        totalWait(){
            let waiting = this.userAssesments.map( x => x.wait)
            return waiting.reduce((a, b) => a + b, 0)
        },
        totalAccept(){
            let accept = this.userAssesments.map( x => x.accept)
            return accept.reduce((a, b) => a + b, 0)
        },
        totalDenied(){
            let denied = this.userAssesments.map( x => x.denied)
            return denied.reduce((a, b) => a + b, 0)
        },
        totalAll(){
            return this.totalWait + this.totalAccept +  this.totalDenied;
        },
        totalWaitBehavior(){
            let behavior = this.userAssesments.filter( x => x.behavior == null)
            return behavior.length
        },
        countBehavior(){
            return this.userAssesments.filter( x => x.behavior != null)
        },
        countSangatBaik(){
            let nilai = this.countBehavior.filter( x => x.behavior.average > 90 && x.behavior.average != null);
            return nilai.length
        },
        countBaik(){
            let nilai = this.countBehavior.filter( x => x.behavior.average > 75 && x.behavior.average <= 90 && x.behavior.average != null);
            return nilai.length
        },
        countCukup(){
            let nilai = this.countBehavior.filter( x => x.behavior.average > 60 && x.behavior.average <= 75 && x.behavior.average != null);
            return nilai.length
        },
        countSedang(){
            let nilai = this.countBehavior.filter( x => x.behavior.average > 50 && x.behavior.average <= 60 && x.behavior.average != null);
            return nilai.length
        },
        countBuruk(){
            let nilai = this.countBehavior.filter( x => x.behavior.average <= 50 && x.behavior.average != null);
            return nilai.length
        },
        totalKriteria(){
            return this.countSangatBaik + this.countBaik + this.countCukup + this.countSedang +  this.countBuruk;
        },
        percentAccept(){
            if (this.totalAccept != 0  && this.totalAll != 0) {
                let percent = this.totalAccept / this.totalAll * 100
                return Math.round(percent)
            }else{
                return 0
            }
        },
        percentDenied(){
            if (this.totalDenied != 0  && this.totalAll != 0) {
                let percent = this.totalDenied / this.totalAll * 100
                return Math.round(percent)
            }else{
                return 0
            }
        },
        persenSangatBaik(){
            if (this.countSangatBaik != 0 && this.totalKriteria != 0) {
                let percent = this.countSangatBaik / this.totalKriteria * 100
                return Math.round(percent * 100 ) / 100
            }else {
                return 0
            }
        },
        persenBaik(){
            if (this.countBaik != 0 && this.totalKriteria != 0) {
                let percent = this.countBaik / this.totalKriteria * 100
                return Math.round(percent * 100 ) / 100
            }else{
                return 0
            }
        },
        persenCukup(){
            if (this.countCukup != 0 && this.totalKriteria != 0) {
                let percent = this.countCukup / this.totalKriteria * 100
                return Math.round(percent * 100 ) / 100
            }else{
                return 0
            }
        },
        persenSedang(){
            if (this.countSedang != 0 && this.totalKriteria != 0) {
                let percent = this.countSedang / this.totalKriteria * 100
                return Math.round(percent * 100 ) / 100
            }else{
                return 0
            }
        },
        persenBuruk(){
            if (this.countBuruk != 0 && this.totalKriteria != 0) {
                let percent = this.countBuruk / this.totalKriteria * 100
                return Math.round(percent * 100 ) / 100
            }else{
                return 0
            }
        },

    },
    data() {
        return {
            loading: false,
            loadingUser: true,
            penilaian: null,
            wait: true,
            birthday: null,
            statistic: {},
            form : new Form ({
                year: moment(new Date()).format('YYYY')
            }),
            quotes: null,
        }
    },
    methods: {
        getStatistic(){
            this.wait = true;
            Api.post('dashboard/statistic', this.form)
            .then( response => {
                this.statistic = response.data;
                this.wait = false;
            })
        },
        getBirthday(){
            Api.get('dashboard/birthday')
            .then( response => {
                this.birthday = response.data;
            })
        },
        updateForm(data){
            this.form.year = data;
        },
        refreshData(){
            this.loadingUser = true;
            this.getStatistic();
            this.getUserAssesment();
        },
        getUserAssesment(){
            this.$store.dispatch("user/getUserAssesment", this.form)
            .then( () => {
                this.loadingUser = false
            })
            .catch(error => {
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
    },
    created() {
        this.getBirthday();
        this.getStatistic();
        this.getUserAssesment();
    },
    async mounted() {
        await import("./quotes.json")
        .then(({default: json}) => {
            this.quotes = json;
        });;
    },
    watch: {
        'form.year' : 'refreshData'
    }
}
</script>
