<template>
<div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">

    <!-- Brand logo-->
    <b-link class="brand-logo">
        <vuexy-logo />
        <h2 class="brand-text text-primary ml-1"> SIKAP</h2>
    </b-link>
    <!-- /Brand logo-->

    <!-- Left Text-->
    <b-col lg="8" class="d-none d-lg-flex align-items-center p-5" >
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <b-img fluid :src="imgUrl" alt="Login V2" />
        </div>
    </b-col>
    <!-- /Left Text-->

    <!-- Login-->
    <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5" >
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
            <div class="text-lg-left text-center">
                <b-card-title title-tag="h2" class="font-weight-bold mb-1" >
                    Welcome to SIKAP v2! 👋
                </b-card-title>
                <br>
                <b-card-text class="mb-1">
                    Sistem Informasi Kinerja Pegawai <b>RSUD Cibinong</b>
                </b-card-text>
                <b-card-text class="mb-2">
                    Silahkan login untuk melanjutkan
                </b-card-text>
            </div>

            <!-- form -->
            <validation-observer ref="loginValidation">
                <b-form class="auth-login-form mt-2" @submit.prevent >
                    <!-- email -->
                    <label for="login-email">NIP / E-mail</label>
                    <b-form-group >
                        <validation-provider #default="{ errors }" name="Email" rules="required" >
                        <b-form-input id="login-email" v-model="login.email" :state="errors.length > 0 ? false:null" name="login-email" placeholder="nama@rsudcibinong.com" />
                        <small class="text-danger">{{ errors[0] }}</small>
                        </validation-provider>
                    </b-form-group>

                    <!-- forgot password -->
                    <b-form-group>
                        <div class="d-flex justify-content-between">
                        <label for="login-password">Password</label>
                        <!-- <b-link :to="{name:'auth-forgot-password-v2'}">
                            <small>Forgot Password?</small>
                        </b-link> -->
                        </div>
                        <validation-provider #default="{ errors }" name="Password" rules="required" >
                        <b-input-group class="input-group-merge" :class="errors.length > 0 ? 'is-invalid':null" >
                            <b-form-input
                            id="login-password"
                            v-model="login.password"
                            :state="errors.length > 0 ? false:null"
                            class="form-control-merge"
                            :type="passwordFieldType"
                            name="login-password"
                            placeholder="············"
                            />
                            <b-input-group-append is-text>
                            <feather-icon class="cursor-pointer" :icon="passwordToggleIcon" @click="togglePasswordVisibility" />
                            </b-input-group-append>
                        </b-input-group>
                        <small class="text-danger">{{ errors[0] }}</small>
                        </validation-provider>
                    </b-form-group>

                    <!-- checkbox -->
                    <b-form-group>
                        <b-form-checkbox id="remember-me" v-model="login.remember" name="checkbox-1" >
                        Remember Me
                        </b-form-checkbox>
                    </b-form-group>

                    <!-- submit buttons -->
                    <b-button v-ripple.400="'rgba(255, 255, 255, 0.15)'" type="submit"
                        variant="primary" block @click="validationForm"
                    >
                        Sign in
                    </b-button>
                </b-form>
            </validation-observer>

            <b-card-text class="text-center mt-2">
                <span>New on our platform? </span>
                <b-link :to="{name:'page-auth-register-v2'}">
                <span>&nbsp;Create an account</span>
                </b-link>
            </b-card-text>

            <!-- divider -->
            <div class="divider my-2">
                <div class="divider-text">
                or
                </div>
            </div>

            <!-- social buttons -->
            <div class="auth-footer-btn d-flex justify-content-center">
                <b-button variant="facebook" href="javascript:void(0)" >
                    <feather-icon icon="FacebookIcon" />
                </b-button>
                <b-button variant="twitter" href="javascript:void(0)" >
                    <feather-icon icon="TwitterIcon" />
                </b-button>
                <b-button variant="google" href="javascript:void(0)" >
                    <feather-icon icon="MailIcon" />
                </b-button>
                <b-button variant="github" href="javascript:void(0)" >
                    <feather-icon icon="GithubIcon" />
                </b-button>
            </div>
        </b-col>
    </b-col>
    <!-- /Login-->
    </b-row>
</div>
</template>

<script>
/* eslint-disable global-require */
import Api from "@axios"
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import VuexyLogo from '@core/layouts/components/Logo.vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import store from '@/store/index'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
    components: {
        VuexyLogo,
        ValidationProvider,
        ValidationObserver,
    },
    mixins: [togglePasswordVisibility],
    data() {
        return {
        login : {
            remember: '',
            email: '',
            password: '',
        },
        url: '',
        sideImg: require('@/assets/images/pages/login-v2.svg'),
        // validation rulesimport store from '@/store/index'
        required,
        email,
        }
    },
    computed: {
        passwordToggleIcon() {
            return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
        },
        imgUrl() {
        if (store.state.appConfig.layout.skin === 'dark') {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.sideImg = require('@/assets/images/pages/login-v2-dark.svg')
            return this.sideImg
        }
        return this.sideImg
        },
    },
    created() {
        this.getCookie();
        Api.get('intended').then((data) => { this.url = data.data }).catch(() =>{
            this.tryAgain();
        });
    },
    methods: {
        tryAgain(){
            Api.get('intended').then((data) => { this.url = data.data })
        },
        getCookie(){
            // Api.get('/csrf-cookie');
        },
        validationForm() {
            this.$refs.loginValidation.validate().then(success => {
                if (success) {
                    axios.post('/login', this.login)
                    .then(response => {
                        localStorage.setItem('token', JSON.stringify(response.data));
                        this.$store.dispatch("user/getUserLogin")
                        .then(()=> {
                            window.location.href = this.url;
                        }).catch( error => {
                            this.$swal({
                                icon: 'warning',
                                title: 'Gagal!',
                                text: error.response.data.message,
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        })
                    })
                    .catch((error) =>{
                        this.$toast({
                            component: ToastificationContent,
                            props: {
                                title: error.response.data.message,
                                icon: 'AlertCircleIcon',
                                variant: 'danger',
                            },
                        });
                    })
                }
            })
        },
    },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';
</style>
