<template>
<v-app class="bg-transparent mb-2" dark>
    <div style="min-height: 420px">
        <b-card >
            <b-row>
                <b-col lg="4" md="4" sm="6" class="d-flex d-inline align-items-center">
                    <div class="mr-2 text-nowrap">Tahun SKP :</div>
                    <v-select v-model="select.year" return-object :items="year"
                        outlined dense hide-details="auto"
                        @change="fetchSkps()" :disabled="loading" >
                        <template slot="append" v-if="loading">
                            <v-progress-circular indeterminate color="primary" :size="23"></v-progress-circular>
                        </template>
                    </v-select>
                </b-col>
                <b-col class="text-right">
                    <v-btn color="primary" class="text-capitalize" text :disabled="skps.length == 0">
                        <v-icon left>mdi-file-excel</v-icon> Export
                    </v-btn>
                    <v-btn color="primary" class="text-capitalize" @click="printer" :disabled="skps.length == 0">
                        <v-icon left>mdi-printer</v-icon> Print
                    </v-btn>
                    <!-- <b-button @click.prevent="printJs"> print</b-button> -->
                </b-col>
            </b-row>
        </b-card>

        <transition name="success">
        <b-card no-body class="mb-0" v-if="skps.length !== 0 && !loading">
            <div id="section-to-print">
                <template v-if="printOnly">
                    <h2 class="text-center" style="margin-bottom: 2rem">Penilaian Sasaran Kinerja Pegawai</h2>
                    <p>Jangka waktu penilaian 1 Januari {{ select.year }} s/d 31 Desember {{ select.year }}</p>
                </template>
                <div class="card-body table-responsive p-0 mb-0 rounded-top">
                    <!-- style="height: 450px" -->
                    <v-table class="wrap table table-hover table-bordered" id="table"
                    :data="skps"
                    :currentPage.sync="sTable.currentPage"
                    :pageSize="sTable.pagination"
                    :filters="sTable.filters"
                    @totalItemsChanged="sTable.totalItem = $event"
                    @totalPagesChanged="sTable.totalPages = $event">
                    <thead slot="head" class="text-nowrap">
                        <tr>
                            <v-th sortKey="tupoksi.butir_kegiatan" rowspan="2" class="v-center">Kegiatan Tugas Jabatan</v-th>
                            <v-th sortKey="tupoksi.angka_kredit" rowspan="2" class="v-center" v-if="isJft">AK</v-th>
                            <th colspan="4" class="text-center">Target</th>
                            <v-th sortKey="tupoksi.angka_kredit" rowspan="2" class="v-center" v-if="isJft">AK</v-th>
                            <th colspan="4" class="text-center">Realisasi</th>
                            <v-th sortKey="tupoksi.angka_kredit" rowspan="2" class="v-center">Penghitungan</v-th>
                            <v-th sortKey="tupoksi.angka_kredit" rowspan="2" class="v-center">Nilai Capaian</v-th>
                        </tr>
                        <tr>
                            <v-th sortKey="t_qty">Kuant/Output</v-th>
                            <v-th sortKey="t_mutu">Kual/Mutu</v-th>
                            <v-th sortKey="t_waktu">Waktu</v-th>
                            <v-th sortKey="t_biaya">Biaya</v-th>
                            <v-th sortKey="t_qty">Kuant/Output</v-th>
                            <v-th sortKey="t_mutu">Kual/Mutu</v-th>
                            <v-th sortKey="t_waktu">Waktu</v-th>
                            <v-th sortKey="t_biaya">Biaya</v-th>
                        </tr>
                    </thead>
                    <tbody slot="body" slot-scope="{displayData}">
                        <tr role="row" class="b-table-busy-slot" v-if="loading">
                            <td colspan="6" role="cell">
                                <div class="text-center text-primary my-2">
                                    <span aria-hidden="true" class="align-middle spinner-border"></span>
                                    <strong>Loading...</strong>
                                </div>
                            </td>
                        </tr>
                        <tr role="row" class="b-table-busy-slot" v-if="sTable.totalItem === 0 && !loading">
                            <td colspan="6" role="cell">
                                <div class="text-center text-primary my-2">
                                    <strong v-if="sTable.filters.nama.value == ''">Tupoksi belum ditentukan</strong>
                                    <strong v-else>Tupoksi tidak ditemukan</strong>
                                </div>
                            </td>
                        </tr>
                        <template v-if="sTable.totalItem !== 0 && !loading">
                        <tr v-for="(row) in displayData" :key="row.id" class="" :id="'row'+row.id">
                            <td style="width: 400px">
                                {{row.tupoksi.butir_kegiatan}}
                            </td>
                            <td v-show="isJft">{{row.tupoksi.angka_kredit * row.t_qty}}</td>
                            <td>{{row.t_qty}} {{row.tupoksi.satuan_hasil}}</td>
                            <td>100</td>
                            <td>{{row.t_waktu}} <span v-if="row.t_waktu">bulan</span></td>
                            <td v-if="row.t_biaya" class="text-nowrap">{{row.t_biaya | currency}}</td>
                            <td v-if="!row.t_biaya">-</td>
                            <td v-show="isJft">{{row.tupoksi.angka_kredit * row.r_qty}}</td>
                            <td>{{row.r_qty}} {{row.tupoksi.satuan_hasil}}</td>
                            <td>{{row.r_mutu}}</td>
                            <td>{{row.r_waktu}} <span v-if="row.r_waktu">bulan</span></td>
                            <td v-if="row.r_biaya" class="text-nowrap">{{row.r_biaya | currency}}</td>
                            <td v-if="!row.r_biaya">-</td>
                            <td>{{ row.penghitungan }}</td>
                            <td>{{ row.capaian }}</td>
                            <!-- <td>{{ penghitungan(row).hasil }}</td>
                            <td>{{ penghitungan(row).nilai }}</td> -->
                        </tr>
                        <tr>
                            <td colspan="12" rowspan="2" class="text-center">Nilai Capaian Kinerja</td>
                            <td>{{ average }}</td>
                        </tr>
                        <tr>
                            <td>{{ kinerja }}</td>
                        </tr>
                        </template>
                    </tbody>
                    </v-table>
                </div>
                <template v-if="printOnly">
                    <div class="float-right mr-5 pr-5">
                    <div class="text-center" style="margin: 2rem 0rem">
                        Cibinong, 31 Desember {{select.year}}
                        <p style="margin-bottom: 4rem">Pejabat Penilai</p>

                        <b>{{ atasan.penilai.user.fullname}}</b>
                        <p>{{ atasan.penilai.user.nip }}</p>
                    </div>
                    </div>
                </template>
            </div>
            <b-card-footer class="py-4">
                <b-row class="row d-flex justify-content-between">
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-left text-center">
                        <label for="pagination">Show</label>
                        <v-select small v-model="sTable.pagination" :items="[5, 25, 100]"
                            outlined dense class="per-page-selector d-inline-block mx-2" hide-details
                            style="width: 90px"/>
                        <label> from {{ sTable.totalItem }}</label>
                    </b-col>
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-right text-center">
                        <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
                    </b-col>
                </b-row>
            </b-card-footer>
        </b-card>
        </transition>
        <transition name="success">
        <div class="text-center" v-if="skps.length == 0 && !loading">
          <b-img fluid :src="imgUrl" alt="Register V2" class="w-50"/>
        </div>
        </transition>
        </div>
        <skp-tahunan-modal ref="SkpModal" :isJft="isJft" :tupoksi="tupoksi" :tahun="select.year"/>
</v-app>
</template>

<script>
import SkpTahunanModal from './SkpTahunanModal.vue'
import Api from '@axios'

export default {
    components: {
        SkpTahunanModal,
    },
    data() {
        return {
            printOnly: false,
            year: [],
            select: {
                year: new Date().getFullYear(),
            },
            sideImg: require('@/assets/images/pages/register-v2.svg'),
            lastId: '',
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['butir_kegiatan'], active:true },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
                selectedRows: []
            },
            loading: true,
        }
    },
    computed:{
        atasan(){
            return this.$store.state.user.atasan;
        },
        tupoksi(){
            return this.$store.state.skp.tupoksi;
        },
        skps(){
            return this.$store.state.skp.skps;
        },
        isJft(){
            let placement = this.$store.state.user.userLogin.placement;
            if (placement) {
                let result = placement.filter(x => x.jenisjab == 'JFT')
                return result ? true : false;
            }
        },
        average(){
            let capaian = this.skps.map( x => x.capaian);
            let pembagi = this.skps.filter( x => x.capaian != null);
            let jumlah = capaian.reduce((a, b) => a + b, 0);
            return Math.round((jumlah / pembagi.length) * 100 ) / 100
        },
        kinerja(){
            if(this.average < 50){
                return 'Buruk'
            }else if (this.average > 50 && this.average <= 60){
                return 'Sedang'
            }else if (this.average > 60 && this.average <= 75){
                return 'Cukup'
            }else if (this.average > 75 && this.average <= 90){
                return 'Baik'
            }else if (this.average > 90){
                return 'Sangat Baik'
            }
        },
        imgUrl() {
            if (this.$store.state.appConfig.layout.skin === 'dark') {
                // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
                return this.sideImg
            }else{
                this.sideImg = require('@/assets/images/pages/register-v2.svg')
                return this.sideImg
            }
        },
    },
    methods: {

        penghitungan(d){
            const t_mutu = 100
            let Pwaktu = 100 - (d.r_waktu / d.t_waktu * 100 );
            let Pbiaya = d.t_biaya ? 100 - (d.r_biaya / d.t_biaya * 100 ) : null ;
            let Pqty = (d.r_qty / d.t_qty) * 100;
            let Pmutu = (d.r_mutu / t_mutu) * 100;
            let Waktu;
            let Biaya;

            if( Pwaktu > 24) {
                Waktu = 76 - ((((1.76 * d.t_waktu - d.r_waktu) / d.t_waktu ) * 100 ) - 100);
            } else {
                Waktu = ((1.76 * d.t_waktu - d.r_waktu ) / d.t_waktu ) * 100;
            }

            if( Pbiaya > 24 && Pbiaya) {
                Biaya = 76 - ((((1.76 * d.t_biaya - d.r_biaya ) / d.t_biaya ) * 100) - 100);
            } else if(Pbiaya < 24 && Pbiaya) {
                Biaya = ((1.76 * d.t_biaya - d.r_biaya ) / d.t_biaya ) * 100;
            } else {
                Biaya = 0;
            }

            let hasil = Pqty + Pmutu + Biaya + Waktu;
            let bagi = d.r_biaya ? 4 : 3 ;
            let nilai = hasil / bagi;
            return { hasil: hasil, nilai: nilai}
        },
        printer(){
            const options = {
                name: '_blank',
                specs: [
                    'fullscreen=yes',
                    // 'titlebar=yes',
                    // 'scrollbars=yes'
                ],
                styles: [
                    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                    'http://10.122.131.32:8080/css/app.css',
                    './print.css',
                    'https://unpkg.com/kidlat-css/css/kidlat.css'
                ],
                timeout: 1000, // default timeout before the print window appears
                autoClose: true, // if false, the window will not close after printing
                windowTitle: window.document.title, // override the window title
            }
            this.printOnly = true;
            this.$nextTick(()=> {
                this.$htmlToPaper('section-to-print', options, () => {
                    this.printOnly = false;
                });
            })
        },
        selected(id){
            if (this.lastId !== id) {
                var element = document.getElementById('row'+id);
                element.classList.add("table-active");
                if (this.lastId != '') {
                    var element2 = document.getElementById('row'+this.lastId);
                    if (element2) { element2.classList.remove("table-active"); }
                }
                this.lastId = id;
            } else{
                var element3 = document.getElementById('row'+this.lastId);
                if (element3) {
                    element3.classList.remove("table-active");
                    this.lastId = '';
                }
            }
        },
        reset(item){
            if(item.name !== 'TMT'){
                item.value = ''
            }else{
                item.value.start = null;
                item.value.end = null;
            }
        },
        fetchTupoksi(){
            this.$store.dispatch("skp/getTupoksi")
            .then()
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchSkps(){
            this.loading = true;
            this.$store.dispatch("skp/getSkp", this.select)
            .then(() => this.loading = false )
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        countYear(){
            var from = 2020
            var to = new Date().getFullYear()
            var count = to - from
            for (let i = 0; i < count+1; i++) {
                this.year.push(from++)
            }
        },
        deleteSkp(id){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Skp yang dihapus tidak dapat dikembalikan!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch("skp/deleteSkp", id)
                    .then(()=>{
                        this.$swal({
                            icon: 'success',
                            title: 'Dihapus!',
                            text: 'Skp berhasil dihapus',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch((error)=>{
                        this.$swal({
                            icon: 'error',
                            title: 'Gagal!',
                            text: error.response.data.errors,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    });
                }
            })
        }
    },
    mounted() {
        this.fetchTupoksi();
        this.fetchSkps();
    },
    created() {
        this.countYear()
    },
    watch:{

    }
}
</script>
