<template>
<v-app class="bg-transparent mb-2" dark>
    <div style="min-height: 420px">
        <b-card class="mb-0">
            <b-row>
                <b-col lg="2" md="4" sm="4" class="d-flex d-inline align-items-center">
                    <v-select v-model="select.year" :items="year" label="Tahun"
                        outlined dense hide-details="auto"
                        @change="fetchPrestasi()" :disabled="loading" >
                    </v-select>
                </b-col>
                <b-col lg="6" md="8" sm="8" class="d-flex d-inline align-items-center">
                    <v-autocomplete v-model="select.id_user" :items="pegawai" label="Pegawai" item-value="id" item-text="fullname"
                        outlined dense hide-details="auto" id="pilih-pegawai" @click="tooltip = false"
                        @change="fetchPrestasi()" :disabled="loading" >
                    </v-autocomplete>
                    <b-tooltip :show="tooltip" :disabled="!tooltip" target="pilih-pegawai" placement="bottom" variant="primary">
                        pilih pegawai terlebih dahulu
                    </b-tooltip>
                </b-col>
                <b-col class="text-right">
                    <v-btn color="primary" class="text-capitalize" text :disabled="prestasi.length == 0">
                        <v-icon left>mdi-file-excel</v-icon> Export
                    </v-btn>
                    <v-btn color="primary" class="text-capitalize" @click="printer" :disabled="prestasi.length == 0">
                        <v-icon left>mdi-printer</v-icon> Print
                    </v-btn>
                </b-col>
            </b-row>
        </b-card>
        <div v-if="loading">
            <v-progress-linear :size="80" :width="50" indeterminate color="primary" rounded />
        </div>
        <br>
        <transition name="success">
        <b-card no-body v-if="prestasi.length !== 0 && !loading" class="mt-1 table-responsive" id="section-to-print">
            <template v-if="printOnly">
                <h2 class="text-center" style="margin-bottom: 2rem">PENILAIAN PRESTASI KERJA PEGAWAI RSUD CIBINONG</h2>
                <p>Jangka waktu penilaian 1 Januari {{ select.year }} s/d 31 Desember {{ select.year }}</p>
            </template>
            <table class="wrap table table-bordered prestasi">
                <thead slot="head" class="text-nowrap">
                    <tr>
                        <th colspan="6">1. PEGAWAI YANG DINILAI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nama</td>
                        <td colspan="5">{{ selectedPegawai.fullname }}</td>
                    </tr>
                    <tr>
                        <td>NIP</td>
                        <td colspan="5">{{ selectedPegawai.nip }}</td>
                    </tr>
                    <tr>
                        <td>Pangkat/Gol</td>
                        <td colspan="5">
                            <span v-if="selectedPegawai.gol"> {{ selectedPegawai.gol }} </span>
                            <span v-else> - </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jabatan</td>
                        <td colspan="5">{{ selectedPegawai.penempatan[0].jabatan }}</td>
                    </tr>
                    <tr>
                        <td>Unit Kerja</td>
                        <td colspan="5">{{ selectedPegawai.penempatan[0].nama_unit }}</td>
                    </tr>
                </tbody>
                <template v-if="atasan.penilai">
                    <thead slot="head" class="text-nowrap">
                        <tr>
                            <th colspan="6">2. PEJABAT PENILAI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nama</td>
                            <td colspan="5">{{ atasan.penilai.user.fullname}}</td>
                        </tr>
                        <tr>
                            <td>NIP</td>
                            <td colspan="5">{{ atasan.penilai.user.nip}}</td>
                        </tr>
                        <tr>
                            <td>Pangkat/Gol</td>
                            <td colspan="5">
                                <span v-if="atasan.penilai.user.gol"> {{ atasan.penilai.user.gol }} </span>
                                <span v-else> - </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Jabatan</td>
                            <td colspan="5">{{ atasan.penilai.position.jabatan}}</td>
                        </tr>
                        <tr>
                            <td>Unit Kerja</td>
                            <td colspan="5">{{ atasan.penilai.unit.nama_unit}}</td>
                        </tr>
                    </tbody>
                </template>
                <template v-if="atasan.atasanPenilai">
                    <thead slot="head" class="text-nowrap">
                        <tr>
                            <th colspan="6">3. ATASAN PEJABAT PENILAI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nama</td>
                            <td colspan="5">{{ atasan.atasanPenilai.user.fullname}}</td>
                        </tr>
                        <tr>
                            <td>NIP</td>
                            <td colspan="5">{{ atasan.atasanPenilai.user.nip}}</td>
                        </tr>
                        <tr>
                            <td>Pangkat/Gol</td>
                            <td colspan="5">
                                <span v-if="atasan.atasanPenilai.user.gol"> {{ atasan.atasanPenilai.user.gol }} </span>
                                <span v-else> - </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Jabatan</td>
                            <td colspan="5">{{ atasan.penilai.position.jabatan}}</td>
                        </tr>
                        <tr>
                            <td>Unit Kerja</td>
                            <td colspan="5">{{ atasan.penilai.unit.nama_unit}}</td>
                        </tr>
                    </tbody>
                </template>
                <thead class="text-nowrap">
                    <tr>
                        <th colspan="5" class="v-center">
                            {{ noUnsur }}. Unsur Yang Dinilai
                        </th>
                        <th colspan="1" class="v-center">Jumlah</th>
                    </tr>
                </thead>
                <tbody class="text-nowrap">
                    <tr>
                        <td colspan="2">a. Sasaran Kerja Pegawai</td>
                        <td :class="{ 'text-center' : !prestasi.capaian }">{{ prestasi.capaian ? prestasi.capaian : '-'}}</td>
                        <td class="text-center">x</td>
                        <td class="text-center">60%</td>
                        <td class="text-center">{{ prestasi.capaian ? persenCapaian : '-'}}</td>
                    </tr>
                    <template v-if="prestasi.perilaku">
                        <tr>
                            <td rowspan="10">b. Perilaku Kerja</td>
                        </tr>
                        <template v-for="(value, name, index) in prestasi.perilaku">
                            <template v-if="name != 'average'">
                            <tr>
                                <td class="text-capitalize">{{ index+1 }}. {{ name == 'pelayanan' ? 'Orientasi Pelayanan' : name }}</td>
                                <td> {{ value ? value : '-' }}</td>
                                <td colspan="2">{{ value ? kriteria(value) : '-'}}</td>
                                <td></td>
                            </tr>
                            </template>
                        </template>
                        <tr>
                            <td>7. Jumlah</td>
                            <td>{{ jumlah }}</td>
                            <td colspan="2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8. Nilai rata-rata</td>
                            <td>{{ prestasi.perilaku.average }}</td>
                            <td colspan="2">{{kriteria(prestasi.perilaku.average)}}</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>9. Perilaku Kerja</td>
                            <td>{{ prestasi.perilaku.average }}</td>
                            <td class="text-center">x</td>
                            <td class="text-center">40%</td>
                            <td>{{ persenPerilaku }}</td>
                        </tr>
                        <tr>
                            <td rowspan="2" colspan="5">Nilai Prestasi Kinerja</td>
                            <td>{{ totalPrestasi }}</td>
                        </tr>
                        <tr>
                            <td>{{ kriteria(totalPrestasi) }}</td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="2">b. Perilaku Kerja</td>
                            <td class="text-center">-</td>
                            <td class="text-center">x</td>
                            <td class="text-center">40%</td>
                            <td class="text-center">-</td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <!-- tanda tangan -->
            <template v-if="atasan.penilai" >
            <template v-if="printOnly && !atasan.atasanPenilai">
                <div class="float-right mr-5 pr-5">
                    <div class="text-center" style="margin: 2rem 0rem">
                        Cibinong, 31 Desember {{select.year}}
                        <p style="margin-bottom: 4rem">Pejabat Penilai</p>

                        <b>{{ atasan.penilai.user.fullname}}</b>
                        <p>{{ atasan.penilai.user.nip }}</p>
                    </div>
                </div>
            </template>
            <template v-if="printOnly && atasan.atasanPenilai">
                <div class="d-flex justify-content-between align-items-bottom" style="padding: 0rem 10rem">
                    <div class="text-center" style="margin: 2rem 0rem">
                        Cibinong, 31 Desember {{select.year}}
                        <p style="margin-bottom: 4rem">Pejabat Penilai</p>

                        <b>{{ atasan.penilai.user.fullname}}</b>
                        <p>{{ atasan.penilai.user.nip }}</p>
                    </div>
                    <div class="text-center" style="margin: 2rem 0rem">
                        Mengetahui
                        <p style="margin-bottom: 4rem">Atasan Pejabat Penilai</p>

                        <b>{{ atasan.atasanPenilai.user.fullname}}</b>
                        <p>{{ atasan.atasanPenilai.user.nip }}</p>
                    </div>
                </div>
            </template>
            </template>
        </b-card>
        </transition>
        <transition name="success">
        <div class="text-center" v-if="prestasi.length == 0 && !loading">
          <b-img fluid :src="imgUrl" alt="Register V2" />
        </div>
        </transition>
        </div>
</v-app>
</template>

<script>
import SkpTahunanModal from './SkpTahunanModal.vue'
import Api from '@axios'

export default {
    components: {
        SkpTahunanModal,
    },
    data() {
        return {
            prestasi: [],
            isJft: false,
            printOnly: false,
            first: true,
            tooltip: false,
            year: [],
            select: {
                year: new Date().getFullYear(),
                id_user : null,
            },
            sideImg: require('@/assets/images/pages/register-v2.svg'),
            lastId: '',
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['butir_kegiatan'], active:true },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
                selectedRows: []
            },
            loading: true,
            atasan: {},
        }
    },
    computed:{
        noUnsur(){
            if(this.atasan.penilai && this.atasan.atasanPenilai){
                return '4'
            }else if(this.atasan.penilai && !this.atasan.atasanPenilai){
                return '3'
            }else{
                return '2'
            }
        },
        sourceCSS(){
            return this.$store.state.app.sourceCSS;
        },
        pegawai(){
            return this.$store.state.user.pegawai;
        },
        selectedPegawai(){
            return this.pegawai.find( x => x.id == this.select.id_user)
        },
        tupoksi(){
            return this.$store.state.skp.tupoksi;
        },
        jumlah(){
            const perilaku =  this.prestasi.perilaku;
            if(perilaku){
                const arr = Object.keys(perilaku).map( (key) => perilaku[key])
                return arr.reduce((a, b) => a + b, 0)
            }
        },
        persenCapaian(){
            return Math.round(this.prestasi.capaian * 0.6 * 100) / 100
        },
        persenPerilaku(){
            return Math.round(this.prestasi.perilaku.average * 0.4 * 100) / 100
        },
        totalPrestasi(){
            return Math.round((this.persenCapaian + this.persenPerilaku) * 100 ) / 100;
        },
        imgUrl() {
            if (this.$store.state.appConfig.layout.skin === 'dark') {
                // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
                return this.sideImg
            }else{
                this.sideImg = require('@/assets/images/pages/register-v2.svg')
                return this.sideImg
            }
        },
    },
    methods: {
        kriteria(value){
            if(value <= 50){
                return 'Buruk'
            }else if (value > 50 && value <= 60){
                return 'Sedang'
            }else if (value > 60 && value <= 75){
                return 'Cukup'
            }else if (value > 75 && value <= 90){
                return 'Baik'
            }else if (value > 90){
                return 'Sangat Baik'
            }
        },
        printer(){
            const options = {
                name: '_blank',
                specs: [
                    'fullscreen=yes',
                    // 'titlebar=yes',
                    // 'scrollbars=yes'
                ],
                styles: [
                    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                    this.sourceCSS,
                    './print-prestasi.css',
                    // '../../../../public/css/app.css',
                ],
                timeout: 1000, // default timeout before the print window appears
                autoClose: true, // if false, the window will not close after printing
                windowTitle: window.document.title, // override the window title
            }
            this.printOnly = true;
            this.$nextTick(()=> {
                this.$htmlToPaper('section-to-print', options, () => {
                    this.printOnly = false;
                });
            })
        },
        fetchPrestasi(){
            this.loading = true;
            this.getAtasan();
            Api.post('get-prestasi', this.select)
            .then(response => {
                this.prestasi = response.data
                this.loading = false
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        getAtasan(){
            let user = this.selectedPegawai;
            let request = {
                level : user ? user.penempatan[0].level : null,
                id_unit : user ? user.penempatan[0].id_unit : null,
            }
            let placement = user ? user.penempatan : null;
            if (placement.length) {
                let result = placement.find(x => x.jenisjab == 'JFT')
                if (result) {
                    this.isJft = true
                }else{
                    this.isJft = false
                }
            }
            Api.post('get-atasan', request)
            .then( response => {
                this.atasan = response.data
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchUser(){
            if(this.pegawai.length == 0){
                var link = this.$can('manage', 'all') || this.$can('read', 'direktur') ? "user/getPegawaiAll" : "user/getPegawai"
                this.$store.dispatch(link)
                .then( () => {
                    this.loading = false
                })
                .catch(error => {
                    this.loading = false;
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }else{
                this.loading = false
            }
        },
        countYear(){
            var from = 2020
            var to = new Date().getFullYear()
            var count = to - from
            for (let i = 0; i < count+1; i++) {
                this.year.push(from++)
            }
        },
        async tooltipToggle(){
            await this.sleep(1000);
            this.tooltip = true
        },
        sleep(ms){
            return new Promise( (resolve) => {
                setTimeout(resolve, ms)
            })
        },
    },
    mounted() {
        this.fetchUser();
        this.$nextTick(() => {
            this.tooltipToggle()
        })
    },
    created() {
        this.countYear();
    },
    updated() {
    },
    watch:{

    }
}
</script>
