<template>
<v-app class="bg-transparent mb-2" dark>
    <div style="min-height: 420px">
        <b-card >
            <b-row>
                <b-col lg="4" md="4" sm="6" class="d-flex d-inline align-items-center">
                    <div class="mr-2 text-nowrap">Tahun Penilaian :</div>
                    <v-select v-model="select.year" return-object :items="year"
                        outlined dense hide-details="auto"
                        @change="fetchPrestasi()" :disabled="loading" >
                        <template slot="append" v-if="loading">
                            <v-progress-circular indeterminate color="primary" :size="23"></v-progress-circular>
                        </template>
                    </v-select>
                </b-col>
                <b-col class="text-right">
                    <v-btn color="primary" class="text-capitalize" text :disabled="!prestasi.capaian && !prestasi.perilaku">
                        <v-icon left>mdi-file-excel</v-icon> Export
                    </v-btn>
                    <v-btn color="primary" class="text-capitalize" @click="printer" :disabled="!prestasi.capaian && !prestasi.perilaku">
                        <v-icon left>mdi-printer</v-icon> Print
                    </v-btn>
                    <!-- <b-button @click.prevent="printJs"> print</b-button> -->
                </b-col>
            </b-row>
        </b-card>
        <transition name="success">
        <b-card no-body v-if="prestasi.length !== 0 && !loading" class="mt-1 table-responsive" id="section-to-print">
            <template v-if="printOnly">
                <h2 class="text-center" style="margin-bottom: 2rem">PENILAIAN PRESTASI KERJA PEGAWAI RSUD CIBINONG</h2>
                <p>Jangka waktu penilaian 1 Januari {{ select.year }} s/d 31 Desember {{ select.year }}</p>
            </template>
            <table class="wrap table table-bordered prestasi" v-if="atasan">
                <thead slot="head" class="text-nowrap">
                    <tr>
                        <th colspan="6">1. PEGAWAI YANG DINILAI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nama</td>
                        <td colspan="5">{{ userLogin.fullname }}</td>
                    </tr>
                    <tr>
                        <td>NIP</td>
                        <td colspan="5">{{ userLogin.nip }}</td>
                    </tr>
                    <tr>
                        <td>Pangkat/Gol</td>
                        <td colspan="5">
                            <span v-if="userLogin.gol"> {{ userLogin.gol }} </span>
                            <span v-else> - </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jabatan</td>
                        <td colspan="5">{{ userLogin.placement[0].jabatan }}</td>
                    </tr>
                    <tr>
                        <td>Unit Kerja</td>
                        <td colspan="5">{{ userLogin.placement[0].nama_unit }}</td>
                    </tr>
                </tbody>
                <template v-if="atasan.penilai">
                    <thead slot="head" class="text-nowrap">
                        <tr>
                            <th colspan="6">2. PEJABAT PENILAI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nama</td>
                            <td colspan="5">{{ atasan.penilai.user.fullname}}</td>
                        </tr>
                        <tr>
                            <td>NIP</td>
                            <td colspan="5">{{ atasan.penilai.user.nip}}</td>
                        </tr>
                        <tr>
                            <td>Pangkat/Gol</td>
                            <td colspan="5">
                                <span v-if="atasan.penilai.user.gol"> {{ atasan.penilai.user.gol }} </span>
                                <span v-else> - </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Jabatan</td>
                            <td colspan="5">{{ atasan.penilai.position.jabatan}}</td>
                        </tr>
                        <tr>
                            <td>Unit Kerja</td>
                            <td colspan="5">{{ atasan.penilai.unit.nama_unit}}</td>
                        </tr>
                    </tbody>
                </template>
                <template v-if="atasan.atasanPenilai">
                    <thead slot="head" class="text-nowrap">
                        <tr>
                            <th colspan="6">3. ATASAN PEJABAT PENILAI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nama</td>
                            <td colspan="5">{{ atasan.atasanPenilai.user.fullname}}</td>
                        </tr>
                        <tr>
                            <td>NIP</td>
                            <td colspan="5">{{ atasan.atasanPenilai.user.nip}}</td>
                        </tr>
                        <tr>
                            <td>Pangkat/Gol</td>
                            <td colspan="5">
                                <span v-if="atasan.atasanPenilai.user.gol"> {{ atasan.atasanPenilai.user.gol }} </span>
                                <span v-else> - </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Jabatan</td>
                            <td colspan="5">{{ atasan.penilai.position.jabatan}}</td>
                        </tr>
                        <tr>
                            <td>Unit Kerja</td>
                            <td colspan="5">{{ atasan.penilai.unit.nama_unit}}</td>
                        </tr>
                    </tbody>
                </template>
                <thead class="text-nowrap">
                    <tr>
                        <th colspan="5" class="v-center">
                            {{ noUnsur }}. Unsur Yang Dinilai
                        </th>
                        <th colspan="1" class="v-center">Jumlah</th>
                    </tr>
                </thead>
                <tbody class="text-nowrap">
                    <tr>
                        <td colspan="2">a. Sasaran Kerja Pegawai</td>
                        <td :class="{ 'text-center' : !prestasi.capaian }">{{ prestasi.capaian ? prestasi.capaian : '-'}}</td>
                        <td class="text-center">x</td>
                        <td class="text-center">60%</td>
                        <td class="text-center">{{ prestasi.capaian ? persenCapaian : '-'}}</td>
                    </tr>
                    <template v-if="prestasi.perilaku">
                        <tr>
                            <td rowspan="10">b. Perilaku Kerja</td>
                        </tr>
                        <template v-for="(value, name, index) in prestasi.perilaku">
                            <template v-if="name != 'average'">
                            <tr>
                                <td class="text-capitalize">{{ index+1 }}. {{ name == 'pelayanan' ? 'Orientasi Pelayanan' : name }}</td>
                                <td> {{ value ? value : '-' }}</td>
                                <td colspan="2">{{ value ? kriteria(value) : '-'}}</td>
                                <td></td>
                            </tr>
                            </template>
                        </template>
                        <tr>
                            <td>7. Jumlah</td>
                            <td>{{ jumlah }}</td>
                            <td colspan="2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8. Nilai rata-rata</td>
                            <td>{{ prestasi.perilaku.average }}</td>
                            <td colspan="2">{{kriteria(prestasi.perilaku.average)}}</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>9. Perilaku Kerja</td>
                            <td>{{ prestasi.perilaku.average }}</td>
                            <td class="text-center">x</td>
                            <td class="text-center">40%</td>
                            <td>{{ persenPerilaku }}</td>
                        </tr>
                        <tr>
                            <td rowspan="2" colspan="5">Nilai Prestasi Kinerja</td>
                            <td>{{ totalPrestasi }}</td>
                        </tr>
                        <tr>
                            <td>{{ kriteria(totalPrestasi) }}</td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="2">b. Perilaku Kerja</td>
                            <td class="text-center">-</td>
                            <td class="text-center">x</td>
                            <td class="text-center">40%</td>
                            <td class="text-center">-</td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <!-- tanda tangan -->
            <template v-if="atasan.penilai" >
            <template v-if="printOnly && !atasan.atasanPenilai">
                <div class="float-right mr-5 pr-5">
                    <div class="text-center" style="margin: 2rem 0rem">
                        Cibinong, 31 Desember {{select.year}}
                        <p style="margin-bottom: 4rem">Pejabat Penilai</p>

                        <b>{{ atasan.penilai.user.fullname}}</b>
                        <p>{{ atasan.penilai.user.nip }}</p>
                    </div>
                </div>
            </template>
            <template v-if="printOnly && atasan.atasanPenilai">
                <div class="d-flex justify-content-between align-items-bottom" style="padding: 0rem 10rem">
                    <div class="text-center" style="margin: 2rem 0rem">
                        Cibinong, 31 Desember {{select.year}}
                        <p style="margin-bottom: 4rem">Pejabat Penilai</p>

                        <b>{{ atasan.penilai.user.fullname}}</b>
                        <p>{{ atasan.penilai.user.nip }}</p>
                    </div>
                    <div class="text-center" style="margin: 2rem 0rem">
                        Mengetahui
                        <p style="margin-bottom: 4rem">Atasan Pejabat Penilai</p>

                        <b>{{ atasan.atasanPenilai.user.fullname}}</b>
                        <p>{{ atasan.atasanPenilai.user.nip }}</p>
                    </div>
                </div>
            </template>
            </template>
        </b-card>
        </transition>
    </div>

        <!-- <skp-tahunan-modal ref="SkpModal" :isJft="isJft" :tupoksi="tupoksi" :tahun="select.year"/> -->
</v-app>
</template>

<script>
import SkpTahunanModal from './SkpTahunanModal.vue'
import Api from '@axios'

export default {
    components: {
        SkpTahunanModal,
    },

    computed:{
        noUnsur(){
            if(this.atasan.penilai && this.atasan.atasanPenilai){
                return '4'
            }else if(this.atasan.penilai && !this.atasan.atasanPenilai){
                return '3'
            }else{
                return '2'
            }
        },
        userLogin(){
            return this.$store.state.user.userLogin;
        },
        atasan(){
            return this.$store.state.user.atasan;
        },
        persenCapaian(){
            return Math.round(this.prestasi.capaian * 0.6 * 100) / 100
        },
        persenPerilaku(){
            return Math.round(this.prestasi.perilaku.average * 0.4 * 100) / 100
        },
        totalPrestasi(){
            return Math.round((this.persenCapaian + this.persenPerilaku) * 100 ) / 100;
        },
        jumlah(){
            const perilaku =  this.prestasi.perilaku;
            if(perilaku){
                const arr = Object.keys(perilaku).map( (key) => perilaku[key])
                return arr.reduce((a, b) => a + b, 0)
            }
        },
    },
    data() {
        return {
            printOnly: false,
            prestasi: {},
            year: [],
            select: {
                id_user: null,
                year: new Date().getFullYear(),
            },
            sideImg: require('@/assets/images/pages/register-v2.svg'),
            lastId: '',
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['butir_kegiatan'], active:true },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
                selectedRows: []
            },
            loading: true,
        }
    },
    methods: {
        printer(){
            const options = {
                name: '_blank',
                specs: [
                    'fullscreen=yes',
                    'titlebar=yes',
                    'scrollbars=yes'
                ],
                styles: [
                    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                    'http://10.122.131.32:8080/css/app.css',
                    './print.css',
                    'https://unpkg.com/kidlat-css/css/kidlat.css'
                ],
                timeout: 1000, // default timeout before the print window appears
                autoClose: true, // if false, the window will not close after printing
                windowTitle: window.document.title, // override the window title
            }
            this.printOnly = true;
            this.$nextTick(()=> {
                this.$htmlToPaper('section-to-print', options, () => {
                    this.printOnly = false;
                });
            })
        },
        kriteria(value){
            if(value <= 50){
                return 'Buruk'
            }else if (value > 50 && value <= 60){
                return 'Sedang'
            }else if (value > 60 && value <= 75){
                return 'Cukup'
            }else if (value > 75 && value <= 90){
                return 'Baik'
            }else if (value > 90){
                return 'Sangat Baik'
            }
        },
        fetchPrestasi(){
            if(this.userLogin){
                this.select.id_user = this.userLogin.id;
                this.loading = true;
                Api.post('get-prestasi', this.select)
                .then(response => {
                    this.prestasi = response.data
                    this.loading = false
                })
                .catch(error => {
                    this.loading = false;
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }
        },
        countYear(){
            var from = 2020
            var to = new Date().getFullYear()
            var count = to - from
            for (let i = 0; i < count+1; i++) {
                this.year.push(from++)
            }
        },
    },
    mounted() {
        this.fetchPrestasi();
    },
    created() {
        this.countYear()
    },
    watch:{
        'userLogin' : 'fetchPrestasi'

    }
}
</script>
