@media print {
    html,body{height:100%;width:100%;margin:0;padding:0;}
    /* body {transform: scale(.6) !important} */
    /* table {page-break-inside: avoid !important} */
    @page {
        size: landscape !important;
    }
  }
.v-center {
    vertical-align : middle !important;
}
