@media print {
    html, body {
        /* height: auto; */
        height:100%;width:100%;margin:0;padding:0;
        background-color: transparent !important;
    }
    tr {
        font-size: 5pt !important;
    }
    td {
        padding: 5rem 2rem !important;
    }
    .break {
        page-break-before: always;
    }

    @page {
        size: portrait !important;
    }
    footer.footer {
        display: none;
    }
}
