<template>
<v-app class="bg-transparent mb-2" dark>
    <div style="min-height: 420px">
        <b-card class="mb-0">
            <b-row>
                <b-col lg="2" md="4" sm="4" class="d-flex d-inline align-items-center">
                    <v-select v-model="select.year" :items="year" label="Tahun"
                        outlined dense hide-details="auto"
                        @change="fetchSkps()" :disabled="loading" >
                    </v-select>
                </b-col>
                <b-col lg="6" md="8" sm="8" class="d-flex d-inline align-items-center">
                    <v-autocomplete v-model="select.id_user" :items="pegawai" label="Pegawai" item-value="id" item-text="fullname"
                        outlined dense hide-details="auto" id="pilih-pegawai" @click="tooltip = false"
                        @change="fetchSkps()" :disabled="loading" >
                    </v-autocomplete>
                    <b-tooltip :show="tooltip" :disabled="!tooltip" target="pilih-pegawai" placement="bottom" variant="primary">
                        pilih pegawai terlebih dahulu
                    </b-tooltip>
                </b-col>
                <b-col class="text-right">
                    <v-btn color="primary" class="text-capitalize" text :disabled="skpPegawai.length == 0">
                        <v-icon left>mdi-file-excel</v-icon> Export
                    </v-btn>
                    <v-btn color="primary" class="text-capitalize" @click="printer" :disabled="skpPegawai.length == 0">
                        <v-icon left>mdi-printer</v-icon> Print
                    </v-btn>
                    <!-- <b-button @click.prevent="printJs"> print</b-button> -->
                </b-col>
            </b-row>
        </b-card>
        <div v-if="loading">
            <v-progress-linear :size="80" :width="50" indeterminate color="primary" rounded />
        </div>
        <br>
        <b-card no-body v-if="skpPegawai.length !== 0 && !loading" class="mt-1 table-responsive">
            <table class="wrap table table-bordered">
                <thead slot="head" class="text-nowrap">
                    <tr>
                        <th colspan="2">PEJABAT PENILAI</th>
                        <th colspan="2">PEGAWAI YANG DINILAI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Nama</th>
                        <th>{{ atasan.penilai.user.fullname}}</th>
                        <th>Nama</th>
                        <th>{{ selectedPegawai.fullname }}</th>
                    </tr>
                    <tr>
                        <th>NIP</th>
                        <th>{{ atasan.penilai.user.nip}}</th>
                        <th>NIP</th>
                        <th>{{ selectedPegawai.nip }}</th>
                    </tr>
                    <tr>
                        <th>Pangkat/Gol</th>
                        <th>
                            <span v-if="atasan.penilai.user.gol"> {{ atasan.penilai.user.gol }} </span>
                            <span v-else> - </span>
                        </th>
                        <th>Pangkat/Gol</th>
                        <th>
                            <span v-if="selectedPegawai.gol"> {{ selectedPegawai.gol }} </span>
                            <span v-else> - </span>
                        </th>
                    </tr>
                    <tr>
                        <th>Jabatan</th>
                        <th>{{ atasan.penilai.position.jabatan}}</th>
                        <th>Jabatan</th>
                        <th>{{ selectedPegawai.penempatan[0].jabatan }}</th>
                    </tr>
                    <tr>
                        <th>Unit Kerja</th>
                        <th>{{ atasan.penilai.unit.nama_unit}}</th>
                        <th>Unit Kerja</th>
                        <th>{{ selectedPegawai.penempatan[0].nama_unit }}</th>
                    </tr>
                </tbody>
            </table>
        </b-card>

        <transition name="success">
        <b-card no-body class="mb-0 mt-5" v-if="skpPegawai.length !== 0 && !loading">
            <div id="section-to-print">
                <template v-if="printOnly">
                    <h2 class="text-center" style="margin-bottom: 2rem">Penilaian Sasaran Kinerja Pegawai</h2>
                    <p>Jangka waktu penilaian 1 Januari {{ select.year }} s/d 31 Desember {{ select.year }}</p>
                </template>
                <div class="card-body table-responsive p-0 mb-0 rounded-top">
                    <!-- style="height: 450px" -->
                    <v-table class="wrap table table-hover table-bordered" id="table"
                    :data="skpPegawai"
                    :currentPage.sync="sTable.currentPage"
                    :pageSize="sTable.pagination"
                    :filters="sTable.filters"
                    @totalItemsChanged="sTable.totalItem = $event"
                    @totalPagesChanged="sTable.totalPages = $event">
                    <thead slot="head" class="text-nowrap">
                        <tr>
                            <th rowspan="2" class="v-center">Kegiatan Tugas Jabatan</th>
                            <th rowspan="2" class="v-center" v-if="isJft">AK</th>
                            <th colspan="4" class="text-center">Target</th>
                            <th rowspan="2" class="v-center" v-if="isJft">AK</th>
                            <th colspan="4" class="text-center">Realisasi</th>
                            <th rowspan="2" class="v-center">Penghitungan</th>
                            <th rowspan="2" class="v-center">Nilai Capaian</th>
                        </tr>
                        <tr>
                            <th>Kuant/Output</th>
                            <th>Kual/Mutu</th>
                            <th>Waktu</th>
                            <th>Biaya</th>
                            <th>Kuant/Output</th>
                            <th>Kual/Mutu</th>
                            <th>Waktu</th>
                            <th>Biaya</th>
                        </tr>
                    </thead>
                    <tbody slot="body" slot-scope="{displayData}">
                        <tr role="row" class="b-table-busy-slot" v-if="loading">
                            <td colspan="6" role="cell">
                                <div class="text-center text-primary my-2">
                                    <span aria-hidden="true" class="align-middle spinner-border"></span>
                                    <strong>Loading...</strong>
                                </div>
                            </td>
                        </tr>
                        <tr role="row" class="b-table-busy-slot" v-if="sTable.totalItem === 0 && !loading">
                            <td colspan="6" role="cell">
                                <div class="text-center text-primary my-2">
                                    <strong v-if="sTable.filters.nama.value == ''">Tupoksi belum ditentukan</strong>
                                    <strong v-else>Tupoksi tidak ditemukan</strong>
                                </div>
                            </td>
                        </tr>
                        <template v-if="sTable.totalItem !== 0 && !loading">
                        <tr v-for="(row) in displayData" :key="row.id" class="" :id="'row'+row.id">
                            <td style="width: 400px">
                                {{row.tupoksi.butir_kegiatan}}
                            </td>
                            <td v-show="isJft">{{row.tupoksi.angka_kredit * row.t_qty}}</td>
                            <td>{{row.t_qty}} {{row.tupoksi.satuan_hasil}}</td>
                            <td>100</td>
                            <td>{{row.t_waktu}} <span v-if="row.t_waktu">bulan</span></td>
                            <td v-if="row.t_biaya" class="text-nowrap">{{row.t_biaya | currency}}</td>
                            <td v-if="!row.t_biaya">-</td>
                            <td v-show="isJft">{{row.tupoksi.angka_kredit * row.r_qty}}</td>
                            <td>{{row.r_qty}} {{row.tupoksi.satuan_hasil}}</td>
                            <td>{{row.r_mutu}}</td>
                            <td>{{row.r_waktu}} <span v-if="row.r_waktu">bulan</span></td>
                            <td v-if="row.r_biaya" class="text-nowrap">{{row.r_biaya | currency}}</td>
                            <td v-if="!row.r_biaya">-</td>
                            <td>{{ row.penghitungan }}</td>
                            <td>{{ row.capaian }}</td>
                            <!-- <td>{{ penghitungan(row).hasil }}</td>
                            <td>{{ penghitungan(row).nilai }}</td> -->
                        </tr>
                        <tr>
                            <td :colspan="isJft ? 12 : 10" rowspan="2" class="text-center">Nilai Capaian Kinerja</td>
                            <td>{{ average }}</td>
                        </tr>
                        <tr>
                            <td>{{ kinerja }}</td>
                        </tr>
                        </template>
                    </tbody>
                    </v-table>
                </div>
                <template v-if="printOnly">
                    <div class="float-right mr-5 pr-5">
                    <div class="text-center" style="margin: 2rem 0rem">
                        Cibinong, 31 Desember {{select.year}}
                        <p style="margin-bottom: 4rem">Pejabat Penilai</p>

                        <b>{{ atasan.penilai.user.fullname}}</b>
                        <p>{{ atasan.penilai.user.nip }}</p>
                    </div>
                    </div>
                </template>
            </div>
            <b-card-footer class="py-4">
                <b-row class="row d-flex justify-content-between">
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-left text-center">
                        <label for="pagination">Show</label>
                        <v-select small v-model="sTable.pagination" :items="[5, 25, 100]"
                            outlined dense class="per-page-selector d-inline-block mx-2" hide-details
                            style="width: 90px"/>
                        <label> from {{ sTable.totalItem }}</label>
                    </b-col>
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-right text-center">
                        <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
                    </b-col>
                </b-row>
            </b-card-footer>
        </b-card>
        </transition>
        <transition name="success">
        <div class="text-center" v-if="skpPegawai.length == 0 && !loading">
          <b-img fluid :src="imgUrl" alt="Register V2" class="w-50"/>
        </div>
        </transition>
        </div>
</v-app>
</template>

<script>
import SkpTahunanModal from './SkpTahunanModal.vue'
import Api from '@axios'

export default {
    components: {
        SkpTahunanModal,
    },
    data() {
        return {
            skpPegawai: [],
            isJft: false,
            printOnly: false,
            first: true,
            tooltip: false,
            year: [],
            select: {
                year: new Date().getFullYear(),
                id_user : null,
            },
            sideImg: require('@/assets/images/pages/register-v2.svg'),
            lastId: '',
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['butir_kegiatan'], active:true },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
                selectedRows: []
            },
            loading: true,
            atasan: {},
        }
    },
    computed:{
        pegawai(){
            return this.$store.state.user.pegawai;
        },
        selectedPegawai(){
            return this.pegawai.find( x => x.id == this.select.id_user)
        },
        tupoksi(){
            return this.$store.state.skp.tupoksi;
        },
        average(){
            let capaian = this.skpPegawai.map( x => x.capaian);
            let pembagi = this.skpPegawai.filter( x => x.capaian != null);
            let jmlh = capaian.reduce((a, b) => a + b, 0);
            return Math.round((jmlh / pembagi.length) * 100 ) / 100
        },
        kinerja(){
            if(this.average < 50){
                return 'Buruk'
            }else if (this.average > 50 && this.average <= 60){
                return 'Sedang'
            }else if (this.average > 60 && this.average <= 75){
                return 'Cukup'
            }else if (this.average > 75 && this.average <= 90){
                return 'Baik'
            }else if (this.average > 90){
                return 'Sangat Baik'
            }
        },
        imgUrl() {
            if (this.$store.state.appConfig.layout.skin === 'dark') {
                // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
                return this.sideImg
            }else{
                this.sideImg = require('@/assets/images/pages/register-v2.svg')
                return this.sideImg
            }
        },
    },
    methods: {
        printer(){
            const options = {
                name: '_blank',
                specs: [
                    'fullscreen=yes',
                    // 'titlebar=yes',
                    // 'scrollbars=yes'
                ],
                styles: [
                    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                    'http://10.122.131.32:8080/css/app.css',
                    './print.css',
                    'https://unpkg.com/kidlat-css/css/kidlat.css'
                ],
                timeout: 1000, // default timeout before the print window appears
                autoClose: true, // if false, the window will not close after printing
                windowTitle: window.document.title, // override the window title
            }
            this.printOnly = true;
            this.$nextTick(()=> {
                this.$htmlToPaper('section-to-print', options, () => {
                    this.printOnly = false;
                });
            })
        },
        fetchSkps(){
            this.loading = true;
            this.getAtasan();
            Api.post('get-skp-pegawai', this.select)
            .then(response => {
                this.skpPegawai = response.data
                this.loading = false
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        getAtasan(){
            let user = this.selectedPegawai;
            let request = {
                level : user ? user.penempatan[0].level : null,
                id_unit : user ? user.penempatan[0].id_unit : null,
            }
            let placement = user ? user.penempatan : null;
            if (placement.length) {
                let result = placement.find(x => x.jenisjab == 'JFT')
                if (result) {
                    this.isJft = true
                }else{
                    this.isJft = false
                }
            }
            Api.post('get-atasan', request)
            .then( response => {
                this.atasan = response.data;
            })
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchUser(){
            if(this.pegawai.length == 0){
                var link =
                    this.$can('manage', 'all') || this.$can('read', 'direktur') || this.$can('manage', 'pegawai')
                    ? "user/getPegawaiAll"
                    : "user/getPegawai"
                    ;
                this.$store.dispatch(link)
                .then( () => {
                    this.loading = false
                })
                .catch(error => {
                    this.loading = false;
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal!',
                        text: error.response.data.message,
                        showConfirmButton: false,
                        timer: 1500,
                    })
                })
            }else{
                this.loading = false
            }
        },
        countYear(){
            var from = 2020
            var to = new Date().getFullYear()
            var count = to - from
            for (let i = 0; i < count+1; i++) {
                this.year.push(from++)
            }
        },
        async tooltipToggle(){
            await this.sleep(1000);
            this.tooltip = true
        },
        sleep(ms){
            return new Promise( (resolve) => {
                setTimeout(resolve, ms)
            })
        }
    },
    mounted() {
        this.fetchUser();
        this.$nextTick(() => {
            this.tooltipToggle()
        })
    },
    created() {
        this.countYear();
    },
    updated() {
    },
    watch:{

    }
}
</script>

<style>
tbody tr th {
    font-weight: 300 !important;
}

</style>
