<template>
<v-app class="bg-transparent mb-2" dark>
    <div style="min-height: 420px">
        <b-card >
            <b-row>
                <b-col lg="4" md="4" sm="6" class="d-flex d-inline align-items-center">
                    <div class="mr-2 text-nowrap">Tahun SKP :</div>
                    <v-select v-model="select.year" return-object :items="year"
                        outlined dense hide-details="auto"
                        @change="fetchSkps()" :disabled="loading" >
                        <template slot="append" v-if="loading">
                            <v-progress-circular indeterminate color="primary" :size="23"></v-progress-circular>
                        </template>
                    </v-select>
                </b-col>
                <b-col class="text-right">
                    <v-btn color="primary" class="text-capitalize"  @click.prevent="$refs.SkpModal.addModal()">
                        <v-icon left>mdi-plus</v-icon> SKP
                    </v-btn>
                </b-col>
            </b-row>
        </b-card>
        <transition name="success">
        <b-card no-body class="mb-0" v-if="skps.length !== 0 && !loading">
            <!-- <div class="m-2">
                <b-row>
                    <b-col class="d-flex align-items-center justify-content-start mb-1 mb-md-0 order-2 order-md-1" >
                        <b-row>
                            <b-col v-if="sTable.filters.nama.active">
                                <b-input-group prepend="Butir Kegiatan">
                                <b-form-input  v-model="sTable.filters.nama.value" placeholder="Ketik untuk mencari" />
                                    <b-input-group-append is-text>
                                        <feather-icon icon="XIcon" class="cursor-pointer"
                                        @click="sTable.filters.nama.value = ''" />
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col cols="12" lg="auto" md="12" class="d-flex order-1 order-md-2 justify-content-between">
                        <v-btn color="primary" @click.prevent="$refs.SkpModal.addModal()">
                            <v-icon left>mdi-plus</v-icon>
                            <span class="text-capitalize"> Tupoksi</span>
                        </v-btn>
                    </b-col>
                </b-row>
            </div> -->

            <div class="card-body table-responsive table-invoice p-0 mb-0 rounded-top" id="table">
                <!-- style="height: 450px" -->
                <v-table class="wrap table table-hover" id="table"
                :data="skps"
                :currentPage.sync="sTable.currentPage"
                :pageSize="sTable.pagination"
                :filters="sTable.filters"
                @totalItemsChanged="sTable.totalItem = $event"
                @totalPagesChanged="sTable.totalPages = $event">
                <thead slot="head" class="text-nowrap">
                    <tr>
                        <v-th sortKey="tupoksi.butir_kegiatan" rowspan="2" class="v-center">Kegiatan Tugas Jabatan</v-th>
                        <v-th sortKey="tupoksi.angka_kredit" rowspan="2" class="v-center" v-if="isJft">AK</v-th>
                        <th colspan="4" class="text-center">Target</th>
                    </tr>
                    <tr>
                        <v-th sortKey="t_qty">Kuant/Output</v-th>
                        <v-th sortKey="t_mutu">Kual/Mutu</v-th>
                        <v-th sortKey="t_waktu">Waktu</v-th>
                        <v-th sortKey="t_biaya">Biaya</v-th>
                    </tr>
                </thead>
                <tbody slot="body" slot-scope="{displayData}">
                    <tr role="row" class="b-table-busy-slot" v-if="loading">
                        <td colspan="6" role="cell">
                            <div class="text-center text-primary my-2">
                                <span aria-hidden="true" class="align-middle spinner-border"></span>
                                <strong>Loading...</strong>
                            </div>
                        </td>
                    </tr>
                    <tr role="row" class="b-table-busy-slot" v-if="sTable.totalItem === 0 && !loading">
                        <td colspan="6" role="cell">
                            <div class="text-center text-primary my-2">
                                <strong v-if="sTable.filters.nama.value == ''">Tupoksi belum ditentukan</strong>
                                <strong v-else>Tupoksi tidak ditemukan</strong>
                            </div>
                        </td>
                    </tr>
                    <template v-if="sTable.totalItem !== 0 && !loading">
                    <tr v-for="(row) in displayData" :key="row.id" class="" :id="'row'+row.id">
                        <v-menu transition="slide-y-transition" absolute offset-y >
                        <template v-slot:activator="{ on, attrs }">
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on" style="width: 320px">
                                {{row.tupoksi.butir_kegiatan}}
                            </td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.t_biaya}} <span v-if="!row.t_biaya">-</span></td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.t_waktu}} <span v-if="row.t_waktu">bulan</span></td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">100</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on">{{row.t_qty}} {{row.tupoksi.satuan_hasil}}</td>
                            <td @click="selected(row.id)" v-bind="attrs" v-on="on" v-show="isJft">{{row.tupoksi.angka_kredit}}</td>
                        </template>
                        <v-list>
                            <v-list-item @click.prevent="$refs.SkpModal.editModal(row)" :disabled="row.penghitungan != null">
                                <v-icon small left v-if="row.penghitungan == null">mdi-pencil</v-icon>
                                <v-icon small left v-if="row.penghitungan != null"> mdi-pencil-off-outline </v-icon>
                                <v-list-item-title>edit</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click.prevent="deleteSkp(row.id)" :disabled="row.penghitungan != null">
                                <v-icon small left v-if="row.penghitungan == null">mdi-delete</v-icon>
                                <v-icon small left v-if="row.penghitungan != null"> mdi-delete-off </v-icon>
                                <v-list-item-title>Hapus</v-list-item-title>
                            </v-list-item>
                        </v-list>
                        </v-menu>
                    </tr>
                    </template>
                </tbody>
                </v-table>
            </div>
            <b-card-footer class="py-4">
                <b-row class="row d-flex justify-content-between">
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-left text-center">
                        <label for="pagination">Show</label>
                        <v-select small v-model="sTable.pagination" :items="[5, 25, 100]"
                            outlined dense class="per-page-selector d-inline-block mx-2" hide-details
                            style="width: 90px"/>
                        <label> from {{ sTable.totalItem }}</label>
                    </b-col>
                    <b-col cols="12" lg="auto" md="auto" sm="12" class="text-md-right text-center">
                        <smart-pagination class="mx-auto" style="width: fit-content" :currentPage.sync="sTable.currentPage" :totalPages="sTable.totalPages" :maxPageLinks="4"/>
                    </b-col>
                </b-row>
            </b-card-footer>
        </b-card>
        </transition>
        <transition name="success">
        <div class="text-center" v-if="skps.length == 0 && !loading">
          <b-img fluid :src="imgUrl" alt="Register V2" class="w-50"/>
        </div>
        </transition>
        <skp-tahunan-modal ref="SkpModal" :isJft="isJft" :tupoksi="tupoksi" :tahun="select.year"/>
    </div>
</v-app>
</template>

<script>
import SkpTahunanModal from './SkpTahunanModal.vue'
import Api from '@axios'
import { when } from '@vueuse/shared'

export default {
    components: {
        SkpTahunanModal
    },
    data() {
        return {
            year: [],
            select: {
                year: new Date().getFullYear(),
            },
            sideImg: require('@/assets/images/pages/register-v2.svg'),
            lastId: '',
            sTable: {
                filters: {
                    nama :{ value: '', keys: ['butir_kegiatan'], active:true },
                },
                totalPages: 0,
                totalItem: 0,
                pagination: 5,
                currentPage: 1,
                totalRows: 1,
                selectedRows: []
            },
            loading: true,
        }
    },
    computed:{
        tupoksi(){
            return this.$store.state.skp.tupoksi;
        },
        skps(){
            return this.$store.state.skp.skps;
        },
        isJft(){
            let placement = this.$store.state.user.userLogin.placement;
            if (placement) {
                let result = placement.filter(x => x.jenisjab == 'JFT')
                return result ? true : false;
            }
        },
        imgUrl() {
            if (this.$store.state.appConfig.layout.skin === 'dark') {
                // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
                return this.sideImg
            }else{
                this.sideImg = require('@/assets/images/pages/register-v2.svg')
                return this.sideImg
            }
        },
    },
    mounted() {
        this.fetchTupoksi();
        this.fetchSkps();
    },
    created() {
        this.countYear()
    },
    methods: {
        selected(id){
            if (this.lastId !== id) {
                var element = document.getElementById('row'+id);
                element.classList.add("table-active");
                if (this.lastId != '') {
                    var element2 = document.getElementById('row'+this.lastId);
                    if (element2) { element2.classList.remove("table-active"); }
                }
                this.lastId = id;
            } else{
                var element3 = document.getElementById('row'+this.lastId);
                if (element3) {
                    element3.classList.remove("table-active");
                    this.lastId = '';
                }
            }
        },
        reset(item){
            if(item.name !== 'TMT'){
                item.value = ''
            }else{
                item.value.start = null;
                item.value.end = null;
            }
        },
        fetchTupoksi(){
            this.$store.dispatch("skp/getTupoksi")
            .then()
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        fetchSkps(){
            this.loading = true;
            this.$store.dispatch("skp/getSkp", this.select)
            .then(() => this.loading = false )
            .catch(error => {
                this.loading = false;
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        countYear(){
            var from = 2020
            var to = new Date().getFullYear()
            var count = to - from
            for (let i = 0; i < count+1; i++) {
                this.year.push(from++)
            }
        },
        deleteSkp(id){
            this.$swal({
                title: 'Anda Yakin?',
                text: "Skp yang dihapus tidak dapat dikembalikan!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus saja!',
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-outline-secondary ml-1',
                },
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch("skp/deleteSkp", id)
                    .then(()=>{
                        this.$swal({
                            icon: 'success',
                            title: 'Dihapus!',
                            text: 'Skp berhasil dihapus',
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    }).catch((error)=>{
                        this.$swal({
                            icon: 'error',
                            title: 'Gagal!',
                            text: error.response.data.errors,
                            showConfirmButton: false,
                            timer: 1500,
                        })
                    });
                }
            })
        }
    },
    watch:{

    }
}
</script>
