<template>
    <b-modal ref="skpModal" centered no-close-on-backdrop modal-class="modal-primary" @ok="handleOk">
        <template #modal-title>
            <span v-show="!editmode" id="exampleModalCenterTitle">Tambah Butir SKP</span>
            <span v-show="editmode" id="exampleModalCenterTitle">Update Tupoksi</span>
        </template>
        <template #default>
        <validation-observer ref="skpValidation">
        <b-form @submit.prevent="submitForm()">
        <v-app class="bg-transparent" dark>
            <b-row class="mb-2">
                <b-col cols="12">
                    <validation-provider #default="{ errors }" name="Butir Kegiatan" rules="required" >
                    <label for="Butir Kegiatan">Kegiatan Tugas Jabatan</label>
                    <v-autocomplete v-model="form.id_tupoksi" :items="tupoksi" item-value="id" item-text="butir_kegiatan" outlined dense type="text" hide-details="auto" auto-grow rows="3"
                        :error-messages="'id_tupoksi' in errorData ? errorData.id_tupoksi : errors">
                        <template slot="item" slot-scope="tupoksi">
                            <p class="my-auto py-2" style="line-height: normal; width: 400px"> {{ tupoksi.item.butir_kegiatan }} </p>
                        </template>
                        <template v-slot:selection="data">
                            <span class="" style="line-height: normal;"> {{ data.item.butir_kegiatan }} </span>
                        </template>
                    </v-autocomplete>
                    </validation-provider>
                </b-col>
                <b-col cols="4" v-if="isJft">
                    <validation-provider #default="{ errors }" name="Kuantiti" rules="required" >
                    <label for="Angka Kredit">Kuantiti</label>
                    <v-text-field v-model="form.t_qty" outlined dense hide-details="auto"
                        type="number" :error-messages="errors" >
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="4" >
                    <validation-provider #default="{ errors }" name="Waktu" rules="required" >
                    <label for="Angka Kredit">Waktu</label>
                    <v-text-field v-model="form.t_waktu" outlined dense hide-details="auto"
                        type="number" :error-messages="errors" >
                        <template slot="append">
                            <span class="mt-1 text-muted"> Bulan </span>
                        </template>
                    </v-text-field>
                    </validation-provider>
                </b-col>
                <b-col cols="4">
                    <label for="Biaya">Biaya</label>
                    <v-text-field v-model="form.t_biaya" outlined dense hide-details="auto"
                        type="number" >
                    </v-text-field>
                </b-col>
            </b-row>
        </v-app>
        </b-form>
        </validation-observer>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="outline-secondary" @click="cancel()"> Batal </b-button>
            <b-button size="sm" variant="danger" :disabled="btnload" @click="ok()"> <b-spinner small v-if="btnload" /> Simpan</b-button>
        </template>
    </b-modal>
</template>

<script>
import Api from '@axios'
export default {
    props:{
        isJft : {
            type: Boolean,
        },
        tupoksi : {
            type: Array,
        },
        tahun : {
            type: Number,
        }
    },
    data() {
        return {
            errorData: {},
            btnload: false,
            form: new Form ({
                id:'',
                id_user : '',
                id_tupoksi : '',
                t_waktu : '',
                t_qty : '',
                t_biaya : '',
                tahun : '',
            }),
            editmode: false,
        }
    },
    methods: {
        editModal(row){
            this.editmode = true;
            this.errorData = {},
            this.form.reset();
            this.form.fill(row);
            this.$refs['skpModal'].show()
        },
        addModal(){
            this.editmode = false;
            this.errorData = {},
            this.form.reset();
            this.$refs['skpModal'].show()
        },
        handleOk(event) {
            event.preventDefault()
            this.submitForm()
        },
        submitForm(){
            this.$refs.skpValidation.validate().then(success => {
                if (success && this.editmode) {
                    this.updateTupoksi();
                }else if( success && !this.editmode){
                    this.createTupoksi();
                }
            })
        },
        createTupoksi(){
            this.errorData = {}
            this.btnload = true;
            this.form.id_user = this.$store.state.user.userLogin.id;
            this.form.tahun = this.tahun;
            this.$store.dispatch("skp/createSkp", this.form)
            .then(() => {
                this.$refs['skpModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Butir SKP baru berhasil dibuat',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
        updateTupoksi(){
            this.btnload = true;
            this.$store.dispatch("skp/updateSkp", this.form)
            .then(() => {
                this.$refs['skpModal'].hide();
                this.btnload = false;
                this.$swal({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: 'Butir SKP berhasil diperbarui',
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
            .catch(error => {
                this.btnload = false;
                this.errorData = error.response.data.errors
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal!',
                    text: error.response.data.message,
                    showConfirmButton: false,
                    timer: 1500,
                })
            })
        },
    },
}
</script>
