/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import './variables/variables';
@import '~@mdi/font/css/materialdesignicons.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~vue-form-wizard/dist/vue-form-wizard.min.css';
@import '../../@core/scss/vue/libs/vue-wizard.scss';
@import 'vue-sweetalert.scss';
// @import '~vuetify/src/styles/styles.sass';
// @import '../../../node_modules/sweetalert2/dist/sweetalert2.min.css';

// @import './fonts/font';
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// @import '../../frontend/node_modules/vuetify/dist/vuetify.css';
// @import '../../../node_modules/vuetify/dist/vuetify.css';

body {
    font-family: "Nunito", Helvetica, Arial, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    overflow-x: visible;
}
.mb2px {
    margin-bottom: 2px !important;
}
.mb5px {
    margin-bottom: 5px !important;
}

.main-menu.menu-light .navigation .navigation-header {
    margin: calc(1rem + 0.286rem) 0 0.8rem 2.2rem;
}

.main-menu.menu-light .navigation > li.active > a {
    box-shadow: 0 2px 5px 0px rgb(57 175 33 / 70%);
    border-radius: 4px;
}

.borderless td, .borderless th {
    border: none;
}

html body blockquote {
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-radius: 5px;
    padding: 15px;
}

// autocomplete style

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    -webkit-text-fill-color: #39af21;
    background-color: rgba(0, 0, 0, 0) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.theme--dark .table .table-active {
    background-color: rgba(#000, .30);
    color: white !important;
}

//transition vue
.success-enter-active {
    transition: all .5s ease;
}
.success-leave-active {
    transition: all .2s ease;
}
.success-enter {
    transform: translateY(-20px);
    opacity: 0;
}
.success-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}

.empty-enter {
    transform: translateY(20px);
    opacity: 0;
}
.empty-leave-to {
    transform: translateY(20px);
    opacity: 0;
}
.empty-enter-active {
    transition: all .2s ease;
}
.empty-leave-active {
    transition: all .5s ease;
}
.list-enter-active, .list-leave-active {
    transition: all 2s ease-in-out;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}
.flip-list-move {
    transition: transform 1s;
}

.loading-enter-active {
    transition: all .6s ease;
}
.loading-leave-active {
    transition: all .6s ease;
}
.loading-enter {
    // transform: translateY(30px);
    opacity: 0;
}
.loading-leave-to {
    // transform: translateY(-120px);
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .5s ease;
}
.slide-fade-leave-active {
    transition: all .2s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active di bawah versi 2.1.8 */ {
    transform: translateY(-20px);
    opacity: 0;
}

//======================================================================================

// custom scrollbar
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  .dark-layout::-webkit-scrollbar-track {
    background-color: #161d31;
    border-radius: 10px;
    width: 10px;

  }

  .dark-layout .scroll-area::-webkit-scrollbar-track {
    background-color: #161d313a;
    border-radius: 10px;

  }

  .scroll-area::-webkit-scrollbar {
    border-radius: 10px;
    width: 3px !important;
  }

  .dark-layout .card::-webkit-scrollbar-track {
    background-color: #252c41;
    border-radius: 10px;

  }
  .dark-layout .card-body::-webkit-scrollbar-track {
    background-color: #252c41;
    border-radius: 10px;

  }
  .dark-layout .card-body .scroll::-webkit-scrollbar-track {
    background-color: #252c41;
    border-radius: 10px;
  }
  .dark-layout .dd-scroll .dropdown-menu::-webkit-scrollbar-track {
    background-color: #252c41;
    border-radius: 10px;
  }

  .dark-layout .card-body .v-data-table__wrapper::-webkit-scrollbar-track {
    background-color: #252c41;
    border-radius: 10px;
  }

  .dark-layout .v-date-picker-years::-webkit-scrollbar-track {
    background-color: #252c41;
    border-radius: 10px;
  }

  .dark-layout .v-menu__content::-webkit-scrollbar-track {
    background-color: #252c41;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    // background: rgba(20, 20, 20, 0);
    // background: rgba(20, 20, 20, 0.349);
    background-color: #f8f8f8;
    border-radius: 10px;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }

//   ======================================================================================

[dir] body.dark-layout  .main-menu.menu-light .navigation > li.open:not(.menu-item-closing) > a, [dir] body.dark-layout .main-menu.menu-light .navigation > li.sidebar-group-active > a {
    background: #161d31;
    border-radius: 6px;
}

.v-center {
    vertical-align : middle !important;
    border-right : 2px solid #ebe9f1
}

.v-middle{
    vertical-align : middle !important;
}

.act {
    background: #283046 !important;
    .theme--dark.v-picker__body {
        background: #283046 !important;
    }
}

.w-fit {
    width: fit-content;
}

[dir] .dark-layout .footer-fixed .footer {
    background-color: #161d31;
    box-shadow: -3px 5px 30px rgb(24, 24, 24);
}

.activity-detail {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    background-color: #fff;
    border-radius: 7px;
    border: none;
    margin-bottom: 15px;
    position: relative;
    padding: 15px;
}
.activity-detail:before {
    content: "\F0D9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 28px;
    position: absolute;
    left: -8px;
    top: -4px;
    color: #fff;
}

[dir] .dark-layout .activity-detail {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    background-color: #283046;
    border-radius: 7px;
    border: none;
    margin-bottom: 15px;
    position: relative;
    padding: 15px;
}
[dir] .dark-layout .activity-detail:before {
    content: "\F0D9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 28px;
    position: absolute;
    left: -8px;
    top: -3px;
    color: #283046;
}

.nav-link .router-link-exact-active {
    border-radius: 4px;
    margin: auto;
    // width: 95% !important;
    // border: #ffffff;
    font-weight: 600;
    background-color: $primary !important;
    color: white !important;
}

.nav-link .router-link-exact-active:active {
    font-weight: 600;
    // background-color: #39af21;
    border-right: 7px solid $primary !important;
}

[dir] .row + .row {
    margin-top: -3px;
}

[dir] .user-list + .user-list {
    margin-top: 12px !important;
}

.w-fit {
    width: fit-content;
}

.fs-large {
    font-size: 1.5rem
}
.fw-normal{
    font-weight: 100 !important;
}
.break {
    page-break-before: always;
}
